<div class="card" *ngIf="equipe">
	<div class="card-block">
		<h5 class="card-title">{{equipe.Name}}</h5>
		<ngb-tabset>
			<ngb-tab title="Info">
				<template ngbTabContent>
					<div class="card">
						<div class="card-block">
							<div class="row">
								<div class="col-sm-2">equipe:</div>
								<div class="col-sm-6">{{equipe.Name}}</div>
							</div>
							<div class="row">
								<div class="col-sm-2">description:</div>
								<div class="col-sm-6">{{equipe.Description}}</div>
							</div>
						</div>
					</div>
				</template>
			</ngb-tab>
			<ngb-tab title="Users">
				<template ngbTabContent>
					<gg-user-list [usersObservable]="usersObservable"></gg-user-list>
				</template>
			</ngb-tab>
			<ngb-tab title="Otps">
				<template ngbTabContent>
					<gg-otp-list [otpsObservable]="otpsObservable"></gg-otp-list>
				</template>
			</ngb-tab>
			<ngb-tab title="Orders" *ngIf="anyOrder">
				<template ngbTabContent>
					<gg-order-list [ordersObservable]="ordersObservable"></gg-order-list>
				</template>
			</ngb-tab>
		</ngb-tabset>
	</div>
</div>