<div class="card">
	<div class="card-block">
		<ngb-accordion [closeOthers]="true" #acc="ngbAccordion" >
			<ngb-panel [disabled]="true">
				<template ngbPanelTitle>
                    <div class="row">
                        <div class="col-sm-3"><b>Equipe</b></div>
                        <div class="col-sm-2"><b>Available</b></div>
                    </div>									
				</template>
				<template ngbPanelContent>
					
				</template>				
			</ngb-panel>
			<ngb-panel *ngFor="let equipe of equipes | async" >
				<template ngbPanelTitle>
                    <div class="row">
                        <div class="col-sm-3">{{equipe.data.Name}}</div>
                        <div class="col-sm-2">{{equipe.annotation.amountAvailable | currency:'EUR':true:'1.2-2'}}</div>
                    </div>									
				</template>
				<template ngbPanelContent>
					<gg-equipe-detail [equipeObservable]="getEquipeObservable(equipe.data._id)"></gg-equipe-detail>
				</template>
			</ngb-panel>
		</ngb-accordion>
	</div>
</div>




