<ngb-tabset *ngIf="equipe">
	<ngb-tab title="Info">
		<template ngbTabContent>
			<div class="card">
				<div class="card-block">
					<div class="row">
						<div class="col-sm-4">equipe:</div>
						<div class="col-sm-6">{{equipe.data.Name}}</div>
					</div>
					<div class="row">
						<div class="col-sm-4">description:</div>
						<div class="col-sm-6">{{equipe.data.Description}}</div>
					</div>
					<div class="row">
						<div class="col-sm-4">total budget:</div>
						<div class="col-sm-6">{{equipe.annotation.budget | currency:'EUR':true:'1.2-2'}}</div>
					</div>
					<div class="row">
						<div class="col-sm-4">money spent:</div>
						<div class="col-sm-6">{{equipe.annotation.amountSpent | currency:'EUR':true:'1.2-2'}}</div>
					</div>
					<div class="row">
						<div class="col-sm-4">money available:</div>
						<div class="col-sm-6">{{equipe.annotation.amountAvailable | currency:'EUR':true:'1.2-2'}}</div>
					</div>
					<div class="row">
						<div class="col-sm-2">
							<img *ngIf="!equipe.annotation.dashletId" src="./images/pin.png" (click)="setDashlet()" />
							<img *ngIf="equipe.annotation.dashletId" src="./images/unpin.png" (click)="removeDashlet(equipe.annotation.dashletId)" />
						</div>
					</div>

				</div>
			</div>
		</template>
	</ngb-tab>
	<ngb-tab title="Graphics">
		<template ngbTabContent>
			<div class="card">
				<div class="card-block">
					<div class="row">
						<div class="col-sm-6">
							<div class='akbox'>
								<div class='akcontent'>
									<x-chartist [data]="pieSpentChart.data" [type]="pieSpentChart.type"></x-chartist>
								</div>
							</div>
							
						</div>"
					</div>

				</div>
			</div>
		</template>
	</ngb-tab>
	<ngb-tab title="Comments">
		<template ngbTabContent>
			<gg-comments [comments]="equipe.data.comments" (commentsUpdated)="commentsUpdated($event)"></gg-comments>
		</template>
	</ngb-tab>
	<ngb-tab title="Users">
		<template ngbTabContent>
			<gg-user-list [usersObservable]="usersObservable"></gg-user-list>
		</template>
	</ngb-tab>
	<ngb-tab title="Otps">
		<template ngbTabContent>
			<gg-otp-list [otpsObservable]="otpsObservable" [config]="{skip:['equipe']}"></gg-otp-list>
		</template>
	</ngb-tab>
	<ngb-tab title="Orders" *ngIf="anyOrder">
		<template ngbTabContent>
			<gg-order-list [ordersObservable]="ordersObservable"></gg-order-list>
		</template>
	</ngb-tab>
</ngb-tabset>