
<input class="editor__editable-content" type="number" min="0" step="1" [ngModel]="contentEdited" (ngModelChange)="validate($event)">     

<div class="editor__output">{{content}}</div>
<div *ngIf="!editMode" class="editor__controls">
  <button (click)="edit()" class="editor__icon-edit"></button>
</div>
<div *ngIf="editMode" class="editor__controls">
  <button (click)="save()" class="editor__icon-save"></button>
  <button (click)="cancel()" class="editor__icon-cancel"></button>
</div>
