<ngb-tabset *ngIf="voucher"  (tabChange)="beforeTabChange($event)" [activeId]="state.selectedTabId">
	<ngb-tab title="{{'ADMINISTRATION.WEB SHOPPING.MENU.INFO' | translate}}" id="tabInfo">
		<template ngbTabContent>
			<div class="card">
				<div class="card-block">
					<div class="row">
						<div class="col-sm-4 vcenter">creation date of the voucher:</div>
						<div class="col-sm-6 vcenter">{{voucher.data.dateCreation | fullDate}}
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4 vcenter">usage:</div>
						<div class="col-sm-6 vcenter" [style.color]="voucher.annotation.isUsed ? 'blue' : 'green'">{{voucher.annotation.status}}
						</div>
					</div>
					<div class="row" *ngIf="voucher.annotation.isUsed">
						<div class="col-sm-4 vcenter">Sap has been updated:</div>
						<div class="col-sm-6 vcenter" [style.color]="voucher.annotation.isInSap ? 'green' : 'red'">
							<gg-editor-boolean [content]="voucher.annotation.isInSap" (editSaved)="isInSapUpdated($event)"></gg-editor-boolean>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4 vcenter">for the use of user:</div>
						<div class="col-sm-6 vcenter">{{voucher.annotation.user}} {{voucher.annotation.isUsed ? ' / ' + voucher.annotation.equipe : ''}}
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4 vcenter">web supplier:</div>
						<div class="col-sm-6 vcenter">{{voucher.annotation.supplier}}/{{voucher.annotation.category}}
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4 vcenter">Sap Id to be used:</div>
						<div class="col-sm-6 vcenter">
							<gg-editor [content]="voucher.data.sapId" [showControls]="true" (editSaved)="sapIdUpdated($event)"></gg-editor>
						</div>
					</div>
					<div class="row" *ngIf="voucher.annotation.isUsed">
						<div class="col-sm-4 vcenter">amount:</div>
						<div class="col-sm-6 vcenter">{{voucher.data.shopping.total | currency:'EUR':true:'1.2-2'}}
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4 vcenter">otp:</div>
						<div class="col-sm-6 vcenter">
							<gg-editor-autocomplete [selectableData]="otpListObservable" [selectedId]="voucher.data.otpId" (idChanged)="otpChanged($event)" ></gg-editor-autocomplete>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4">_id:</div>
						<div class="col-sm-6">{{voucher.data._id}}</div>
					</div>
				</div>
			</div>
		</template>
	</ngb-tab>
	<ngb-tab title="{{'ADMINISTRATION.WEB SHOPPING.MENU.COMMENTS' | translate}}" id="tabComments">
		<template ngbTabContent>
			<gg-comments [comments]="voucher.data.comments" (commentsUpdated)="commentsUpdated($event)"></gg-comments>
		</template>
	</ngb-tab>	
	<ngb-tab title="{{'ADMINISTRATION.WEB SHOPPING.MENU.PURCHASE' | translate}}" id="tabPurchase" *ngIf="voucher.annotation.isUsed">
		<template ngbTabContent>
			<div class="card">
				<div class="card-block">
					<div class="row">
						<div class="col-sm-4 vcenter">using date:</div>
						<div class="col-sm-6 vcenter">{{voucher.data.shopping.date | fullDate}}</div>
					</div>
					<div class="row">
						<div class="col-sm-4 vcenter">used by equipe:</div>
						<div class="col-sm-6 vcenter">{{voucher.annotation.equipe}}</div>
					</div>
					<div class="row">
						<div class="col-sm-4 vcenter">description:</div>
						<div class="col-sm-6 vcenter">{{voucher.data.shopping.description}}</div>
					</div>
					<div class="row">
						<div class="col-sm-4 vcenter">total:</div>
						<div class="col-sm-6 vcenter">{{voucher.data.shopping.total | currency:'EUR':true:'1.2-2'}}</div>
					</div>
					<div class="row" *ngIf="authorizationStatusInfo && authorizationStatusInfo.isAdministrator()">
						<div class="col-sm-4 vcenter"><button (click)="deletePurchase()" class="btn btn-warning" type="submit" [disabled]="!iAgreeToDelete.checked">Delete the web shopping purchase order</button></div>
						<div class="col-sm-6 vcenter"><input type="checkbox"  #iAgreeToDelete> I am aware of the fact that if I delete this purchase, the information will be lost and I really want to delete it.<br></div>
					</div>

					
				</div>
			</div>			
		</template>
	</ngb-tab>	

	<ngb-tab title="{{'ADMINISTRATION.WEB SHOPPING.MENU.DELIVERY' | translate}}" id="tabDelivery" *ngIf="voucher.annotation.isUsed">
		<template ngbTabContent>
			<div class="card">
				<div class="card-block">
					<div class="row">
						<div class="col-sm-2">no delivery yet</div>
						<div class="col-sm-2"><input type="radio" name="radioDeliveryGroup" [checked]="!voucher.data.delivery || voucher.data.delivery==='nothing'" (change)="deliveryChanged('nothing')"/> </div>
					</div>
					<div class="row">
						<div class="col-sm-2">partially delivered</div>
						<div class="col-sm-2"><input type="radio" name="radioDeliveryGroup" [checked]="voucher.data.delivery==='partial'" (change)="deliveryChanged('partial')"/> </div>
					</div>
					<div class="row">
						<div class="col-sm-2">fully delivered</div>
						<div class="col-sm-2"><input type="radio" name="radioDeliveryGroup" [checked]="voucher.data.delivery==='complete'" (change)="deliveryChanged('complete')"/> </div>
					</div>
				</div>
			</div>			
		</template>
	</ngb-tab>	


</ngb-tabset>