<div class="row">
	<div class="col-sm-2 col-lg-2">full name:</div>
	<div class="col-sm-6">{{userInfo.annotation.fullName}}</div>
</div>
<div class="row">
	<div class="col-sm-2 col-lg-2 vcenter">email:</div>
	<div class="col-sm-6 vcenter">{{userInfo.data.email}}</div>
</div>
<div class="row">
	<div class="col-sm-2 col-lg-2 vcenter">name:</div>
	<div class="col-sm-6 vcenter">{{userInfo.data.name}}</div>
</div>
<div class="row">
	<div class="col-sm-2 col-lg-2 vcenter">first name:</div>
	<div class="col-sm-6 vcenter">{{userInfo.data.firstName}}</div>
</div>
<div class="row">
	<div class="col-sm-2 col-lg-2 vcenter">password:</div>
	<div class="col-sm-6 vcenter">{{userInfo.data.password}}</div>
</div>
