<div class="container-fluid">
    <form [formGroup]="newUserForm" (ngSubmit)="save(newUserForm.value, newUserForm.valid)">
        <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label col-xl-2">{{'USER.LABEL.NAME' | translate}}</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" formControlName="name" id="name" placeholder="{{'USER.LABEL.NAME OF THE USER PHOLDER' | translate}}">
            </div>
        </div>
        <div class="form-group row">
            <label for="firstName" class="col-sm-2 col-form-label col-xl-2">{{'USER.LABEL.FIRST NAME' | translate}}</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" formControlName="firstName" id="firstName" placeholder="{{'USER.LABEL.FIRST NAME OF THE USER PHOLDER' | translate}}">
            </div>
        </div>
        <div class="form-group row">
            <label for="email" class="col-sm-2 col-form-label col-xl-2">{{'USER.LABEL.EMAIL' | translate}}:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" formControlName="email" id="email" placeholder="{{'USER.LABEL.EMAIL' | translate}}">
            </div>
        </div>
        <div class="form-group row">
            <label for="password" class="col-sm-2 col-form-label col-xl-2">{{'USER.LABEL.PASSWORD' | translate}}:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" formControlName="password" id="password" placeholder="{{'USER.LABEL.PASSWORD' | translate}}">
            </div>
        </div>
        <div class="form-group row">
            <label for="isBlocked" class="col-sm-2 col-form-label col-xl-2 align-self-center">{{'USER.LABEL.IS BLOCKED' | translate}}</label>
            <div class="col-md-1 align-self-center">
                <input type="checkbox" class="form-control" formControlName="isBlocked" id="isBlocked" class="isCheckbox" value="">
            </div>
        </div>
        <div class="form-group row">
            <label for="isLaboUser" class="col-sm-2 col-form-label col-xl-2 align-self-center">{{'USER.LABEL.IS LABO USER' | translate}}</label>
            <div class="col-md-1 align-self-center">
                <input type="checkbox" class="form-control" formControlName="isLaboUser" id="isLaboUser" class="isCheckbox" value="">
            </div>
        </div>
        <div class="form-group row">
            <label for="isAdmin" class="col-sm-2 col-form-label col-xl-2 align-self-center">{{'USER.LABEL.IS ADMINISTRATOR' | translate}}</label>
            <div class="col-md-1 align-self-center">
                <input type="checkbox" class="form-control" formControlName="isAdmin" id="isAdmin" class="isCheckbox" value="">
            </div>
        </div>
        <div class="form-group row">
            <label for="isReceptionist" class="col-sm-2 col-form-label col-xl-2 align-self-center">{{'USER.LABEL.IS RECEPTIONIST' | translate}}</label>
            <div class="col-md-1 align-self-center">
                <input type="checkbox" class="form-control" formControlName="isReceptionist" id="isReceptionist" class="isCheckbox" value="">
            </div>
        </div>
        <div class="form-group row">
            <label for="isLabManager" class="col-sm-2 col-form-label col-xl-2 align-self-center">{{'USER.LABEL.IS LAB MANAGER' | translate}}</label>
            <div class="col-md-1 align-self-center">
                <input type="checkbox" class="form-control" formControlName="isLabManager" id="isLabManager" class="isCheckbox" value="">
            </div>
        </div>
        <div class="form-group row">
            <label for="isProgrammer" class="col-sm-2 col-form-label col-xl-2 align-self-center">{{'USER.LABEL.IS KRINO PROGRAMMER' | translate}}</label>
            <div class="col-md-1 align-self-center">
                <input type="checkbox" class="form-control" formControlName="isProgrammer" id="isProgrammer" class="isCheckbox" value="">
            </div>
        </div>
        <div class="form-group row">
            <label for="isPassiveUser" class="col-sm-2 col-form-label col-xl-2 align-self-center">{{'USER.LABEL.USER IS NOT ALLOWED TO ORDER PRODUCTS' | translate}}</label>
            <div class="col-md-1 align-self-center">
                <input type="checkbox" class="form-control" formControlName="isPassiveUser" id="isPassiveUser" class="isCheckbox" value="">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 col-md-2 col-lg-2">
                <button class="btn btn-success" type="submit" [disabled]="!newUserForm.valid">{{'FORM.SUBMIT' | translate}}</button>
            </div>
            <div class="col-sm-3 col-md-2 col-lg-2">
                <button class="btn btn-info" [disabled]="newUserForm.pristine" (click)="reset()">{{'FORM.RESET' | translate}}</button>
            </div>
        </div>
    </form>
</div>