<template #searchPopContent>
	<ul>
		<li>RWAL: si l'user contient 'RWAL'</li>
	</ul>
</template>

<div class="card">
	<div class="card-block">
		<div class="row">
			<div [formGroup]="searchForm">
				<img src="../../images/search.png" (click)="showSearch= !showSearch" class="imgSearch" placement="right" ngbTooltip="Please click here to search specific user" />
				<input *ngIf="showSearch" type="search" [formControl]="searchControl" formControlName="searchControl" [ngbPopover]="searchPopContent"
					placement="right" triggers="mouseenter:mouseleave" popoverTitle="How to search: examples">
			</div>
		</div>
		<div class="row">
			<ngb-accordion [closeOthers]="true" #acc="ngbAccordion" (panelChange)="beforeAccordionChange($event)" [activeIds]="state.openPanelId">
				<ngb-panel [disabled]="true">
					<template ngbPanelTitle>
						<div class="row">
							<div class="col-sm-3"><b>Full name</b></div>
							<div class="col-sm-4"><b>Equipe</b></div>
							<div class="col-sm-4"><b></b></div>
						</div>
					</template>
					<template ngbPanelContent>
					</template>
				</ngb-panel>
				<ngb-panel *ngFor="let user of users" [id]="user.data._id">
					<template ngbPanelTitle>
						<div class="row" id="{{user.data._id}}">
							<div class="col-sm-3">{{user.annotation.fullName}}</div>
							<!--
                            <div class="col-sm-4">{{user.annotation.supplierNames.length === 0 ? '' : user.annotation.supplierNames[0] }}</div>
							<div class="col-sm-4">{{user.annotation.otpNames.length === 0 ? '' : user.annotation.otpNames[0] }}</div>
                            -->
						</div>
					</template>
					<template ngbPanelContent>
		
        				<gg-user-detail [userObservable]="getUserObservable(user.data._id)" [state]="state[user.data._id]" [path]="path+'|P:'+user.data._id" 
						(stateChanged)="childStateChanged($event, user.data._id)"></gg-user-detail>

					</template>
				</ngb-panel>
			</ngb-accordion>
		</div>
	</div>
</div>