<div id="GGTOP"></div>
<div class="card">
    <div class="card-block">
        <ngb-tabset *ngIf="authorizationStatusInfo?.isLoggedIn">
            <ngb-tab title="{{'USER.MENU.VIEW USERS' | translate}}" id="tabView">
                <template ngbTabContent>

                    <gg-user-list [state]="state" [usersObservable]="usersObservable"></gg-user-list>

                </template>
            </ngb-tab>
            <ngb-tab title="{{'USER.MENU.ADMINISTRATORS' | translate}}" id="tabAdministrators">
                <template ngbTabContent>

                    <gg-user-list [state]="state" [usersObservable]="adminsObservable"></gg-user-list>

                </template>
            </ngb-tab>
            <ngb-tab title="{{'USER.MENU.CREATE A USER' | translate}}" id="tabCreate" *ngIf="authorizationStatusInfo.isAdministrator()">
                <template ngbTabContent>
                    <div class="card">
                        <div class="card-block">
                            
							<gg-user-enter></gg-user-enter>
							
                        </div>
                    </div>
                </template>
            </ngb-tab>
            <ngb-tab title="{{'USER.MENU.CURRENT USER' | translate}}" id="tabCurrentUser">
                <template ngbTabContent>
                    <div class="card">
                        <div class="card-block">
                            <gg-user-detail [userObservable]="currentUserObservable"></gg-user-detail>
                        </div>
                    </div>
                </template>
            </ngb-tab>
        </ngb-tabset>
        <h4 *ngIf="authorizationStatusInfo && !authorizationStatusInfo.isLoggedIn">{{'ERROR.NO LOGIN' | translate}}</h4>
    </div>
</div>