<template #popContent>{{isRoot ? 'Click here to go back to last view' : 'Click here to get a detail view'}}</template>

<ngb-tabset *ngIf="user" (tabChange)="beforeTabChange($event)" [activeId]="state.selectedTabId">
	<ngb-tab title="Info" id="tabInfo">
		<template ngbTabContent>
			<div class="card">
				<div class="card-block">
					<div class="row">
						<div class="col-sm-3 vcenter">name:</div>
						<div class="col-sm-6 vcenter">
							<gg-editor [content]="user.data.name" [showControls]="true" (editSaved)="nameUserUpdated($event)" [readOnly]="!authorizationStatusInfo || !authorizationStatusInfo.isAdministrator()"></gg-editor>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-3 vcenter">first name:</div>
						<div class="col-sm-6 vcenter">
							<gg-editor [content]="user.data.firstName" [showControls]="true" (editSaved)="firstNameUserUpdated($event)" [readOnly]="!authorizationStatusInfo || !authorizationStatusInfo.isAdministrator()"></gg-editor>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-3 vcenter">email:</div>
						<div class="col-sm-6 vcenter">
							<gg-editor [content]="user.data.email" [showControls]="true" (editSaved)="emailUserUpdated($event)" [readOnly]="!authorizationStatusInfo || !authorizationStatusInfo.isAdministrator()"></gg-editor>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-3 vcenter">password:</div>
						<div class="col-sm-6 vcenter">
							<gg-editor [content]="user.data.password" [showControls]="true" (editSaved)="passwordUpdated($event)" [readOnly]="!authorizationStatusInfo || !authorizationStatusInfo.isAdministrator()"></gg-editor>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-3 vcenter">is blocked:</div>
						<div class="col-sm-6 vcenter">
							<gg-editor-boolean [content]="user.data.isBlocked" (editSaved)="isBlockedUpdated($event)" [readOnly]="!authorizationStatusInfo || !authorizationStatusInfo.isAdministrator()"></gg-editor-boolean>
						</div>
					</div> 
					<div class="row">
						<div class="col-sm-3 vcenter">is labo user:</div>
						<div class="col-sm-6 vcenter">
							<gg-editor-boolean [content]="user.data.isLaboUser" (editSaved)="isLaboUserUpdated($event)" [readOnly]="!authorizationStatusInfo || !authorizationStatusInfo.isAdministrator()"></gg-editor-boolean>
						</div>
					</div> 
					<div class="row">
						<div class="col-sm-3 vcenter">is administrator:</div>
						<div class="col-sm-6 vcenter">
							<gg-editor-boolean [content]="user.data.isAdmin" (editSaved)="isAdminUpdated($event)" [readOnly]="!authorizationStatusInfo || !authorizationStatusInfo.isAdministrator()"></gg-editor-boolean>
						</div>
					</div> 
					<div class="row">
						<div class="col-sm-3 vcenter">equipe(s):</div>
						<div class="col-sm-6 vcenter">{{user.annotation.equipesTxt}}</div>
					</div> 

					<div class="row" *ngIf="!authService.isProduction()">
						<div class="col-sm-3">_id:</div>
						<div class="col-sm-6">{{user.data._id}}</div>
					</div>
				</div>
			</div>
		</template>
	</ngb-tab>
	<ngb-tab title="Comments" id="tabComments">
		<template ngbTabContent>
			<gg-comments [comments]="user.data.comments" (commentsUpdated)="commentsUpdated($event)"></gg-comments>
		</template>
	</ngb-tab>
	<ngb-tab title="Equipes" *ngIf="true" id="tabEquipes">
		<template ngbTabContent>
			<gg-equipe-list [equipesObservable]="equipesObservable" [state]="state.Equipes" [path]="path+'|O:Equipes'" (stateChanged)="childEquipesStateChanged($event)"></gg-equipe-list>
		</template>
	</ngb-tab>	
	<ngb-tab title="Orders" *ngIf="true" id="tabOrders">
		<template ngbTabContent>
			<gg-order-list [ordersObservable]="ordersObservable" [state]="state.Orders" [path]="path+'|O:Orders'" (stateChanged)="childOrdersStateChanged($event)"></gg-order-list>
		</template>
	</ngb-tab>
	
	<ngb-tab id="tabMax">
		<template ngbTabTitle><img src="../../images/maximize.png" [ngbPopover]="popContent" triggers="mouseenter:mouseleave" /></template>
		<template ngbTabContent></template>
	</ngb-tab>
	
	<ngb-tab id="gotoTop" *ngIf="!isRoot  && path!=='dashboard'">
		<template ngbTabTitle><img src="../../images/gototop.png" ngbPopover="Goto top of the page" triggers="mouseenter:mouseleave" /></template>
		<template ngbTabContent></template>
	</ngb-tab>
</ngb-tabset>