<template #searchPopContent>
    <ng-content select="[searchHelp]"></ng-content>
</template>

<template #tipSearchLoupe>
    <div style="font-size: 70%;"> {{'GENERAL.CLICK HERE TO' | translate}} <br/> {{'GENERAL.SEARCH SPECIFIC' | translate}} {{'GENERAL.' + objectTypeTranslationKey
        | translate}}</div>
</template>



<div class="card">
    <div class="card-block">
        <div class="row">
            <div [formGroup]="searchForm">
                <img src="../../../images/search.png" (click)="showSearch= !showSearch" class="imgSearch" placement="bottom" [ngbTooltip]="tipSearchLoupe"
                />
                <input *ngIf="showSearch" type="search" [formControl]="searchControl" formControlName="searchControl" [ngbPopover]="searchPopContent"
                    placement="bottom" triggers="mouseenter:mouseleave" popoverTitle="{{'GENERAL.HOW TO SEARCH' | translate}}"><img
                    *ngIf="showSearch" src="../../../images/close.png" (click)="resetSearchControl()" />
                <span *ngIf="nbHits && moneyTotal" class="gg-price">{{'  ' + moneyTotal | currency:'EUR':true:'1.2-2'}} {{'GENERAL.IN' | translate}}</span>
                <span *ngIf="nbHits" class="gg-price">{{nbHits}} {{'GENERAL.' + objectTypeTranslationKey | translate}}	</span>
            </div>
        </div>


        <div class="card" *ngIf="(objects || []).length === 0">
            <div class="card-block">
                <div class="centertextbox">{{'GENERAL.HITS.NO HIT TEXT' | translate:{param:objectTypeText} }}</div>
            </div>
        </div>

        <div class="row" *ngIf="(objects || []).length > 0">
            <ng-content select="[accordion]"></ng-content>
        </div>

		<div class="row">
			<div class="col-sm-2" *ngIf="nbHitsShown < nbHits">
				<div class="btn btn-sm btn-info" (click)="moreHits()" [ngbTooltip]="'GENERAL.HITS.NB HITS TXT' | translate:{nbHitsShown:nbHitsShown, nbHits:nbHits}">{{'GENERAL.SHOW MORE' | translate}}</div>
			</div>
			<div class="col-sm-2" *ngIf="nbHitsShown >= nbHits && nbHits > 6">
				{{nbHits}} {{'GENERAL.HITS SHOWN' | translate}}
			</div>
			<div class="col-sm-2" *ngIf="hasReport && nbHits > 0">
				<div class="btn btn-sm btn-info" (click)="createReport()" [ngbTooltip]="'GENERAL.HITS.' + objectTypeTranslationKey + ' REPORT TIP' | translate:{nbHits:nbHits}">{{'GENERAL.GET A REPORT' | translate}}</div>
			</div>
		</div>

    </div>
</div>