<h1> Bonjour </h1>
<!--    
    <ngb-tab title="New packet" id="tabNewPacket">
		<template ngbTabContent>
			<div class="card">
				<div class="card-block">
					<div class="row">
						<div class="col-sm-4 vcenter">name of supplier:</div>
						<div class="col-sm-6 vcenter">
                            Bonjour :)
                            <!--
							<gg-editor [content]="otp.data.name" [showControls]="true" (editSaved)="nameUpdated($event)"></gg-editor>
                            -->
	<!--					</div>
					</div>
					<div class="row">
						<div class="col-sm-4">reference:</div>
						<!--
                        <div class="col-sm-6">{{otp.annotation.equipe}}</div>
                        -->
		<!--			</div>
					<div class="row">
						<div class="col-sm-4 vcenter">position:</div>
						<div class="col-sm-6 vcenter">
                            <!--
							<gg-editor [content]="otp.data.budget" [showControls]="true" [isMonetary]="true" (editSaved)="budgetUpdated($event)"></gg-editor>
                            -->
			<!--			</div>
					</div>
				</div>
			</div>
		</template>
	</ngb-tab>
    -->