<div id="GGTOP"></div>
<div class="card">
    <div class="card-block">
        <ngb-tabset *ngIf="authorizationStatusInfo.isLoggedIn">
            <ngb-tab title="View Categories" id="tabView">
                <template ngbTabContent>

                    <gg-category-list [state]="state"></gg-category-list>

                </template>
            </ngb-tab>
            <ngb-tab title="Create a Category" id="tabCreate" *ngIf="authorizationStatusInfo.isAdministrator()">
                <template ngbTabContent>
                    <div class="card">
                        <div class="card-block">
                            
							<gg-category-enter></gg-category-enter>
							
                        </div>
                    </div>
                </template>
            </ngb-tab>
        </ngb-tabset>
        <h4 *ngIf="!authorizationStatusInfo.isLoggedIn">sorry: you are not logged in</h4>
    </div>
</div>