<template #searchPopContent>
	<ul>
		<li>nadi: commandes dont l'équipe, le fournisseur, le Id, le statut ou l'utilisateur contient 'nadi'</li>
		<li>deleted: commandes supprimées</li>
		<li>$>200: montants supérieurs à 200 euros</li>
		<li>#nd: not delivered (buy maybe partially delivered)</li>
		<li>#zd: zero delivery</li>
		<li>#ad: all delivered</li>
		<li>#pd: partially delivered</li>
		<li>#nu: non urgent orders (ordres groupés)</li>
		<li>#>5: orders with at least 5 order lines</li>	
		<li>$<200: montants inférieurs à 200 euros</li>
				<li>#enzym: commande avec un produit contenant 'enzym'</li>
				<li>#2755: commande avec un produit dont le catlog number contient '2755'</li>
	</ul>
</template>

<template #tipSearchLoupe><div style="font-size: 70%;">Click here to <br/> search specific order</div></template>



<div class="card">
	<div class="card-block">
		<div class="row">
			<div [formGroup]="searchForm">
				 <img src="../../images/search.png" (click)="showSearch= !showSearch" class="imgSearch" placement="bottom" [ngbTooltip]="tipSearchLoupe"/>
				<input *ngIf="showSearch" type="search" [formControl]="searchControl" formControlName="searchControl" [ngbPopover]="searchPopContent"
					placement="bottom" triggers="mouseenter:mouseleave" popoverTitle="How to search: examples"><img *ngIf="showSearch" src="../../images/close.png" (click)="resetSerachControl()"/>
				<span *ngIf="nbHits" class="gg-price">{{'  ' + total | currency:'EUR':true:'1.2-2'}} in {{nbHits}} orders	</span>
			</div>
		</div>
		
		<div class="card" *ngIf="(orders || []).length === 0">
			<div class="card-block">
				<div class="centertextbox">No orders yet in the database for this query</div>
			</div>
		</div>
		<div class="row" *ngIf="(orders || []).length > 0">
			<ngb-accordion [closeOthers]="true" #acc="ngbAccordion" (panelChange)="beforeAccordionChange($event)" [activeIds]="state.openPanelId">
				<ngb-panel [disabled]="true">
					<template ngbPanelTitle>
						<div class="row">
							<!--<div class="col-lg-3 hidden-md-down"><b>Id</b></div>-->
							<div class="col-sm-1"><b>Ref.</b></div>
							<div class="col-sm-1"><b>Sap</b></div>
							<div class="col-sm-2"><b>Date</b></div>
							<div class="col-sm-2"><b>Who</b></div>
							<div class="col-sm-2" *ngIf="showColumn('supplier')"><b>Supplier</b></div>
							<div class="col-sm-1"><b>With VAT</b></div>
							<div class="col-sm-2"><b>Status</b></div>
							<div class="col-sm-1"><b>Delivery</b></div>
						</div>
					</template>
					<template ngbPanelContent>
					</template>

				</ngb-panel>
				<ngb-panel *ngFor="let order of orders " [id]="order.data._id">
					<template ngbPanelTitle>
						<div class="row" id="{{order.data._id}}">
							<!--<div class="col-lg-3 hidden-md-down">{{order.data._id}}</div>-->
							<div class="col-sm-1" [style.font-weight]="order.data._id === state.openPanelId ? 'bold' : 'lighter'">{{order.data.kid}}</div>
							<div class="col-sm-1">{{order.annotation.sapId}}</div>
							<div class="col-sm-2">{{formatDate(order.data.date)}}</div>
							<div class="col-sm-2" *ngIf="!order.annotation.isGroupedOrder">{{order.annotation.user}}/{{order.annotation.equipe ? order.annotation.equipe : (order.annotation.equipeGroup ? order.annotation.equipeGroup
								: 'unknown equipe')}}</div>
							<div class="col-sm-2" *ngIf="order.annotation.isGroupedOrder">Non urgent order</div>
							<div class="col-sm-2" *ngIf="showColumn('supplier')">{{order.annotation.supplier}}</div>
							<div class="col-sm-1">{{order.annotation.total | currency:'EUR':true:'1.2-2'}}</div>
							<div class="col-sm-2">{{order.annotation.status}}</div>
							<div class="col-sm-1"><img *ngIf="order.annotation.anyDelivered && !order.annotation.allDelivered" src="../../images/shipping.png" /><img *ngIf="order.annotation.allDelivered" src="../../images/ok.png" /></div>
						</div>
					</template>
					<template ngbPanelContent>
						<gg-order-detail [orderObservable]="getOrderObservable(order.data._id)" [state]="state[order.data._id]" [path]="path+'|P:'+order.data._id"
							(stateChanged)="childStateChanged($event, order.data._id)"></gg-order-detail>
					</template>
				</ngb-panel>
			</ngb-accordion>
		</div>
		<div class="row" *ngIf="nbHitsShown < nbHits">
			<div class="btn btn-sm btn-info" (click)="moreHits()" [ngbTooltip]="'now showing ' + nbHitsShown + ' of ' + nbHits">show more</div>
		</div>
		<div class="row" *ngIf="nbHitsShown >= nbHits && nbHits > 6">
			{{nbHits}} hits shown
		</div>		
	</div>
</div>