<template #popContent>{{isRoot ? 'Click here to go back to last view' : 'Click here to get a detail view'}}</template>

<template #mymodal let-c="close" let-d="dismiss">
	<div class="modal-header">
		<button type="button" class="close" (click)="d('Cross click')">
            <span >&times;</span>
        </button>
		<h4 class="modal-title">Please enter the delivery</h4>
	</div>
	<div class="modal-body">
		<div class="card">
			<div class="card-block">
				<div class="row">
					<div class="col-sm-3">Product:</div>
					<div class="col-sm-8">{{selectedDeliveryItem.annotation.description}}</div>
				</div>
				<div class="row">
					<div class="col-sm-3">Quantity ordered:</div>
					<div class="col-sm-8">{{selectedDeliveryItem.data.quantity}}</div>
				</div>
				<div class="row">
					<div class="col-sm-3">Already delivered:</div>
					<div class="col-sm-8">{{selectedDeliveryItem.annotation.nbDelivered}}</div>
				</div>
				<div class="row">
					<div class="col-sm-3 vcenter">Quantity delivered today:</div>
					<div class="col-sm-8 vcenter"><input #inputQty type="number" class="form-control" placeholder="enter quantity delivered" min="1" [max]="selectedDeliveryItem.data.quantity-selectedDeliveryItem.annotation.nbDelivered"
						/></div>
				</div>
				<div class="row">
					<div class="col-sm-3 vcenter">No lot:</div>
					<div class="col-sm-8 vcenter"><input #inputLotNo type="text" class="form-control" placeholder="enter lot numer" /></div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<label>Is for resell</label>
						<input type="checkbox" [checked]="false" #inputIsResell />
					</div>
				</div>
				<div class="row" [ngbCollapse]="!inputIsResell.checked">
					<div class="col-sm-3 vcenter">Division factor:</div>
					<div class="col-sm-8 vcenter"><input #inputDivFactor type="text" class="form-control" placeholder="enter division factor" /></div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<div class="enter-newselectableitem__l-container">
			<div class="row">
				<div class="col-sm-2">

				</div>
				<div class="col-sm-3">
					<button type="button" class="btn btn-success" (click)="c({qty:inputQty.value, lot:inputLotNo.value, resell: inputIsResell.checked, factor: inputDivFactor.value })">Save delivery</button>
				</div>
			</div>
		</div>
	</div>
</template>

<div class="orderDetailClass">
	<ngb-tabset *ngIf="order" (tabChange)="beforeTabChange($event)" [activeId]="state.selectedTabId">
		<ngb-tab title="Details" id="tabDetails">
			<template ngbTabContent>
				<div class="card">
					<div class="card-block">
						<br><br>
						<div class="container-fluid">
							<div class="row">
								<div class="col-sm-6 col-md-6">
									<div class="row">
										{{order.annotation.supplier}}
									</div>
									<div class="row">
										{{order.data.date | fullDate }}
									</div>
									<div class="row">
										Reference: {{order.data.kid}} / {{order.data.sapId ? order.data.sapId : 'no sap id'}}
									</div>
								</div>
								<div class="col-sm-6 col-md-6">
									<div class="row">
										{{order.annotation.user}}
									</div>
									<div class="row">
										{{order.annotation.equipe ? order.annotation.equipe : (order.annotation.equipeGroup ? 'group: ' + order.annotation.equipeGroup
										: 'unknown equipe')}}
									</div>
									<div class="row">
										Status: {{order.annotation.status}} <span *ngIf="order.annotation.isDeletable"><button type="button" class="btn btn-link" (click)="deleteOrder()"> Delete</button></span>
									</div>
								</div>
							</div> <br><br>
							<div class="row">
								<div class="row">
									<div class="col-sm-3 vcenter"><b>Product</b></div>
									<div class="col-sm-1 vcenter"><b>Qty</b></div>
									<div class="col-sm-2 vcenter"><b>Price</b></div>
									<div class="col-sm-2 vcenter"><b>Total</b></div>
									<div class="col-sm-3 vcenter"><b>Otp</b></div>
								</div>
								<div class="row" *ngFor="let item of order.annotation.items">
									<div class="col-sm-3 vcenter">{{item.annotation.description}}</div>
									<div class="col-sm-1 vcenter">{{item.data.quantity}}</div>
									<div class="col-sm-2 vcenter">{{item.annotation.price | currency:'EUR':true:'1.2-2'}}</div>
									<div class="col-sm-2 vcenter">{{item.data.total | currency:'EUR':true:'1.2-2'}}</div>
									<div class="col-sm-3 vcenter" *ngIf="!smallScreen">
										<gg-editor-autocomplete [readOnly]="!authorizationStatusInfo || !authorizationStatusInfo.isAdministrator()" [selectableData]="otpListObservable" [selectedId]="item.data.otpId" (idChanged)="otpUpdated(item, $event)"></gg-editor-autocomplete>
									</div>
									<div class="col-sm-3 vcenter" *ngIf="smallScreen">{{item.annotation.otp}}</div>

								</div>
							</div>
							<div class="row">
								<div class="col-sm-2">
									<img *ngIf="!order.annotation.dashletId" src="../../images/pin.png" (click)="setDashlet()" />
									<img *ngIf="order.annotation.dashletId" src="../../images/unpin.png" (click)="removeDashlet(order.annotation.dashletId)"
									/>
								</div>
							</div>

						</div>
					</div>
				</div>
			</template>
		</ngb-tab>
		<ngb-tab title="Comments" id="tabComment">
			<template ngbTabContent>
				<gg-comments [comments]="order.data.comments" (commentsUpdated)="commentsUpdated($event)"></gg-comments>
			</template>
		</ngb-tab>
		<ngb-tab title="Repartition" id="tabRepartition" *ngIf="order.annotation.equipes">
			<template ngbTabContent>
				<div class="card">
					<div class="card-block">
						<div class="row">
							<div class="row">
								<div class="col-sm-4 vcenter"><b>Member equipe</b></div>
								<div class="col-sm-2 vcenter"><b>%</b></div>
							</div>
							<div class="row" *ngFor="let item of order.annotation.equipes">
								<div class="col-sm-4 vcenter">{{item.equipe}}</div>
								<div class="col-sm-2 vcenter">{{item.weight}}</div>
							</div>
						</div>
					</div>
				</div>
			</template>
		</ngb-tab>
		<ngb-tab title="Deliveries" id="tabDeliveries">
			<template ngbTabContent>
				<div class="card">
					<div class="card-block">
						<br><br>
						<div class="container-fluid">
							<div class="row">
								<div class="col-sm-6 col-md-6">
									<div class="row">
										{{order.annotation.supplier}}
									</div>
									<div class="row">
										{{order.data.date }}
									</div>
									<div class="row">
										Reference: {{order.data._id}}
									</div>
								</div>
								<div class="col-sm-6 col-md-6">
									<div class="row">
										{{order.annotation.user}}
									</div>
									<div class="row">
										{{order.annotation.equipe}}
									</div>
								</div>
							</div> <br><br>
							<div class="row">
								<div class="row">
									<div class="col-sm-3 vcenter"><b>Product</b></div>
									<div class="col-sm-1 vcenter"><b>Qty</b></div>
									<div class="col-sm-2 vcenter"><b>Price/Unity</b></div>
									<div class="col-sm-1 vcenter"><b>Qty delivered</b></div>
								</div>
								<div class="row" *ngFor="let item of order.annotation.items">
									<div class="col-sm-3 vcenter">{{item.annotation.description}}</div>
									<div class="col-sm-1 vcenter">{{item.data.quantity}}</div>
									<div class="col-sm-2 vcenter">{{item.annotation.price | currency:'EUR':true:'1.2-2'}}</div>
									<div class="col-sm-1 vcenter">{{item.annotation.nbDelivered}}</div>
									<div class="col-sm-2 vcenter">
										<div *ngIf="authorizationStatusInfo && authorizationStatusInfo.isAdministrator()" class="btn btn-info btn-sm" (click)="openModal(mymodal, item)"
											style="margin:5px">Add delivery</div>
</div>
</div>
</div>
</div>
</div>
</div>
</template>
</ngb-tab>
<ngb-tab id="tabMax">
	<template ngbTabTitle><img src="../../images/maximize.png" [ngbPopover]="popContent" triggers="mouseenter:mouseleave" /></template>
	<template ngbTabContent></template>
</ngb-tab>
<ngb-tab id="gotoTop" *ngIf="!isRoot && path!=='dashboard'">
	<template ngbTabTitle><img src="../../images/gototop.png" ngbPopover="Goto top of the page" triggers="mouseenter:mouseleave" /></template>
	<template ngbTabContent></template>
</ngb-tab>

</ngb-tabset>
</div>