<template #popContent>{{isRoot ? 'Click here to go back to last view' : 'Click here to get a detail view'}}</template>

<template #mymodal let-c="close" let-d="dismiss">
	<div class="modal-header">
		<button type="button" class="close" (click)="d('Cross click')">
            <span >&times;</span>
        </button>
		<h4 class="modal-title">Please enter the delivery</h4>
	</div>
	<div class="modal-body">
		<div class="card">
			<div class="card-block">
				<div class="row">
					<div class="col-sm-4"><b>Product</b></div>
					<div class="col-sm-1"><b>Ordered</b></div>
					<div class="col-sm-1"><b>Already</b></div>
					<div class="col-sm-2"><b>Today</b></div>
					<div class="col-sm-2"><b>No Lot</b></div>
					<div class="col-sm-2"><b>Resell as</b></div>
				</div>
				<div class="row" *ngFor="let item of tmpDeliveryItems">
					<div class="col-sm-4" [ngbTooltip]="'Catalog Nr.: ' + item.catalogNr" [style.color]="!item.nbDelivered ? 'black' : (+item.nbDelivered && +item.nbDelivered > 0 && +item.nbDelivered <= (+item.nbOrdered-+item.nbAlready) ? 'green' : 'red')">{{item.product}}</div>
					<div class="col-sm-1">{{item.nbOrdered}}</div>
					<div class="col-sm-1">{{item.nbAlready}}</div>
					<div class="col-sm-2">
						<input *ngIf="item.nbAlready < item.nbOrdered" type="number" class="form-control" [(ngModel)]="item.nbDelivered" />
					</div>
					<div class="col-sm-2">
						<input type="text" class="form-control" [(ngModel)]="item.noLot" *ngIf="item.nbAlready < item.nbOrdered && (item.noLot || item.noLot==='')"
						/>
					</div>
					<div class="col-sm-2">
						<input type="checkbox" class="form-control" [ngbTooltip]="'Resell as ' + item.stockPackaging" [(ngModel)]="item.isForStock"
						 *ngIf="item.nbAlready < item.nbOrdered && item.stockPackaging" />
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<div class="enter-newselectableitem__l-container">
			<div class="row">
				<div class="col-sm-2">

				</div>
				<div class="col-sm-3">
					<button type="button" class="btn btn-success" (click)="c({ })">Save delivery</button>
				</div>
			</div>
		</div>
	</div>
</template>

<div class="orderDetailClass">
	<ngb-tabset *ngIf="order" (tabChange)="beforeTabChange($event)" [activeId]="state.selectedTabId">
		<ngb-tab title="Details" id="tabDetails">
			<template ngbTabContent>
				<div class="card">
					<div class="card-block">
						<br><br>
						<div class="container-fluid">
							<div class="row">
								<div class="col-sm-6 col-md-6">
									<div class="row">
										{{order.annotation.supplier}}
									</div>
									<div class="row">
										{{order.data.date | fullDate }}
									</div>
									<div class="row">
										Reference: {{order.data.kid}} / <span class="imgSearch" *ngIf="order.annotation.sapId" (click)="navigateToSap(order.annotation.sapId)">{{order.annotation.sapId}}</span>										<span *ngIf="!order.annotation.sapId">no sap id</span>
									</div>
									<div class="row" *ngIf="order.annotation.canCurrentUserValidate">
										<button type="button" class="btn btn-success" (click)="authorizeOrder()">Authorize the order</button>
									</div>
									<div class="row" *ngIf="order.annotation.needsValidation">
										Waiting for authorization by {{order.annotation.validationStatus}}
									</div>
									<div class="row" *ngIf="authorizationStatusInfo && authorizationStatusInfo.isProgrammer()">
										{{order.data._id}}
									</div>
								</div>
								<div class="col-sm-6 col-md-6">
									<div class="row" *ngIf="!order.annotation.isGroupedOrder">
										<div class="col-sm-10">{{order.annotation.user}}</div>
									</div>
									<div class="row" *ngIf="order.annotation.isGroupedOrder">
										<div class="col-sm-10">Non urgent order</div>
									</div>
									<div class="row" *ngIf="!order.annotation.isGroupedOrder">
										<div class="col-sm-10">
											<gg-editor-autocomplete [readOnly]="!authorizationStatusInfo || !authorizationStatusInfo.isAdministrator() || order.annotation.equipeGroup"
											 [selectableData]="equipeListObservable" [selectedId]="order.data.equipeId" (idChanged)="equipeChanged($event)"></gg-editor-autocomplete>
											<div *ngIf="order.annotation.equipeGroup">group: {{order.annotation.equipeGroup}}</div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-4 vcenter">
											<gg-editor-autocomplete-text [readOnly]="!authorizationStatusInfo || !authorizationStatusInfo.isAdministrator()" [limitToChoice]="true"
											 [selectableData]="getStatusList()" [selectedText]="order.annotation.status" (textChanged)="statusChanged($event)">
											</gg-editor-autocomplete-text>
										</div>
										<div *ngIf="order.annotation.isDeletable" class="col-sm-7 vcenter"><button type="button" class="btn btn-link" (click)="deleteOrder()"> Delete</button></div>
									</div>
								</div>
							</div> <br><br>
							<div class="row">
								<div class="row">
									<div class="vcenter" [class.col-sm-3]="!order.annotation.isGroupedOrder" [class.col-sm-2]="order.annotation.isGroupedOrder"><b>Product</b></div>
									<div class="col-sm-1 vcenter"><b>Qty</b></div>
									<div class="col-sm-1 vcenter"><b>Price</b></div>
									<div class="col-sm-2 vcenter"><b>Total</b></div>
									<div class="col-sm-2 vcenter"><b>Otp</b></div>
									<div class="col-sm-2 vcenter"><b>Comment</b></div>
								</div>
								<div *ngFor="let item of order.annotation.items">
									<!--FOR-->
									<div class="row">
										<div class="vcenter imgSearch" [class.col-sm-3]="!order.annotation.isGroupedOrder" [class.col-sm-2]="order.annotation.isGroupedOrder"
										 (click)="navigateToProduct(item.data.productId)">
											<gg-text-compact [numberOfChar]="order.annotation.isGroupedOrder ? 20 : 40" [extraTooltipText]="item.annotation.catalogNr"
											 [text]="item.annotation.description"></gg-text-compact>
										</div>

										<div class="col-sm-1 vcenter">
											<gg-editor-number [content]="item.data.quantity" (editSaved)="quantityChanged(item, $event)" [readOnly]="order.annotation.isGroupedOrder || !authorizationStatusInfo || !authorizationStatusInfo.isAdministrator()"></gg-editor-number>
										</div>

										<div class="col-sm-1 vcenter">{{item.annotation.price | currency:'EUR':true:'1.2-2'}}</div>
										<div class="col-sm-2 vcenter">
											<gg-editor [content]="item.data.total" [showControls]="true" [isMonetary]="true" (editSaved)="updateTotalAmount(item, $event)"
											 [readOnly]="!authorizationStatusInfo || !authorizationStatusInfo.isAdministrator()"></gg-editor>
										</div>
										<div class="col-sm-2 vcenter" *ngIf="!smallScreen">
											<gg-editor-autocomplete [readOnly]="!authorizationStatusInfo || !authorizationStatusInfo.isAdministrator()" [selectableData]="otpListObservable"
											 [selectedId]="item.data.otpId" (idChanged)="otpUpdated(item, $event)" [linkable]="true" (hasBeenClicked)="navigateToOtp(item.data.otpId)"></gg-editor-autocomplete>
										</div>
										<div class="col-sm-1 vcenter" *ngIf="smallScreen">{{item.annotation.otp}}</div>
										<div class="col-sm-2 vcenter">
											<gg-editor [content]="item.data.comment" [showControls]="true" (editSaved)="updateComment(item, $event)" [readOnly]="!authorizationStatusInfo || !authorizationStatusInfo.isAdministrator()"></gg-editor>
										</div>
										<div class="col-sm-1 vcenter" *ngIf="order.annotation.isGroupedOrder">
											<button type="button" class="btn btn-link" (click)="item.annotation.isClosed=!item.annotation.isClosed">Show/hide details</button>
										</div>
									</div>

									<div class="row" [ngbCollapse]="!item.annotation.isClosed">
										<div class="col-sm-12 col-md-12">
											<div class="card">
												<div class="row">
													<div class="col-sm-2 col-md-2 vcenter">When?</div>
													<div class="col-sm-2 col-md-3 vcenter">Who?</div>
													<div class="col-sm-2 col-md-3 vcenter">Equipe</div>
													<div class="col-sm-2 col-md-2 vcenter">How many</div>
												</div>
												<div class="card">
													<div class="row" *ngFor="let detailItem of item.annotation.detail">
														<!--FOR-->
														<div class="col-sm-2 col-md-2 vcenter">
															<gg-date-pointer [date]="detailItem.data.date"></gg-date-pointer>
														</div>
														<div class="col-sm-2 col-md-3 vcenter">{{detailItem.annotation.userFullName}}</div>
														<div class="col-sm-2 col-md-3 vcenter">{{detailItem.annotation.equipe}}</div>
														<div class="col-sm-2 col-md-2 vcenter">
															<gg-editor-number [content]="detailItem.data.quantity" (editSaved)="quantityDetailUpdated($event, item, detailItem)" [readOnly]="!authorizationStatusInfo || (!authorizationStatusInfo.isAdministrator() && !authorizationStatusInfo.isThisUser(detailItem.data.userId) && !authorizationStatusInfo.isGroupOrdersUser())">
															</gg-editor-number>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row gg-price" *ngIf="order.annotation.items && order.annotation.items.length > 1">
								<div class="vcenter" [class.col-sm-3]="!order.annotation.isGroupedOrder" [class.col-sm-2]="order.annotation.isGroupedOrder"></div>
								<div class="col-sm-1 vcenter"></div>
								<div class="col-sm-1 vcenter">Total:</div>
								<div class="col-sm-2 vcenter">{{order.annotation.total | currency:'EUR':true:'1.2-2'}} </div>
							</div>

							<div class="row">
								<div class="col-sm-2">
									<img *ngIf="!order.annotation.dashletId" src="../../images/pin.png" (click)="setDashlet()" />
									<img *ngIf="order.annotation.dashletId" src="../../images/unpin.png" (click)="removeDashlet(order.annotation.dashletId)"
									/>
								</div>
							</div>
						</div>
					</div>
				</div>
			</template>
		</ngb-tab>
		<ngb-tab title="{{'Comments ' + ((order.data.comments && order.data.comments.length > 0) ? '(' + order.data.comments.length + ')' : '')}}" id="tabComment">
			<template ngbTabContent>
				<gg-comments [comments]="order.data.comments" (commentsUpdated)="commentsUpdated($event)"></gg-comments>
			</template>
		</ngb-tab>
		<ngb-tab title="Repartition" id="tabRepartition" *ngIf="order.annotation.equipes">
			<template ngbTabContent>
				<div class="card">
					<div class="card-block">
						<div class="row">
							<div class="row">
								<div class="col-sm-4 vcenter"><b>Member equipe</b></div>
								<div class="col-sm-2 vcenter"><b>%</b></div>
							</div>
							<div class="row" *ngFor="let item of order.annotation.equipes">
								<div class="col-sm-4 vcenter">{{item.equipe}}</div>
								<div class="col-sm-2 vcenter">{{item.weight}}</div>
							</div>
						</div>
					</div>
				</div>
			</template>
		</ngb-tab>
		<ngb-tab title="Deliveries" id="tabDeliveries">
			<template ngbTabContent>
				<div class="card">
					<div class="card-block">
						<ngb-tabset>
							<ngb-tab title="Add deliveries" id="tabDeliveriesAdd">
								<template ngbTabContent>
									<div class="card">
										<div class="card-block">


											<br/><br/>
											<div class="container-fluid">
												<div class="row">
													<div class="col-sm-6 col-md-6">
														<div class="row">
															{{order.annotation.supplier}}
														</div>
														<div class="row">
															{{order.data.date }}
														</div>
														<div class="row">
															Reference: {{order.data._id}}
														</div>
													</div>
													<div class="col-sm-6 col-md-6">
														<div class="row">
															{{order.annotation.user}}
														</div>
														<div class="row">
															{{order.annotation.equipe}}
														</div>
													</div>
												</div> <br><br>
												<div class="row">
													<div class="row">
														<div class="col-sm-3 vcenter"><b>Product</b></div>
														<div class="col-sm-2 vcenter"><b>Catalog Nr</b></div>
														<div class="col-sm-1 vcenter"><b>Qty</b></div>
														<div class="col-sm-2 vcenter"><b>Price/Unity</b></div>
														<div class="col-sm-1 vcenter"><b>Qty delivered</b></div>
													</div>
													<div class="row" *ngFor="let item of order.annotation.items">
														<div class="col-sm-3 vcenter imgSearch" (click)="navigateToProduct(item.data.productId)">
															<gg-text-compact [numberOfChar]="40" [extraTooltipText]="item.annotation.catalogNr" [text]="item.annotation.description"></gg-text-compact>
														</div>
														<div class="col-sm-2 vcenter">{{item.annotation.catalogNr}}</div>
														<div class="col-sm-1 vcenter">{{item.data.quantity}}</div>
														<div class="col-sm-2 vcenter">{{item.annotation.price | currency:'EUR':true:'1.2-2'}}</div>
														<div class="col-sm-1 vcenter">{{item.annotation.nbDelivered}}</div>
														<div class="col-sm-2 vcenter">
															<div *ngIf="authorizationStatusInfo && authorizationStatusInfo.isAdministrator()" class="btn btn-info btn-sm" (click)="openModal(mymodal)"
															 style="margin:5px">Add delivery</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</template>
							</ngb-tab>
							<ngb-tab title="All deliveries details" id="tabDeliveriesList" *ngIf="order.annotation.anyDeliveredByNewKrino">
								<template ngbTabContent>
									<div class="card">
										<div class="card-block">
											<div class="row">
												<div class="col-sm-2 "><b>When</b></div>
												<div class="col-sm-2 "><b>Who</b></div>
												<div class="col-sm-2 "><b>Product</b></div>
												<div class="col-sm-1 "><b>Quantity</b></div>
												<div class="col-sm-1 "><b>Lot Number</b></div>
												<div class="col-sm-2 "><b>Location</b></div>
												<div class="col-sm-2 " *ngIf="authorizationStatusInfo && authorizationStatusInfo.isAdministrator()"><b>Delete</b></div>
											</div>

											<div *ngFor="let item of order.annotation.items">
												<div class="row" *ngFor="let delivery of item.annotation.deliveries">
													<div class="col-sm-2">{{delivery.data.date | fullDate}}</div>
													<div class="col-sm-2">{{delivery.annotation.userLm}}</div>
													<div class="col-sm-2">
														<gg-text-compact [numberOfChar]="25" [extraTooltipText]="item.annotation.catalogNr" [text]="item.annotation.description"></gg-text-compact>
													</div>
													<div class="col-sm-1">{{delivery.data.quantity}}</div>
													<div class="col-sm-1">{{delivery.data.lotNb}}</div>
													<div class="col-sm-2 ">{{delivery.annotation.isStock ? 'in stock' : order.annotation.user}}</div>
													<div class="col-sm-2" *ngIf="authorizationStatusInfo && authorizationStatusInfo.isAdministrator()">
														<input type="checkbox" [ngbTooltip]="'click here to select the delivery for deletion'" *ngIf="!delivery.data.isDueToDelete"
														 (click)="delivery.data.isDueToDelete= !delivery.data.isDueToDelete" />
														<div class="btn btn-warning btn-sm" ngbTooltip="Careful! This will delete the selected delivery item and can't be undone. Click here if you are sure you want to delete it."
														 *ngIf="delivery.data.isDueToDelete" (click)="deteteDeliveryItem(item, delivery)">Delete</div>
														<div class="btn btn-success btn-sm" *ngIf="delivery.data.isDueToDelete" (click)="delivery.data.isDueToDelete= !delivery.data.isDueToDelete">Cancel</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</template>
							</ngb-tab>
						</ngb-tabset>
					</div>
				</div>
			</template>
		</ngb-tab>
		<ngb-tab id="tabMax">
			<template ngbTabTitle><img src="../../images/maximize.png" [ngbPopover]="popContent" triggers="mouseenter:mouseleave" /></template>
			<template ngbTabContent></template>
		</ngb-tab>
		<ngb-tab id="gotoTop" *ngIf="!isRoot && path!=='dashboard'">
			<template ngbTabTitle><img src="../../images/gototop.png" ngbPopover="Goto top of the page" triggers="mouseenter:mouseleave" /></template>
			<template ngbTabContent></template>
		</ngb-tab>

	</ngb-tabset>
</div>