
<div class="card">
	<div class="card-block">
		<div class="row">
			<gg-search-box [objectTypeTranslationKey]="listName" [nbHits]="nbHits" [moneyTotal]="total" (searchChanged)="searchObservable.next($event)">
				<ul searchHelp>
					<li>{{'ORDER.SEARCH HELP.MSG1' | translate}}</li>
					<li>{{'ORDER.SEARCH HELP.MSG2' | translate}}</li>
					<li>{{'ORDER.SEARCH HELP.MSG3' | translate}}</li>
					<li>{{'ORDER.SEARCH HELP.MSG4' | translate}}</li>
					<li>{{'ORDER.SEARCH HELP.MSG5' | translate}}</li>
					<li>{{'ORDER.SEARCH HELP.MSG6' | translate}}</li>
					<li>{{'ORDER.SEARCH HELP.MSG7' | translate}}</li>
					<li>{{'ORDER.SEARCH HELP.MSG8' | translate}}</li>
					<li>{{'ORDER.SEARCH HELP.MSG9' | translate}}</li>
					<li>{{'ORDER.SEARCH HELP.MSG10' | translate}}</li>
					<li>{{'ORDER.SEARCH HELP.MSG11' | translate}}</li>
					<li>{{'ORDER.SEARCH HELP.MSG12' | translate}}</li>
					<li>{{'ORDER.SEARCH HELP.MSG13' | translate}}</li>
				</ul>
			</gg-search-box>
		</div>

		<div class="card" *ngIf="(orders || []).length === 0">
			<div class="card-block">
				<div class="centertextbox">No orders yet in the database for this query</div>
			</div>
		</div>
		<div class="row" *ngIf="(orders || []).length > 0">
			<ngb-accordion [closeOthers]="true" #acc="ngbAccordion" (panelChange)="beforeAccordionChange($event)" [activeIds]="state.openPanelId">
				<ngb-panel [disabled]="true">
					<template ngbPanelTitle>
						<div class="row">
							<!--<div class="col-lg-3 hidden-md-down"><b>Id</b></div>-->
							<div class="col-sm-1"><b>{{'ORDER.COLUMN.REF' | translate}}.</b></div>
							<div class="col-sm-1"><b>{{'ORDER.COLUMN.SAP' | translate}}</b></div>
							<div class="col-sm-2"><b>{{'ORDER.COLUMN.DATE' | translate}}</b></div>
							<div class="col-sm-2"><b>{{'ORDER.COLUMN.WHO' | translate}}</b></div>
							<div class="col-sm-2" *ngIf="showColumn('supplier')"><b>{{'ORDER.COLUMN.SUPPLIER' | translate}}</b></div>
							<div class="col-sm-1"><b>{{'ORDER.COLUMN.WITH VAT' | translate}}</b></div>
							<div class="col-sm-2"><b>{{'ORDER.COLUMN.STATUS' | translate}}</b></div>
							<div class="col-sm-1"><b>{{'ORDER.COLUMN.DELIVERY' | translate}}</b></div>
						</div>
					</template>
					<template ngbPanelContent>
					</template>

				</ngb-panel>
				<ngb-panel *ngFor="let order of orders " [id]="order.data._id">
					<template ngbPanelTitle>
						<div class="row" id="{{order.data._id}}">
							<!--<div class="col-lg-3 hidden-md-down">{{order.data._id}}</div>-->
							<div class="col-sm-1" [style.font-weight]="order.data._id === state.openPanelId ? 'bold' : 'lighter'">{{order.data.kid}}</div>
							<div class="col-sm-1">{{order.annotation.sapId}}</div>
							<div class="col-sm-2">{{order.data.date | fullDate}}</div>
							<div class="col-sm-2" *ngIf="!order.annotation.isGroupedOrder">
								{{order.annotation.user}}/{{order.annotation.equipe ? order.annotation.equipe : (order.annotation.equipeGroup ? order.annotation.equipeGroup
								: 'unknown equipe')}}</div>
							<div class="col-sm-2" *ngIf="order.annotation.isGroupedOrder">Non urgent order</div>
							<div class="col-sm-2" *ngIf="showColumn('supplier')">{{order.annotation.supplier}}</div>
							<div class="col-sm-1">{{order.annotation.total | currency:'EUR':true:'1.2-2'}}</div>
							<div class="col-sm-2">{{order.annotation.status + ' '}} <span *ngIf="order.data.comments && order.data.comments.length > 0" [style.color]="'red'">w. comments</span></div>
							<div class="col-sm-1"><img *ngIf="order.annotation.anyDelivered && !order.annotation.allDelivered" src="../../images/shipping.png" /><img
								 *ngIf="order.annotation.allDelivered" src="../../images/ok.png" /></div>
						</div>
					</template>
					<template ngbPanelContent>
						<gg-order-detail [orderObservable]="getOrderObservable(order.data._id)" [state]="state[order.data._id]" [path]="path+'|P:'+order.data._id"
						 (stateChanged)="childStateChanged($event, order.data._id)"></gg-order-detail>
					</template>
				</ngb-panel>
			</ngb-accordion>
		</div>
		<div class="row">
			<div class="col-sm-2" *ngIf="nbHitsShown < nbHits">
				<div class="btn btn-sm btn-info" (click)="moreHits()" [ngbTooltip]="'GENERAL.HITS.NB HITS TXT' | translate:{nbHitsShown:nbHitsShown, nbHits:nbHits}">{{'GENERAL.SHOW MORE' | translate}}</div>
			</div>
			<div class="col-sm-2" *ngIf="nbHitsShown >= nbHits && nbHits > 6">
				{{nbHits}} {{'GENERAL.HITS SHOWN' | translate}}
			</div>
			<div class="col-sm-2" *ngIf="nbHits > 0">
				<div class="btn btn-sm btn-info" (click)="createReport()" [ngbTooltip]="'GENERAL.HITS.ORDER REPORT TIP' | translate:{nbHits:nbHits}">{{'GENERAL.GET A REPORT' | translate}}</div>
			</div>
		</div>
	</div>
</div>