<div id="GGTOP"></div>
<div class="card">
    <div class="card-block">
        <ngb-tabset [activeId]="initTabId">
            <ngb-tab title="View Orders" id="tabView">
                <template ngbTabContent>
                    <gg-order-list [state]="state" [ordersObservable]="ordersObservable"></gg-order-list>
                </template>
            </ngb-tab>
            <ngb-tab title="View Fridge Orders" id="tabViewFridge">
                <template ngbTabContent>
                    <gg-order-fridge-list></gg-order-fridge-list>
                </template>
            </ngb-tab>
            <ngb-tab title="Create an Order" id="tabCreate" *ngIf="authorizationStatusInfo && authorizationStatusInfo.isLoggedIn">
                <template ngbTabContent>
                    <div class="card">
                        <div class="card-block">
							<h6>Choose the supplier you want to order from</h6>
							<gg-supplier-list [suppliersObservable]= "suppliersObservable" [initialTabInSupplierDetail]="'tabProducts'"></gg-supplier-list>                            
                        </div>
                    </div>
                </template>
            </ngb-tab>
        </ngb-tabset>
    </div>
</div>