<div id="GGTOP"></div>
<div class="card">
    <div class="card-block">
        <ngb-tabset [activeId]="state.selectedTabId" *ngIf="laboName">
            <ngb-tab title="View Orders" id="tabView">
                <template ngbTabContent>
                    <gg-order-list [state]="state" [ordersObservable]="ordersObservable"></gg-order-list>
                </template>
            </ngb-tab>
            <ngb-tab title="View Fridge Orders" id="tabViewFridge">
                <template ngbTabContent>
                    <gg-order-fridge-list [path]="'orders|O:ViewFridge'" [fridgeOrdersObservable]="fridgeOrdersObservable"></gg-order-fridge-list>
                </template>
            </ngb-tab>
            <ngb-tab title="View Stock Orders" id="tabViewStock">
                <template ngbTabContent>
                    <gg-stock-order-list [path]="'orders|O:ViewStock'" [state]="state.ViewStock" [ordersObservable]="stockOrdersObservable"></gg-stock-order-list>
                </template>
            </ngb-tab>
            <ngb-tab title="View Web Orders" id="tabUsedVouchers" *ngIf="((webVouchersObservable |async) || []).length>0">
                <template ngbTabContent>
                    <gg-voucher-list [vouchersObservable]="webVouchersObservable" [focusOnVoucherUsage]="true"></gg-voucher-list>
                </template>
            </ngb-tab>
            <ngb-tab title="Create an Order" id="tabCreate" *ngIf="authorizationStatusInfo && authorizationStatusInfo.isLoggedIn">
                <template ngbTabContent>
                    <div class="card">
                        <div class="card-block">
                            <h6>Choose the supplier you want to order from</h6>
                            <gg-supplier-list [suppliersObservable]="suppliersObservable" [initialTabInSupplierDetail]="'tabProducts'"></gg-supplier-list>
                        </div>
                    </div>
                </template>
            </ngb-tab>
        </ngb-tabset>
        <h4 *ngIf="!laboName">sorry: choose a labo first</h4>
    </div>
</div>