<div class="card" *ngIf="supplier">
	<div class="card-block">
		<h5 class="card-title">Checkout at {{supplier.name}}</h5>
		<ngb-tabset *ngIf="authorizationStatusInfo && authorizationStatusInfo.isLoggedIn">
			<ngb-tab title="Shopping Basket">
				<template ngbTabContent>
					<div class="card">
						<div class="card-block">
							<div class="row">
								<gg-product-grid [productsObservable]="productsBasketObservable" [config]="{skip:['category']}" [isGroupedBasket]="authorizationStatusInfo.isGroupOrdersUser()" [isBasket]="true"></gg-product-grid>
							</div>
							<div class="row" *ngIf="authorizationStatusInfo.isAdministrator()">
								<div class="col-sm-2 vcenter">Attribute to group of equipes: </div>
								<div class="col-sm-6 vcenter">
									<gg-editor-autocomplete [selectableData]="groupsForSelectionObservable" [emptyContentText]="'no, use the equipe of the user'"
									 (idChanged)="equipeGroupChanged($event)"></gg-editor-autocomplete>
								</div>
							</div>
							<div class="row">
								<button *ngIf="isEnoughBudget && isOtpOk" class="btn btn-warning" (click)="createOrder()">Pass the order</button>
								<h6 *ngIf="!isEnoughBudget">Sorry, you don't have enough budget available</h6>
								<h6 *ngIf="!isOtpOk">Sorry, there is an Otp problem. Contact your administrator!</h6>
							</div>
						</div>
					</div>
				</template>
			</ngb-tab>
			<ngb-tab title="Info about {{supplier.name}}">
				<template ngbTabContent>
					<div class="card">
						<div class="card-block">
							<gg-supplier-info [supplier]="supplier"></gg-supplier-info>
						</div>
					</div>
				</template>		
			</ngb-tab>
			<ngb-tab title="Budget of current user" *ngIf="false">
				<template ngbTabContent>
					<div class="card">
						<div class="card-block">
							<h4>Work hard, but don't spend too much!!!</h4>
						</div>
					</div>
				</template>
			</ngb-tab>
		</ngb-tabset>
		<h4 *ngIf="authorizationStatusInfo && !authorizationStatusInfo.isLoggedIn">sorry: you are not logged in</h4>
	</div>
</div>