<div class="card">
	<div class="card-block">
		<ngb-accordion [closeOthers]="true" #acc="ngbAccordion" (panelChange)="beforeAccordionChange($event)" [activeIds]="state.openPanelId">
			<ngb-panel [disabled]="true">
				<template ngbPanelTitle>
                    <div class="row">
                        <div class="col-sm-3"><b>Manipulation</b></div>
                        <div class="col-sm-2"><b>Label</b></div>
                    </div>									
				</template>
				<template ngbPanelContent>
					
				</template>				
			</ngb-panel>
			<ngb-panel *ngFor="let manip of manips | async"  [id]="manip.data._id">
				<template ngbPanelTitle>
                    <div class="row">
                        <div class="col-sm-3">{{manip.data.name}}</div>
                        <div class="col-sm-2">{{manip.annotation.label}}</div>
                    </div>									
				</template>
				<template ngbPanelContent>
					<gg-manip-detail [manipObservable]="getManipObservable(manip.data._id)" [state]="state[manip.data._id]" (stateChanged)="childStateChanged($event, manip.data._id)"></gg-manip-detail>
				</template>
			</ngb-panel>
		</ngb-accordion>
	</div>
</div>




