<ngb-tabset *ngIf="otp">
	<ngb-tab title="Info">
		<template ngbTabContent>
			<div class="card">
				<div class="card-block">
					<div class="row">
						<div class="col-sm-4">otp:</div>
						<div class="col-sm-6">{{otp.data.Name}}</div>
					</div>
					<div class="row">
						<div class="col-sm-4">equipe:</div>
						<div class="col-sm-6">{{otp.annotation.equipe}}</div>
					</div>
					<div class="row">
						<div class="col-sm-4">total budget:</div>
						<div class="col-sm-6">{{otp.annotation.budget | currency:'EUR':true:'1.2-2'}}</div>
					</div>
					<div class="row">
						<div class="col-sm-4">money spent:</div>
						<div class="col-sm-6">{{otp.annotation.amountSpent | currency:'EUR':true:'1.2-2'}}</div>
					</div>
					<div class="row">
						<div class="col-sm-4">money available:</div>
						<div class="col-sm-6">{{otp.annotation.amountAvailable | currency:'EUR':true:'1.2-2'}}</div>
					</div>
					<div class="row">
						<div class="col-sm-4">allowed products:</div>
						<div class="col-sm-6">
							<gg-selector [selectableData]="selectableCategoriesObservable" [selectedIds]="selectedCategoryIdsObservable" (selectionChanged)="categorySelectionChanged($event)"
								(selectionOptionAdded)="categoryHasBeenAdded($event)"></gg-selector>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-2">
							<img *ngIf="!otp.annotation.dashletId" src="./images/pin.png" (click)="setDashlet()" />
							<img *ngIf="otp.annotation.dashletId" src="./images/unpin.png" (click)="removeDashlet(otp.annotation.dashletId)" />
						</div>
					</div>
				</div>
			</div>
		</template>
	</ngb-tab>
	<ngb-tab title="Graphics">
		<template ngbTabContent>
			<div class="card">
				<div class="card-block">
					<div class="row">
						<div class="col-sm-6">
							<div class='akbox'>
								<div class='akcontent'>
									<x-chartist [data]="pieSpentChart.data" [type]="pieSpentChart.type"></x-chartist>
								</div>
							</div>
							
						</div>"
					</div>

				</div>
			</div>
		</template>
	</ngb-tab>	
	<ngb-tab title="Comments">
		<template ngbTabContent>
			<gg-comments [comments]="otp.data.comments" (commentsUpdated)="commentsUpdated($event)"></gg-comments>
		</template>
	</ngb-tab>
	<ngb-tab title="Orders" *ngIf="anyOrder">
		<template ngbTabContent>
			<gg-order-list [ordersObservable]="ordersObservable"></gg-order-list>
		</template>
	</ngb-tab>
</ngb-tabset>