<div class="card">
    <div class="card-block">
        <ngb-tabset>
            <ngb-tab title="View Otps" id="tabView">
                <template ngbTabContent>

                    <gg-otp-list [state]="state" [otpsObservable]="otpsObservable"></gg-otp-list>

                </template>
            </ngb-tab>
            <ngb-tab title="Create an Otp" id="tabCreate">
                <template ngbTabContent>
                    <div class="card">
                        <div class="card-block">
                            <h6>Choose the equipe to which the new Otp will be attributed</h6>
                            <gg-equipe-list [initialTabInEquipeDetail]="'tabOtp'"></gg-equipe-list>
                        </div>
                    </div>
                </template>
            </ngb-tab>
        </ngb-tabset>
    </div>
</div>