<div class="card" *ngIf="labo && labo.data">
    <div class="card-block">
        <ngb-tabset>
            <ngb-tab title="General" id="tabGeneral">
                <template ngbTabContent>
                    <div class="card">
                        <div class="card-block">
                            <div class="row">
                                <div class="col-sm-3 vcenter">name of laboratory:</div>
                                <div class="col-sm-6 vcenter">
                                    <gg-editor [content]="labo.data.name" [showControls]="true" (editSaved)="nameUpdated($event)"></gg-editor>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 vcenter">start of Krino:</div>
                                <div class="col-sm-6 vcenter">
                                    <gg-editor-date [content]="labo.data.krinoStartDate" (editSaved)="startOfKrino($event)"></gg-editor-date>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 vcenter">head(s) of laboratory:</div>
                                <div class="col-sm-6 vcenter">
                                    <gg-selector [selectableData]="selectableUsers" [selectedIds]="selectedAdminsIdsObservable" (selectionChanged)="headSelectionChanged($event)"></gg-selector>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 vcenter">executive secretary:</div>
                                <div class="col-sm-6 vcenter">
                                    <gg-selector [selectableData]="selectableUsers" [selectedIds]="selectedSecrExecIdsObservable" (selectionChanged)="secrExecSelectionChanged($event)"></gg-selector>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 vcenter">grouped orders user password:</div>
                                <div class="col-sm-6 vcenter">
                                    <gg-editor [content]="labo.data.passwordGroupOrdersUser" [showControls]="true" (editSaved)="groupedPasswordChanged($event)"></gg-editor>
                                </div>
                            </div>

                        </div>
                    </div>
                </template>
            </ngb-tab>
            <ngb-tab title="Order validation" id="tabValidation">
                <template ngbTabContent>
                    <div class="card">
                        <div class="card-block">
                            <div class="row" *ngFor="let step of labo.annotation.validationSteps; let isFirst=first; let isLast=last; let index=index">

                                <div class="col-sm-1 vcenter">
                                    <input type="checkbox" [checked]="step.enabled" [disabled]="step.name==='Equipe' && !step.equipeId" (click)="selectStep($event.target.checked, step.name)" />
                                </div>
                                <div class="col-sm-2 vcenter">
                                    <div *ngIf="step.name==='EquipeHead'">Head of equipe</div>                                    
                                    <div *ngIf="step.name==='SecrExec'">Executive secretary</div>
                                    <div *ngIf="step.name==='Equipe'">Any member of ...</div>
                                </div>
                                <div class="col-sm-2 vcenter">
                                    <div *ngIf="step.name==='Equipe'">
                                        <gg-editor-autocomplete [selectableData]="equipeListObservable" [selectedId]="step.equipeId" (idChanged)="equipeChanged($event, index)" [emptyContentText]="'choose an equipe'"></gg-editor-autocomplete>
                                    </div>
                                </div>
                                <div class="col-sm-1 vcenter">
                                    <button class="btn btn-success btn-sm" [disabled]="isFirst || !step.enabled" (click)="stepUp(index)">Up</button>
                                </div>
                                <div class="col-sm-1 vcenter">
                                    <button class="btn btn-success btn-sm" [disabled]="isLast || (index+1) == labo.data.validationSteps.length || !step.enabled" (click)="stepDown(index)">Down</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </template>
            </ngb-tab>
            <ngb-tab title="Delivery" id="tabDelivery">
                <template ngbTabContent>
                    <div class="card">
                        <div class="card-block">
                            <ngb-tabset>
                                <ngb-tab title="Adresses" id="tabAdresses">
                                    <template ngbTabContent>
                                        <div class="card">
                                            <div class="card-block">
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="col-sm-2 vcenter"><b>Name of delivery</b></div>
                                                        <div class="col-sm-2 vcenter"><b>Description 1</b></div>
                                                        <div class="col-sm-2 vcenter"><b>Description 2</b></div>
                                                        <div class="col-sm-2 vcenter"><b>Description 3</b></div>
                                                        <div class="col-sm-2 vcenter"><b>Description 4</b></div>
                                                    </div>
                                                    <div *ngFor="let delivery of deliveryAdresses">
                                                        <div class="row">
                                                            <div class="col-sm-2 vcenter">
                                                                <gg-editor [content]="delivery.nom" [showControls]="true" (editSaved)="nomDeliveryUpdated(delivery, $event)"></gg-editor>
                                                            </div>
                                                            <div class="col-sm-2 vcenter">
                                                                <gg-editor [content]="delivery.description1" [showControls]="true" (editSaved)="description1DeliveryUpdated(delivery, $event)"></gg-editor>
                                                            </div>
                                                            <div class="col-sm-2 vcenter">
                                                                <gg-editor [content]="delivery.description2" [showControls]="true" (editSaved)="description2DeliveryUpdated(delivery, $event)"></gg-editor>
                                                            </div>
                                                            <div class="col-sm-2 vcenter">
                                                                <gg-editor [content]="delivery.description3" [showControls]="true" (editSaved)="description3DeliveryUpdated(delivery, $event)"></gg-editor>
                                                            </div>
                                                            <div class="col-sm-2 vcenter">
                                                                <gg-editor [content]="delivery.description4" [showControls]="true" (editSaved)="description4DeliveryUpdated(delivery, $event)"></gg-editor>
                                                            </div>
                                                        </div>                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </template>
                                </ngb-tab>
                                <ngb-tab title="Add Address" id="tabAddAddress">
                                    <template ngbTabContent>
                                        <div class="card">
                                            <div class="card-block">
                                                <div class="container-fluid">
                                                    <form [formGroup]="addAddressForm" (ngSubmit)="save(addAddressForm.value, addAddressForm.valid)">
                                                        <div class="form-group row">
                                                            <label for="nomAddAddress" class="col-sm-2 col-form-label col-xl-2">Name of delivery:</label>
                                                            <div class="col-sm-10">
                                                                <input type="text" min="1" class="form-control" formControlName="nomAddAddress" id="nomAddAddress" placeholder="Name of delivery">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label for="descriptionAddAddress1" class="col-sm-2 col-form-label col-xl-2">Description 1:</label>
                                                            <div class="col-sm-10">
                                                                <input type="text" min="0" class="form-control" formControlName="descriptionAddAddress1" id="descriptionAddAddress1" placeholder="Description 1">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label for="descriptionAddAddress2" class="col-sm-2 col-form-label col-xl-2">Description 2:</label>
                                                            <div class="col-sm-10">
                                                                <input type="text" min="0" class="form-control" formControlName="descriptionAddAddress2" id="descriptionAddAddress2" placeholder="Description 2">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label for="descriptionAddAddress3" class="col-sm-2 col-form-label col-xl-2">Description 3:</label>
                                                            <div class="col-sm-10">
                                                                <input type="text" min="0" class="form-control" formControlName="descriptionAddAddress3" id="descriptionAddAddress3" placeholder="Description 3">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label for="descriptionAddAddress4" class="col-sm-2 col-form-label col-xl-2">Description 4:</label>
                                                            <div class="col-sm-10">
                                                                <input type="text" min="0" class="form-control" formControlName="descriptionAddAddress4" id="descriptionAddAddress4" placeholder="Description 4">
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-3 col-md-2 col-lg-2">
                                                                <button class="btn btn-success" type="submit" [disabled]="!addAddressForm.valid">Submit</button>
                                                            </div>
                                                            <div class="col-sm-3 col-md-2 col-lg-2">
                                                                <button class="btn btn-info" [disabled]="addAddressForm.pristine" (click)="resetAddAddressForm()">Reset</button>
                                                            </div>
                                                        </div>
                                                    </form>
			        							</div>
                                            </div>
                                        </div>
                                    </template>
                                </ngb-tab>
                            </ngb-tabset>                
                        </div>
                    </div>
                </template>
            </ngb-tab>
            <ngb-tab title="Sap" id="tabSap">
                <template ngbTabContent>
                    <div class="card">
                        <div class="card-block">
                            <div class="row">
                                <div class="col-sm-3 vcenter">Maximal amount in one order:</div>
                                <div class="col-sm-6 vcenter">
                                    <gg-editor [content]="labo.data.maxOrderAmount" [showControls]="true" [isMonetary]="true" (editSaved)="maxOrderAmount($event)"></gg-editor>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 vcenter">Last sap Id before Krino:</div>
                                <div class="col-sm-6 vcenter">
                                    <gg-editor-number [content]="labo.data.sapIdMaxIdBeforeKrino" (editSaved)="sapIdMaxIdBeforeKrino($event)"></gg-editor-number>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 vcenter">List of others Sap Ids before Krino:</div>
                                <div class="col-sm-6 vcenter">
                                    <gg-editor [content]="labo.data.sapOtherMaxIdsBeforeKrino" [showControls]="true" (editSaved)="sapOtherMaxIdsBeforeKrino($event)"  [ngbTooltip]="'please separate the numbers by \';\' '"></gg-editor>
                                </div>
                            </div>
                        </div>
                    </div>
                </template>
            </ngb-tab>        
            <ngb-tab title="Platform" id="tabPlatform">
                <template ngbTabContent>
                    <div class="card">
                        <div class="card-block">
                            <div class="row">
                            </div>
                        </div>
                    </div>
                </template>
            </ngb-tab>        
        </ngb-tabset>
    </div>
</div>