<template #searchPopContent>
	<ul>
		<li>RWAL: si l'OTP ou l'équipe associée contient 'RWAL'</li>
		<li>#DE: si l'OTP est deleted/supprimé</li>
		<li>#BL: si l'OTP est blocked</li>
		<li>#CL: si l'OTP est closed</li>
		<li>#LI: si l'OTP est limité à l'équipe</li>
		<li>#NL: si l'OTP est non limité (pas limité à l'équipe)</li>
		<li>#P0: si l'OTP n'a pas de priorité (et ne sera donc jamais choisi)</li>
		<li>#OK: si l'OTP est OK et peut donc en principe, si les dates et le budget restant collent, être choisi (ni deleted, ni blocked, ni closed, ni priority 0)</li>
		<li>#NO: si l'OTP, à cause de son statut, ne peut être choisi (blocked ou closed ou priority 0)</li>
	</ul>
</template>

<template #tipSearchLoupe><div style="font-size: 70%;">Click here to <br/> search specific otp</div></template>

<div class="card" id="asdfgh">
	<div class="card-block">
		<div class="row">
			<div [formGroup]="searchForm">
				 <img src="../../images/search.png" (click)="showSearch= !showSearch" class="imgSearch" placement="bottom" [ngbTooltip]="tipSearchLoupe"/>
				<input *ngIf="showSearch" type="search" [formControl]="searchControl" formControlName="searchControl" [ngbPopover]="searchPopContent"
					placement="bottom" triggers="mouseenter:mouseleave" popoverTitle="How to search: examples"><img *ngIf="showSearch" src="../../images/close.png" (click)="resetSerachControl()"/>
			</div>
		</div>
		<div class="row gg-price" *ngIf="nbHits">{{total | currency:'EUR':true:'1.2-2'}} available in {{nbHits}} otps</div>
		<div class="row">
			<ngb-accordion [closeOthers]="true" #acc="ngbAccordion" (panelChange)="beforeAccordionChange($event)" [activeIds]="state.openPanelId">
				<ngb-panel [disabled]="true">
					<template ngbPanelTitle>
						<div class="row">
							<div class="col-sm-2"><b>{{'OTP.COLUMN.OTP' | translate}}</b></div>
							<div class="col-sm-2"><b>Classification</b></div>
							<div class="col-sm-1" *ngIf="showColumn('equipe')"><b>{{'OTP.COLUMN.EQUIPE' | translate}}</b></div>
							<div class="col-sm-1"><b>Initial</b></div>
							<div class="col-sm-1"><b>Available</b></div>
							<div class="col-sm-2"><b>Until (priority)</b></div>
							<div class="col-sm-1"><b>In SAP</b></div>
							<div class="col-sm-2"><b>Status</b></div>
						</div>
					</template>
					<template ngbPanelContent>

					</template>
				</ngb-panel>
				<ngb-panel *ngFor="let otp of otps" [id]="otp.data._id">
					<template ngbPanelTitle>
						<div class="row" id="{{otp.data._id}}">							
							<div class="col-sm-2" [style.font-weight]="otp.data._id === state.openPanelId ? 'bold' : 'lighter'">{{otp.data.name}} </div>
							<div class="col-sm-2"><gg-text-compact [text]="otp.annotation.classification" [numberOfChar]="16"></gg-text-compact></div>
							<div class="col-sm-1" *ngIf="showColumn('equipe')"><gg-text-compact [text]="otp.annotation.equipe" [numberOfChar]="8"></gg-text-compact></div>
							<div class="col-sm-1" ngbTooltip="engaged: {{(otp.annotation.amountEngaged + otp.annotation.amountSpentNotYetInSap) | currency:'EUR':true:'1.2-2'}} / invoiced: {{otp.annotation.amountBilled | currency:'EUR':true:'1.2-2'}}">
								{{otp.annotation.budget | currency:'EUR':true:'1.2-2'}}
							</div>
							<div class="col-sm-1">
								{{otp.annotation.amountAvailable | currency:'EUR':true:'1.2-2'}}
							</div>
							<div class="col-sm-2" *ngIf="otp.annotation.currentPeriodAnnotation">{{ otp.annotation.currentPeriodAnnotation.datEnd | shortDate }} ({{otp.data.priority}})</div>
							<div class="col-sm-2" *ngIf="!otp.annotation.currentPeriodAnnotation" [style.color]="'red'">Not for current period</div>
							<div class="col-sm-1">{{ otp.annotation.nbSapItems || '' }}</div>
							<div class="col-sm-2" [style.color]="'red'">
								{{ otp.data.isDeleted ? 'Deleted ' : '' }}{{ otp.data.isBlocked ? 'Blocked ' : '' }}{{ otp.data.isLimitedToOwner ? 'Limited ' : '' }}{{ otp.data.isClosed ? 'Closed ' : '' }}
								{{ !otp.data.priority ? 'No priority ' : '' }}
							</div>
						</div>
					</template>
					<template ngbPanelContent>
						<gg-otp-detail [otpObservable]="getOtpObservable(otp.data._id)" [state]="state[otp.data._id]" [path]="path+'|P:'+otp.data._id" (stateChanged)="childStateChanged($event, otp.data._id)"></gg-otp-detail>
					</template>
				</ngb-panel>
			</ngb-accordion>
		</div>
		<div class="row">
			<div class="col-sm-2" *ngIf="nbHitsShown < nbHits">
				<div  class="btn btn-sm btn-info" (click)="moreHits()" [ngbTooltip]="'now showing ' + nbHitsShown + ' of ' + nbHits">show more</div>
			</div>
			<div class="col-sm-2" *ngIf="nbHitsShown >= nbHits && nbHits > 6">
				{{nbHits}} hits shown
			</div>
			<div class="col-sm-2" *ngIf="nbHits > 0">
				<div  class="btn btn-sm btn-info" (click)="createReport()" [ngbTooltip]="'A report with all the ' + nbHits + ' hit(s) will be downloaded. Blocked/Deleted otps will be added at the end of the file.'">get a report</div>
			</div>
		</div>		
	</div>
</div>