<div class="card">
    <div class="card-block">
        <div class="row" style="color:darkturquoise"><i>Here you can anlayze how much has been spent on this OTP, according to SAP</i></div>
        <br/>
        <div class="row">
            <div class="col-sm-2 vcenter">Select a starting date:</div>
            <div class="col-sm-5 vcenter">
                <gg-editor-date [content]="intialdate" (editSaved)="dateChanged($event)" [format]="'DD/MM/YYYY'"></gg-editor-date>
            </div>
            
        </div>

        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-3"><b>Without Vat</b></div>
            <div class="col-sm-3"><b>With Vat</b></div>
        </div>
        <div class="row">
            <div class="col-sm-3">Smart calculation:</div>
            <div class="col-sm-3">{{sapTtotals.mixedHtva | currency:'EUR':true:'1.2-2'}}</div>
            <div class="col-sm-3">{{sapTtotals.mixedTvac | currency:'EUR':true:'1.2-2'}}</div>
        </div>
        <div class="row">
            <div class="col-sm-3">Total of invoiced:</div>
            <div class="col-sm-3">{{sapTtotals.facturedHtva | currency:'EUR':true:'1.2-2'}}</div>
            <div class="col-sm-3">{{sapTtotals.facturedTvac | currency:'EUR':true:'1.2-2'}}</div>
        </div>
        <div class="row">
            <div class="col-sm-3">Total of non invoiced engagements:</div>
            <div class="col-sm-3">{{sapTtotals.engagedOnlyHtva | currency:'EUR':true:'1.2-2'}}</div>
            <div class="col-sm-3">{{sapTtotals.engagedOnlyTvac | currency:'EUR':true:'1.2-2'}}</div>
        </div>
        <div class="row">
            <div class="col-sm-3">Total of all engagements:</div>
            <div class="col-sm-3">{{sapTtotals.engagedHtva | currency:'EUR':true:'1.2-2'}}</div>
            <div class="col-sm-3">{{sapTtotals.engagedTvac | currency:'EUR':true:'1.2-2'}}</div>
        </div>
        
    </div>
</div>