<div id="GGTOP"></div>
<div class="card">
    <div class="card-block">
        <ngb-tabset *ngIf="authorizationStatusInfo && authorizationStatusInfo.isLoggedIn">
            <ngb-tab title="View Otps" id="tabView">
                <template ngbTabContent>

                    <gg-otp-list [state]="state" [otpsObservable]="otpsObservable"></gg-otp-list>

                </template>
            </ngb-tab>
            <ngb-tab title="Create an Otp" id="tabCreate" *ngIf="authorizationStatusInfo.isAdministrator()">
                <template ngbTabContent>
                    <div class="card">
                        <div class="card-block">
                            <h6>Choose the equipe to which the new Otp will be attributed</h6>
                            <gg-equipe-list [equipesObservable]="equipesObservable" [initialTabInEquipeDetail]="'tabOtp'"></gg-equipe-list>
                        </div>
                    </div>
                </template>
            </ngb-tab>
        </ngb-tabset>
        <h4 *ngIf="authorizationStatusInfo && !authorizationStatusInfo.isLoggedIn">sorry: you are not logged in</h4>
    </div>
</div>