<ngb-tabset>
    <ngb-tab title="{{'OTP.PERIOD.MENU.INFO' | translate}}" id="tabInfo">
        <template ngbTabContent>
            <div class="card">
                <div class="card-block gg-line-height">
                    <div class="row">
                        <div class="col-sm-4 vcenter">{{'OTP.PERIOD.LABEL.INITIAL BUDGET' | translate}}</div>
                        <div class="col-sm-6 vcenter">
                            <gg-editor [isMonetary]="true" [content]="budgetPeriod.budget" [showControls]="true" (editSaved)="budgetPeriodUpdated($event)"
                                [readOnly]="!authorizationStatusInfo || !authorizationStatusInfo.isAdministrator()"></gg-editor>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 vcenter">{{'OTP.PERIOD.LABEL.START DATE' | translate}}</div>
                        <div class="col-sm-6 vcenter">
                            <gg-editor-date [content]="budgetPeriod.datStart" (editSaved)="datStartPeriodUpdated($event)" [readOnly]="!authorizationStatusInfo || !authorizationStatusInfo.isAdministrator()"></gg-editor-date>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 vcenter">{{'OTP.PERIOD.LABEL.END DATE' | translate}}</div>
                        <div class="col-sm-6 vcenter">
                            <gg-editor-date [content]="budgetPeriod.datEnd" (editSaved)="datEndPeriodUpdated($event)" [readOnly]="!authorizationStatusInfo || !authorizationStatusInfo.isAdministrator()"></gg-editor-date>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 vcenter">{{'OTP.PERIOD.LABEL.ADDED LATER' | translate}}</div>
                        <div class="col-sm-6 vcenter">
                            {{budgetAnnotation.changesSum | currency:'EUR':true:'1.2-2'}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 vcenter">{{'OTP.PERIOD.LABEL.BUDGET BLOCKED' | translate}}</div>
                        <div class="col-sm-6 vcenter">
                            {{budgetAnnotation.blockedSum | currency:'EUR':true:'1.2-2'}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 vcenter">{{'OTP.PERIOD.LABEL.THAT CAN USED' | translate}}</div>
                        <div class="col-sm-6 vcenter">
                            {{budgetAnnotation.budgetAvailable | currency:'EUR':true:'1.2-2'}}
                        </div>
                    </div>
                </div>
            </div>
        </template>
    </ngb-tab>
    <ngb-tab title="{{'OTP.PERIOD.MENU.BUDGET CHANGES' | translate}}" id="tabChanges">
        <template ngbTabContent>
            <div class="card">
                <div class="card-block">
                    <ngb-tabset>
                        <ngb-tab title="{{'OTP.PERIOD.MENU.HISTORY BUDGET' | translate}}" id="tabHistoryOfBudget" *ngIf="budgetPeriod.budgetHistory && budgetPeriod.budgetHistory.length > 0">
                            <template ngbTabContent>
                                <div class="card">
                                    <div class="card-block">
                                        <div class="row">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-sm-2 vcenter"><b>{{'OTP.PERIOD.COLUMN.BUDGET INCREMENT' | translate}}</b></div>
                                                    <div class="col-sm-4 vcenter"><b>{{'OTP.PERIOD.COLUMN.DATE' | translate}}</b></div>
                                                    <div class="col-sm-3 vcenter"><b>{{'OTP.PERIOD.COLUMN.COMMENT' | translate}}</b></div>
                                                </div>
                                                <div *ngFor="let budgetHistoryItem of budgetPeriod.budgetHistory">
                                                    <!--FOR in History items (we are in a praticular history of budget) -->
                                                    <div class="row">
                                                        <div class="col-sm-2 vcenter">
                                                            <gg-editor [isMonetary]="true" [content]="budgetHistoryItem.budgetIncrement" [showControls]="true" (editSaved)="budgetChangeUpdated(budgetHistoryItem, $event)"
                                                                [readOnly]="!authorizationStatusInfo || !authorizationStatusInfo.isAdministrator()"></gg-editor>
                                                        </div>
                                                        <div class="col-sm-4 vcenter">
                                                            <gg-editor-date [content]="budgetHistoryItem.date" (editSaved)="dateBudgetChangeUpdated(budgetHistoryItem, $event)" [readOnly]="!authorizationStatusInfo || !authorizationStatusInfo.isAdministrator()"></gg-editor-date>
                                                        </div>
                                                        <div class="col-sm-3 vcenter">
                                                            <gg-editor [content]="budgetHistoryItem.comment" [showControls]="true" (editSaved)="commentsBudgetChangeUpdated(budgetHistoryItem, $event)"
                                                                [readOnly]="!authorizationStatusInfo || !authorizationStatusInfo.isAdministrator()"></gg-editor>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </template>
                        </ngb-tab>
                        <ngb-tab title="{{'OTP.PERIOD.MENU.ADD BUDGET CHANGE' | translate}}" id="tabAddBudgetChange" *ngIf="authorizationStatusInfo && authorizationStatusInfo.isAdministrator()">
                            <template ngbTabContent>
                                <div class="card">
                                    <form [formGroup]="budgetChangeForm" (ngSubmit)="SaveBudgetChange(budgetChangeForm.value, budgetPeriod, budgetChangeForm.valid)">
                                        <div class="card">
                                            <div class="card-block">
                                                <div class="form-group row">
                                                    <label for="budgetChange" class="col-sm-3 col-form-label col-xl-3">{{'OTP.PERIOD.LABEL.BUDGET INCREMENT' | translate}}</label>
                                                    <div class="col-sm-7">
                                                        <input type="number" min="0" step="any" class="form-control" formControlName="budgetChange" id="budgetChange" placeholder="Budget change">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-sm-3 vcenter">{{'OTP.PERIOD.LABEL.DATE' | translate}}</div>
                                                    <div class="col-sm-7 vcenter">
                                                        <gg-editor-date [content]="" (editSaved)="dateBudgetChangeInForm($event)"></gg-editor-date>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-sm-3 vcenter">{{'OTP.PERIOD.LABEL.COMMENT' | translate}}</div>
                                                    <div class="col-sm-7 vcenter">
                                                        <input type="text" class="form-control" formControlName="commentBudgetChange" id="commentBudgetChange" placeholder="comment">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-sm-3 col-md-2 col-lg-2">
                                                        <button class="btn btn-success" type="submit" [disabled]="!budgetChangeForm.valid">{{'FORM.SUBMIT' | translate}}</button>
                                                    </div>
                                                    <div class="col-sm-3 col-md-2 col-lg-2">
                                                        <button class="btn btn-info" [disabled]="budgetChangeForm.pristine" (click)="resetBudgetChange()">{{'FORM.RESET' | translate}}</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </template>
                        </ngb-tab>
                    </ngb-tabset>

                </div>
            </div>
        </template>
    </ngb-tab>
    <ngb-tab title="{{'OTP.PERIOD.MENU.BLOCKED AMOUNTS' | translate}}" id="tabBlocked">
        <template ngbTabContent>
            <div class="card">
                <div class="card-block">
                    <ngb-tabset>
                        <ngb-tab title="{{'OTP.PERIOD.MENU.LIST BLOCKED AMOUNT' | translate}}" id="tabListOfBlocked" *ngIf="budgetPeriod.blockedAmounts && budgetPeriod.blockedAmounts.length > 0">
                            <template ngbTabContent>
                                <div class="card">
                                    <div class="card-block">
                                        <div class="row">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-sm-3 "><b>{{'OTP.PERIOD.COLUMN.AMOUNT BLOCKED' | translate}}</b></div>
                                                    <div class="col-sm-6 "><b>{{'OTP.PERIOD.COLUMN.REASON/COMMENT' | translate}}</b></div>
                                                </div>
                                                <div *ngFor="let blockedAmountItem of budgetPeriod.blockedAmounts">
                                                    <!--FOR in History items (we are in a praticular history of budget) -->
                                                    <div class="row">
                                                        <div class="col-sm-3 vcenter">
                                                            <gg-editor [isMonetary]="true" [content]="blockedAmountItem.amount" [showControls]="true" (editSaved)="blockedAmountUpdated(blockedAmountItem, $event)"
                                                                [readOnly]="!authorizationStatusInfo || !authorizationStatusInfo.isAdministrator()"></gg-editor>
                                                        </div>
                                                        <div class="col-sm-6 vcenter">
                                                            <gg-editor [content]="blockedAmountItem.comment" [showControls]="true" (editSaved)="blockedAmountCommentUpdated(blockedAmountItem, $event)"
                                                                [readOnly]="!authorizationStatusInfo || !authorizationStatusInfo.isAdministrator()"></gg-editor>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </template>
                        </ngb-tab>
                        <ngb-tab title="{{'OTP.PERIOD.MENU.ADD BLOCKED AMOUNT' | translate}}" id="tabAddBlockAmount" *ngIf="authorizationStatusInfo && authorizationStatusInfo.isAdministrator()">
                            <template ngbTabContent>
                                <div class="card">
                                    <form [formGroup]="blockedAmountForm" (ngSubmit)="saveBlockedAmount(blockedAmountForm.value, budgetPeriod, blockedAmountForm.valid)">
                                        <div class="card">
                                            <div class="card-block">
                                                <div class="form-group row">
                                                    <div class="col-sm-3 vcenter">{{'OTP.PERIOD.LABEL.AMOUNT BLOCKED' | translate}}</div>
                                                    <div class="col-sm-7 vcenter">
                                                        <input type="number" min="0" step="any" class="form-control" formControlName="blockedAmount" id="blockedAmount" placeholder="blocked amount">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-sm-3 vcenter">{{'OTP.PERIOD.LABEL.REASON/COMMENT' | translate}}</div>
                                                    <div class="col-sm-7 vcenter">
                                                        <input type="text" class="form-control" formControlName="comment" id="comment" placeholder="comment">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-sm-3 col-md-2 col-lg-2">
                                                        <button class="btn btn-success" type="submit" [disabled]="!blockedAmountForm.valid">{{'FORM.SUBMIT' | translate}}</button>
                                                    </div>
                                                    <div class="col-sm-3 col-md-2 col-lg-2">
                                                        <button class="btn btn-info" [disabled]="blockedAmountForm.pristine" (click)="resetBlockedAmount()">{{'FORM.RESET' | translate}}</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </template>
                        </ngb-tab>
                    </ngb-tabset>

                </div>
            </div>
        </template>
    </ngb-tab>
</ngb-tabset>