<div class="card">
    <div class="card-block">
        <div class="row">
            <div class="col-sm-3 vcenter">{{'OTP.CHECKER.LABEL.WANTS ORDER' | translate}}</div>
            <div class="col-sm-5 vcenter">

                <input  [disabled]="!(authorizationStatusInfo && authorizationStatusInfo.isAdministrator())" [(ngModel)]="equipeValue" class="form-control" style="margin-top:8px;height:32px;line-height:32px;font-size:12px;cursor:pointer;"
                    ng2-auto-complete blank-option-text="{{'LOGIN.SELECT EQUIPE' | translate}}" [source]="selectableEquipes" placeholder="{{'LOGIN.CHOOSE EQUIPE' | translate}}"
                    [list-formatter]="autocompleListFormatter" (valueChanged)="equipeChanged($event)">

            </div>
        </div>

        <div class="row" *ngIf="currentEquipe">
            <div class="col-sm-3 vcenter">{{'OTP.CHECKER.LABEL.HOW MUCH WISH SPEND' | translate}}</div>
            <div class="col-sm-5 vcenter">
                <input type="number" min="0" step="any" class="form-control" (input)="changeTotalToSpend($event)" placeholder="amount to spend" value="0">                
            </div>
            <div class="col-sm-2 vcenter" [style.color]="isProblemInTotal ? 'red' : 'green'">
                {{isProblemInTotal? 'Impossible' : 'OK'}}
            </div>
        </div>


        <div class="row" *ngIf="currentEquipe">
            <div class="col-sm-3 vcenter">{{'OTP.CHECKER.LABEL.AVAILABLE BUDGET' | translate}}</div>
            <div class="col-sm-5 vcenter" [style.color]="currentEquipe.annotation.amountAvailable <= 0 ? 'red' : 'green'">
                {{currentEquipe.annotation.amountAvailable  | currency:'EUR':true:'1.2-2'}}
            </div>
        </div>
        <br/>
        <div class="card">
            <div class="card-block">

                <div class="row">
                    <div class="row">
                        <div class="col-sm-2 vcenter"><b>{{'OTP.CHECKER.COLUMN.PRODUCT TYPE' | translate}}</b></div>
                        <div class="col-sm-2 vcenter"><b>{{'OTP.CHECKER.COLUMN.AMOUNT TO SPEND' | translate}}</b></div>
                        <div class="col-sm-2 vcenter"><b>{{'OTP.CHECKER.COLUMN.PREFERED OTP' | translate}}</b></div>
                        <div class="col-sm-2 vcenter"><b>{{'OTP.CHECKER.COLUMN.MAXIMUM AVAILABLE' | translate}}</b></div>
                    </div>
                </div>
                <div class="row" *ngFor="let classificationsItem of classificationsList">
                    <div class="row">
                        <div class="col-sm-2 vcenter">{{classificationsItem.data.name}}</div>
                        <div class="col-sm-2 vcenter">
                            <input type="number" min="0" step="any" class="form-control" (input)="changePrice(classificationsItem, $event)" placeholder="amount to spend" value="0">
                        </div>
                        <div class="col-sm-2 vcenter" *ngIf="(getFirstOtpCompatible(classificationsItem, equipeId) | async)">
                            {{(getFirstOtpCompatibleOrEmpty(classificationsItem, equipeId) | async).data.name}}
                        </div>
                        <div class="col-sm-2 vcenter" *ngIf="!(getFirstOtpCompatible(classificationsItem, equipeId) | async)" [style.color]="'red'">
                            Can't buy this kind of products
                        </div>
                        <div class="col-sm-2 vcenter">
                            {{(getFirstOtpCompatibleOrEmpty(classificationsItem, equipeId) | async).annotation.amountAvailable | currency:'EUR':true:'1.2-2'}}
                        </div>
                        <div class="col-sm-2 vcenter">
                            <button *ngIf="(getFirstOtpCompatible(classificationsItem, equipeId) | async)" type="button" class="btn btn-link" (click)="classificationsItem.isOpened=!classificationsItem.isOpened">Show/hide details</button>
                        </div>
                    </div>
                    <div class="row" [ngbCollapse]="!classificationsItem.isOpened || !(getFirstOtpCompatible(classificationsItem, equipeId) | async)">
                        <div class="card">
                            <div class="card-block">
                                <div class="row">
                                    <div class="col-sm-1"><b>{{'OTP.CHECKER.COLUMN.PREFERENCE' | translate}}</b></div>
                                    <div class="col-sm-2"><b>{{'OTP.CHECKER.COLUMN.OTP' | translate}}</b></div>
                                    <div class="col-sm-2"><b>{{'OTP.CHECKER.COLUMN.EQUIPE' | translate}}</b></div>
                                    <div class="col-sm-2"><b>{{'OTP.CHECKER.COLUMN.EXPIRES' | translate}}</b></div>
                                    <div class="col-sm-2"><b>{{'OTP.CHECKER.COLUMN.AVAILABLE' | translate}}</b></div>
                                </div>
                                <div class="row" *ngFor="let otp of (getOtpsCompatible(classificationsItem, equipeId) | async); let i = index">
                                    <div class="col-sm-1">{{i+1}}</div>
                                    <div class="col-sm-2">{{otp.data.name}}</div>
                                    <div class="col-sm-2">{{otp.annotation.equipe}} {{otp.data.isLimitedToOwner ? '(exclusive)' : ''}}</div>
                                    <div class="col-sm-2" *ngIf="otp.annotation.currentPeriodAnnotation">{{otp.annotation.currentPeriodAnnotation.datEnd | shortDate }} ({{otp.data.priority}})</div>
                                    <div class="col-sm-2" *ngIf="!otp.annotation.currentPeriodAnnotation" [style.color]="'red'">Not for current period</div>
                                    <div class="col-sm-2">{{otp.annotation.amountAvailable | currency:'EUR':true:'1.2-2'}}</div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>