<div id="GGTOP"></div>
<div class="card">
    <div class="card-body">
        <ngb-tabset *ngIf="authorizationStatusInfo?.isLoggedIn">
            <ngb-tab title="{{'OTP.MENU.VIEW OTPS' | translate}}" id="tabView">
                <ng-template ngbTabContent>

                    <gg-otp-list [state]="state" [otpsObservable]="otpsObservable"></gg-otp-list>

                </ng-template>
            </ngb-tab>
            <ngb-tab title="{{'OTP.MENU.SOON EXPIRING' | translate}} ({{nbExpiringOtps}})" id="tabViewExpiring" *ngIf="nbExpiringOtps">
                <ng-template ngbTabContent>

                    <gg-otp-list [state]="state" [otpsObservable]="otpsObservableExpiring"></gg-otp-list>

                </ng-template>
            </ngb-tab>
            <ngb-tab title="{{'OTP.MENU.CREATE OTP' | translate}}" id="tabCreate" *ngIf="authorizationStatusInfo.isAdministrator()">
                <ng-template ngbTabContent>
                    <div class="card">
                        <div class="card-body">
                            <h6>Choose the equipe to which the new Otp will be attributed</h6>
                            <gg-equipe-list [equipesObservable]="equipesObservable" [initialTabInEquipeDetail]="'tabOtp'"></gg-equipe-list>
                        </div>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="{{'OTP.MENU.CHOICE SIMULATOR' | translate}}" id="tabByClassification" >
                <ng-template ngbTabContent>
                    <gg-otp-checker></gg-otp-checker>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="{{'OTP.MENU.PRODUCT CLASSIFICATIONS' | translate}}" id="tabProductClassifications">
                <ng-template ngbTabContent>
                    <div class="card">
                        <div class="card-body">
                            <ngb-tabset>
                                <ngb-tab *ngIf="classificationsList && classificationsList.length > 0" title="{{'OTP.CLASSIFICATION.MENU.LIST CLASSIFICATION' | translate}}" id="tabListOfClassifications">
                                    <ng-template ngbTabContent>
                                        <div class="card">
                                            <div class="card-body">
                                                <ngb-accordion [closeOthers]="true" #acc="ngbAccordion">
                                                    <ngb-panel [disabled]="true">
                                                        <ng-template ngbPanelTitle>
                                                            <div class="row">
                                                                <div class="col-sm-2"><b>{{'OTP.CLASSIFICATION.COLUMN.NAME' | translate}}</b></div>
                                                                <div class="col-sm-4"><b>{{'OTP.CLASSIFICATION.COLUMN.CATEGORIES' | translate}}</b></div>
                                                                <div class="col-sm-2" [ngbTooltip]="'OTP.CLASSIFICATION.CONSIDER ONLY ACTIVE OTPS THAT ARE OPEN TO ALL EQUIPES TIP' | translate"><b>{{'OTP.CLASSIFICATION.COLUMN.AVAILABLE UNRESTRICTED' | translate}}</b></div>
                                                                <div class="col-sm-2" [ngbTooltip]="'OTP.CLASSIFICATION.CONSIDER ONLY ACTIVE OTPS TIP' | translate"><b>{{'OTP.CLASSIFICATION.COLUMN.AVAILABLE RESTRICTED' | translate}}</b></div>
                                                                <div class="col-sm-1" [ngbTooltip]="'OTP.CLASSIFICATION.CONSIDER ALL OTPS TIP' | translate"><b>{{'OTP.CLASSIFICATION.COLUMN.NUMBER OTPS' | translate}}</b></div>
                                                            </div>
                                                        </ng-template>
                                                    </ngb-panel>
                                                    <ngb-panel *ngFor="let classificationsItem of classificationsList">
                                                        <ng-template ngbPanelTitle>
                                                            <div class="row" id="{{classificationsItem._id}}">
                                                                <div class="col-sm-2">{{classificationsItem.data.name}}</div>
                                                                <div class="col-sm-4">
                                                                    <gg-text-compact [text]="classificationsItem.annotation.categoriesTxt" [numberOfChar]="40"></gg-text-compact>
                                                                </div>
                                                                <div class="col-sm-2">{{classificationsItem.annotation.availableUnRestricted |
                                                                    currency:'EUR':true:'1.2-2'}}
                                                                </div>
                                                                <div class="col-sm-2">{{classificationsItem.annotation.availableRestricted | currency:'EUR':true:'1.2-2'}}</div>
                                                                <div class="col-sm-1">{{((getOtpsObservableByClassification(classificationsItem.data._id)
                                                                    | async) || []).length}}</div>
                                                            </div>
                                                        </ng-template>
                                                        <ng-template ngbPanelContent>
                                                            <ngb-tabset>
                                                                <ngb-tab title="{{'OTP.CLASSIFICATION.MENU.INFO' | translate}}" id="tabInfo">
                                                                    <ng-template ngbTabContent>
                                                                        <div class="card">
                                                                            <div class="card-body">
                                                                                <div class="row">
                                                                                    <div class="col-sm-3 align-self-center"><b>{{'OTP.CLASSIFICATION.LABEL.NAME' | translate}}</b></div>
                                                                                    <div class="col-sm-8 align-self-center">
                                                                                        <gg-editor [content]="classificationsItem.data.name" [showControls]="true" (editSaved)="classificationsNameUpdated($event, classificationsItem)"
                                                                                            [readOnly]="!authorizationStatusInfo?.isAdministrator()">
                                                                                        </gg-editor>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row">
                                                                                    <div class="col-sm-3 align-self-center"><b>{{'OTP.CLASSIFICATION.LABEL.DESCRIPTION' | translate}}</b></div>
                                                                                    <div class="col-sm-8 align-self-center">
                                                                                        <gg-editor [content]="classificationsItem.data.description" [showControls]="true" (editSaved)="classificationsDescriptionUpdated($event, classificationsItem)"
                                                                                            [readOnly]="!authorizationStatusInfo?.isAdministrator()">
                                                                                        </gg-editor>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row">
                                                                                    <div class="col-sm-3 align-self-center"><b>{{'OTP.CLASSIFICATION.LABEL.PRODUCT CATEGORIES' | translate}}</b></div>
                                                                                    <div class="col-sm-8 align-self-center">
                                                                                        <gg-selector [selectableData]="selectableCategoriesObservable" [selectedIds]="getCategoriesObservable(classificationsItem.data._id)"
                                                                                            (selectionChanged)="categorySelectionChanged($event, classificationsItem)"
                                                                                            (selectionOptionAdded)="categoryHasBeenAdded($event)"
                                                                                            [readOnly]="!authorizationStatusInfo?.isAdministrator()">
                                                                                        </gg-selector>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </ng-template>
                                                                </ngb-tab>((suppliersWithNonUrgentBasketObservable |async) || []).length
                                                                <ngb-tab title="{{'OTP.CLASSIFICATION.MENU.OTPS' | translate}} ({{((getOtpsObservableByClassification(classificationsItem.data._id) | async) || []).length}})" id="tabOtpsByClassification">
                                                                    <ng-template ngbTabContent>
                                                                        <gg-otp-list [otpsObservable]="getOtpsObservableByClassification(classificationsItem.data._id)"></gg-otp-list>
                                                                    </ng-template>
                                                                </ngb-tab>

                                                            </ngb-tabset>
                                                        </ng-template>
                                                    </ngb-panel>
                                                </ngb-accordion>
                                            </div>
                                        </div>
                                    </ng-template>
                                </ngb-tab>
                                <ngb-tab title="{{'OTP.CLASSIFICATION.MENU.CREATE CLASSIFICATION' | translate}}" id="tabCreateClassification" *ngIf="authorizationStatusInfo?.isAdministrator()">
                                    <ng-template ngbTabContent>
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="container-fluid">
                                                    <form [formGroup]="classificationForm" (ngSubmit)="save(classificationForm.value, classificationForm.valid)">
                                                        <div class="form-group row">
                                                            <label for="classificationName" class="col-sm-2 col-form-label col-xl-2">{{'OTP.CLASSIFICATION.LABEL.NAME CREATE' | translate}}</label>
                                                            <div class="col-sm-10">
                                                                <input type="text" class="form-control" formControlName="classificationName" id="classificationName" placeholder="{{'OTP.CLASSIFICATION.LABEL.NAME' | translate}}">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label for="classificationDescription" class="col-sm-2 col-form-label col-xl-2">{{'OTP.CLASSIFICATION.LABEL.DESCRIPTION CREATE' | translate}}</label>
                                                            <div class="col-sm-10">
                                                                <input type="text" class="form-control" formControlName="classificationDescription" id="classificationDescription" placeholder="{{'OTP.CLASSIFICATION.LABEL.DESCRIPTION' | translate}}">
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-3 col-md-2 col-lg-2">
                                                                <button class="btn btn-success" type="submit" [disabled]="!classificationForm.valid">{{'FORM.SUBMIT' | translate}}</button>
                                                            </div>
                                                            <div class="col-sm-3 col-md-2 col-lg-2">
                                                                <button class="btn btn-info" [disabled]="classificationForm.pristine" (click)="reset()">{{'FORM.RESET' | translate}}</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                </ngb-tab>
                                <ngb-tab title="{{'OTP.CLASSIFICATION.MENU.WITHOUT CLASSIFICATION' | translate}} ({{((categoryNoClassificationObservable | async) || []).length}})" id="tabViewCatNoClass">
                                    <ng-template ngbTabContent>
                                        <gg-category-list [categoryObservable]="categoryNoClassificationObservable"></gg-category-list>
                                    </ng-template>
                                </ngb-tab>
                            </ngb-tabset>
                        </div>
                    </div>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
        <h4 *ngIf="authorizationStatusInfo && !authorizationStatusInfo.isLoggedIn">{{'ERROR.NO LOGIN' | translate}}</h4>
    </div>
</div>