<template #popContent>{{isRoot ? 'Click here to go back to last view' : 'Click here to get a detail view'}}</template>

<ngb-tabset *ngIf="otp" (tabChange)="beforeTabChange($event)" [activeId]="state.selectedTabId">
	<ngb-tab title="{{'OTP.MENU.INFO' | translate}}" id="tabInfo">
		<template ngbTabContent>
			<div class="card">
				<div class="card-block">
					<div class="row">
						<div class="col-sm-4 vcenter">{{'OTP.LABEL.OTP' | translate}}</div>
						<div class="col-sm-6 vcenter">
							<gg-editor [content]="otp.data.name" [showControls]="true" (editSaved)="nameUpdated($event)" [readOnly]="!authorizationStatusInfo || !authorizationStatusInfo.isAdministrator()"></gg-editor>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4 vcenter">{{'OTP.LABEL.DESCRIPTION' | translate}}</div>
						<div class="col-sm-6 vcenter">
							<gg-editor [content]="otp.data.description" [showControls]="true" (editSaved)="descriptionUpdated($event)" [readOnly]="!authorizationStatusInfo || !authorizationStatusInfo.isAdministrator()"></gg-editor>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4 vcenter">{{'OTP.LABEL.CLASSIFICATION' | translate}}</div>
						<div class="col-sm-6 vcenter">
							<gg-selector [selectableData]="selectableClassificationsObservable" [selectedIds]="selectedClassificationIdsObservable" (selectionChanged)="classificationChanged($event)"
							 (selectionOptionAdded)="classificationHasBeenAdded($event)" [readOnly]="!authorizationStatusInfo || !authorizationStatusInfo.isAdministrator()"></gg-selector>							
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4 vcenter">{{'OTP.LABEL.EQUIPE' | translate}}</div>
						<div class="col-sm-6 vcenter">
							<gg-editor-autocomplete [selectableData]="equipeListObservable" [selectedId]="otp.data.equipeId" (idChanged)="equipeChanged($event)" ></gg-editor-autocomplete>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4 vcenter">{{'OTP.LABEL.NOTE' | translate}}</div>
						<div class="col-sm-6 vcenter">
							<gg-editor [content]="otp.data.note" [showControls]="true" (editSaved)="noteUpdated($event)" [readOnly]="!authorizationStatusInfo || !authorizationStatusInfo.isAdministrator()"></gg-editor>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4 vcenter">{{'OTP.LABEL.ALLOWED PRODUCTS' | translate}}</div>
						<div class="col-sm-6 vcenter">
							<gg-selector [selectableData]="selectableCategoriesObservable" [selectedIds]="selectedCategoryIdsObservable" (selectionChanged)="categorySelectionChanged($event)"
							 (selectionOptionAdded)="categoryHasBeenAdded($event)" [readOnly]="true"></gg-selector>
						</div>
					</div>
					<div class="row" [style.color]="otp.data.isLimitedToOwner ? 'red' : 'black'">
						<div class="col-sm-4 vcenter">{{'OTP.LABEL.LIMITED OWNER' | translate}}</div>
						<div class="col-sm-6 vcenter">
							<gg-editor-boolean [content]="otp.data.isLimitedToOwner" (editSaved)="limitedToOwnerUpdated($event)" [readOnly]="!authorizationStatusInfo || !authorizationStatusInfo.isAdministrator()"></gg-editor-boolean>
						</div>
					</div>
					<div class="row" [style.color]="otp.data.isBlocked ? 'red' : 'black'">
						<div class="col-sm-4 vcenter">{{'OTP.LABEL.IS BLOCKED' | translate}}</div>
						<div class="col-sm-6 vcenter">
							<gg-editor-boolean [content]="otp.data.isBlocked" (editSaved)="blockedUpdated($event)" [readOnly]="!authorizationStatusInfo || !authorizationStatusInfo.isAdministrator()"></gg-editor-boolean>
						</div>
					</div>
					<div class="row" [style.color]="otp.data.isClosed ? 'red' : 'black'">
						<div class="col-sm-4 vcenter">{{'OTP.LABEL.IS CLOSED' | translate}}</div>
						<div class="col-sm-6 vcenter">
							<gg-editor-boolean [content]="otp.data.isClosed" (editSaved)="closedUpdated($event)" [readOnly]="!authorizationStatusInfo || !authorizationStatusInfo.isAdministrator()"></gg-editor-boolean>
						</div>
					</div>
					<div class="row" [style.color]="otp.data.isDeleted ? 'red' : 'black'">
						<div class="col-sm-4 vcenter">{{'OTP.LABEL.IS DELETED' | translate}}</div>
						<div class="col-sm-6 vcenter">
							<gg-editor-boolean [content]="otp.data.isDeleted" (editSaved)="deletedUpdated($event)" [readOnly]="!authorizationStatusInfo || !authorizationStatusInfo.isAdministrator()"></gg-editor-boolean>
						</div>
					</div>
					<div class="row" [style.color]="!otp.data.priority ? 'red' : 'black'">
						<div class="col-sm-4 vcenter">{{'OTP.LABEL.PRIORITY' | translate}}</div>
						<div class="col-sm-6 vcenter">
							<gg-editor-number [content]="otp.data.priority" (editSaved)="priorityUpdated($event)" [readOnly]="!authorizationStatusInfo || !authorizationStatusInfo.isAdministrator()"></gg-editor-number>
						</div>
					</div>
					<div class="row" [style.color]="otp.data.excludeFixCost ? 'red' : 'black'">
						<div class="col-sm-4 vcenter">{{'OTP.LABEL.CANNOT TRANSPORT COSTS' | translate}}</div>
						<div class="col-sm-6 vcenter">
							<gg-editor-boolean [content]="otp.data.excludeFixCost" (editSaved)="excludeFixCostUpdated($event)" [readOnly]="!authorizationStatusInfo || !authorizationStatusInfo.isAdministrator()"></gg-editor-boolean>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-2">
							<img *ngIf="!otp.annotation.dashletId" src="../../images/pin.png" (click)="setDashlet()" />
							<img *ngIf="otp.annotation.dashletId" src="../../images/unpin.png" (click)="removeDashlet(otp.annotation.dashletId)" />
						</div>
					</div>

					<div class="row" *ngIf="!configService.isProduction()">
						<div class="col-sm-4">_id:</div>
						<div class="col-sm-6">{{otp.data._id}}</div>
					</div>

				</div>
			</div>
		</template>
	</ngb-tab>
	<ngb-tab title="{{'OTP.MENU.BUDGET' | translate}}" id="tabBudget">
		<template ngbTabContent>
			<div class="card">
				<div class="card-block">
					<div class="row">
						<ngb-tabset>
							<ngb-tab title="{{'OTP.MENU.CURRENT BUDGET' | translate}}" id="tabOtpCurrentBudget">
								<template ngbTabContent>
									<div class="card">
										<div class="card-block">
											<div *ngIf="otp.annotation.currentPeriodIndex !== -1">
												<gg-otp-period-detail [budgetPeriod]="otp.data.budgetPeriods[otp.annotation.currentPeriodIndex]" [otp]="otp" [budgetAnnotation]="otp.annotation.currentPeriodAnnotation"></gg-otp-period-detail>
											</div>
											<div *ngIf="otp.annotation.currentPeriodIndex === -1">
												<p>There is no otp budget defined for the present period.</p>
											</div>
										</div>
									</div>
								</template>
							</ngb-tab>
							<ngb-tab title="{{'OTP.MENU.PERIODS' | translate}}" id="tabOtpPeriods">
								<template ngbTabContent>
									<div class="card">
										<div class="card-block">

											<div class="row">
												<label class="col-sm-3 col-form-label col-xl-3 vcenter">{{'OTP.LABEL.IS ANNUAL' | translate}}</label>
												<div class="col-md-3 vcenter">
													<gg-editor-boolean [content]="otp.data.isAnnual" (editSaved)="updatedIsAnnualChecked($event)" [readOnly]="!authorizationStatusInfo || !authorizationStatusInfo.isAdministrator()"></gg-editor-boolean>
												</div>
											</div>

											<ngb-tabset>
												<ngb-tab title="{{'OTP.MENU.HISTORY PERIODS' | translate}}" id="tabHistoryOfBudgetPeriods">
													<template ngbTabContent>
														<div class="card">
															<div class="card-block">
																<div class="row">

																	<ngb-accordion [closeOthers]="true" #acc="ngbAccordion">
																		<ngb-panel [disabled]="true">
																			<template ngbPanelTitle>
																				<div class="row">
																					<div class="col-sm-2"><b>{{'OTP.PERIOD.COLUMN.BUDGET OF THE PERIOD' | translate}}</b></div>
																					<div class="col-sm-4"><b>{{'OTP.PERIOD.COLUMN.DATE START' | translate}}</b></div>
																					<div class="col-sm-4"><b>{{'OTP.PERIOD.COLUMN.DATE END' | translate}}</b></div>
																				</div>
																			</template>
																			<template ngbPanelContent>
																			</template>
																		</ngb-panel>
																		<ngb-panel *ngFor="let budgetPeriod of otp.data.budgetPeriods; let index=index">
																			<template ngbPanelTitle>
																				<div class="row">
																					<div class="col-sm-2">{{otp.annotation.budgetPeriods[index].budgetAvailable | currency:'EUR':true:'1.2-2'}}</div>
																					<div class="col-sm-4">{{budgetPeriod.datStart | shortDate}}</div>
																					<div class="col-sm-4">{{budgetPeriod.datEnd | shortDate}}</div>
																				</div>
																			</template>
																			<template ngbPanelContent>
																				<gg-otp-period-detail [budgetPeriod]="budgetPeriod" [otp]="otp" [budgetAnnotation]="otp.annotation.budgetPeriods[index]"></gg-otp-period-detail>
																			</template>
																		</ngb-panel>
																	</ngb-accordion>
																</div>
															</div>
														</div>
													</template>
												</ngb-tab>
												<ngb-tab title="{{'OTP.MENU.ADD BUDGET PERIOD' | translate}}" id="tabAddNewBudgetPeriod" *ngIf="authorizationStatusInfo && authorizationStatusInfo.isAdministrator() && otp.data.isAnnual">
													<template ngbTabContent>
														<div class="card">
															<form [formGroup]="annualForm" (ngSubmit)="SaveNewBudget(annualForm.value, annualForm.valid)">
																<div class="card">
																	<div class="card-block">
																		<div class="form-group row">
																			<label for="budgetAnnual" class="col-sm-3 col-form-label col-xl-3">{{'OTP.LABEL.BUDGET' | translate}}</label>
																			<div class="col-sm-7">
																				<input type="number" min="0" step="any" class="form-control" formControlName="budgetAnnual" id="budgetAnnual" placeholder="Budget annual">
																			</div>
																		</div>
																		<div class="form-group row">
																			<div class="col-sm-3 vcenter">{{'OTP.LABEL.FROM' | translate}}</div>
																			<div class="col-sm-7 vcenter">
																				<gg-editor-date [content]="" (editSaved)="dateStartAnnualUpdated($event)"></gg-editor-date>
																			</div>
																		</div>
																		<div class="form-group row">
																			<div class="col-sm-3 vcenter">{{'OTP.LABEL.TO' | translate}}</div>
																			<div class="col-sm-7 vcenter">
																				<gg-editor-date [content]="" (editSaved)="dateEndAnnualUpdated($event)"></gg-editor-date>
																			</div>
																		</div>
																		<div class="form-group row">
																			<div class="col-sm-3 col-md-2 col-lg-2">
																				<button class="btn btn-success" type="submit" [disabled]="!annualForm.valid">{{'FORM.SUBMIT' | translate}}</button>
																			</div>
																			<div class="col-sm-3 col-md-2 col-lg-2">
																				<button class="btn btn-info" [disabled]="annualForm.pristine" (click)="reset()">{{'FORM.RESET' | translate}}</button>
																			</div>
																		</div>
																	</div>
																</div>
															</form>
														</div>
													</template>
												</ngb-tab>
											</ngb-tabset>
										</div>
									</div>
								</template>
							</ngb-tab>
							<ngb-tab title="{{'OTP.MENU.WARNINGS' | translate}}" id="tabWarnings">
								<template ngbTabContent>
									<div class="card">
										<div class="card-block">
											<div class="row">
												<div class="col-sm-4 vcenter">{{'OTP.WARNING.MONTHS BEFORE END' | translate}}</div>
												<div class="col-sm-6 vcenter">
													<gg-editor-number [content]="otp.data.warningNbMonthsToEnd" (editSaved)="warningNbMonthsToEndUpdated($event)" [readOnly]="!authorizationStatusInfo || !authorizationStatusInfo.isAdministrator()"></gg-editor-number>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-4 vcenter">{{'OTP.WARNING.REPEATS AFTER WARNING' | translate}}</div>
												<div class="col-sm-6 vcenter">
													<gg-editor-number [content]="otp.data.warningNbRepeats" (editSaved)="warningNbRepeatsUpdated($event)" [readOnly]="!authorizationStatusInfo || !authorizationStatusInfo.isAdministrator()"></gg-editor-number>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-4 vcenter">{{'OTP.WARNING.DAYS WAIT REPEAT' | translate}}</div>
												<div class="col-sm-6 vcenter">
													<gg-editor-number [content]="otp.data.warningNbDaysBetweenRepeats" (editSaved)="warningNbDaysBetweenRepeatsUpdated($event)" [readOnly]="!authorizationStatusInfo || !authorizationStatusInfo.isAdministrator()"></gg-editor-number>
												</div>
											</div>
										</div>
									</div>
								</template>
							</ngb-tab>
						</ngb-tabset>

					</div>
				</div>
			</div>
		</template>
	</ngb-tab>
	<ngb-tab title="{{'OTP.MENU.SPENDING' | translate}}" id="tabSpending" *ngIf="otp">
		<template ngbTabContent>
			<div class="card">
				<div class="card-block">
					<div class="row">
						<div class="col-sm-4">{{'OTP.LABEL.TOTAL BUDGET' | translate}}</div>
						<div class="col-sm-6">+ {{otp.annotation.budget | currency:'EUR':true:'1.2-2'}}</div>
					</div>
					<div class="row">
						<div class="col-sm-4">{{'OTP.LABEL.SPENT OR BLOCKED' | translate}}</div>
						<div class="col-sm-6">- {{otp.annotation.amountSpent | currency:'EUR':true:'1.2-2'}}</div>
					</div>
					<div class="row">
						<div class="col-sm-4"></div>
						<div class="col-sm-6">================</div>
					</div>
					<div class="row">
						<div class="col-sm-4">{{'OTP.LABEL.AMOUNT AVAILABLE' | translate}}</div>
						<div class="col-sm-6">= {{otp.annotation.amountAvailable | currency:'EUR':true:'1.2-2'}}</div>
					</div>
					<div class="row">
						<div class="col-sm-4"></div>
						<div class="col-sm-6"></div>
					</div>
					<div class="row">
						<div class="col-sm-4">{{'OTP.LABEL.BLOCKED PURCHASE ORDERS' | translate}}</div>
						<div class="col-sm-6">{{otp.annotation.amountSpentNotYetInSap | currency:'EUR':true:'1.2-2'}}</div>
					</div>
					<div class="row">
						<div class="col-sm-4">{{'OTP.LABEL.BLOCKED STILL ENGAGED' | translate}}</div>
						<div class="col-sm-6">{{otp.annotation.amountEngaged | currency:'EUR':true:'1.2-2'}}</div>
					</div>
					<div class="row">
						<div class="col-sm-4">{{'OTP.LABEL.SPENT INVOICES' | translate}}</div>
						<div class="col-sm-6">{{otp.annotation.amountBilled | currency:'EUR':true:'1.2-2'}}</div>
					</div>
				</div>
			</div>
		</template>
	</ngb-tab>
	<ngb-tab title="{{'OTP.MENU.CHARTS' | translate}}" id="tabCharts">
		<template ngbTabContent>
			<div class="card">
				<div class="card-block">
					<div class="row">
						<div class="col-sm-6">
							<div class='akbox'>
								<div class='akcontent'>
									<x-chartist [data]="pieSpentChart.data" [type]="pieSpentChart.type"></x-chartist>
								</div>
							</div>

						</div>"
					</div>

				</div>
			</div>
		</template>
	</ngb-tab>
	<ngb-tab id="tabComments">
		<template ngbTabTitle>
			<gg-comments-tab-title [data]="otp.data"></gg-comments-tab-title>
		</template>
		<template ngbTabContent>
			<gg-comments-tab [data]="otp.data" [dbTable]="'otps'" [urlPart]="'otp'"></gg-comments-tab>
		</template>		
	</ngb-tab>
	<ngb-tab title="{{'OTP.MENU.ORDERS' | translate}}" *ngIf="anyOrder" id="tabOrders">
		<template ngbTabContent>
			<gg-order-list [ordersObservable]="ordersObservable" [state]="state.Orders" [path]="path+'|O:Orders'" (stateChanged)="childOrdersStateChanged($event)"></gg-order-list>
		</template>
	</ngb-tab>
	<ngb-tab title="{{'OTP.MENU.SAP' | translate}}" *ngIf="sapIdList" id="tabSaps">
		<template ngbTabContent>
			<div class="card">
				<div class="card-block">
					<ngb-tabset>
						<ngb-tab title="{{'OTP.MENU.ALL ITEMS' | translate}}" id="tabSapsAll">
							<template ngbTabContent>
								<gg-sap-by-sapids-list [sapIdList]="sapIdList" [otp]="otp" [state]="state.Saps" [path]="path+'|O:Saps'" (stateChanged)="childSapsStateChanged($event)"></gg-sap-by-sapids-list>
							</template>
						</ngb-tab>
<!--						<ngb-tab title="By date" id="tabSapsByDate">
							<template ngbTabContent>
								<gg-sap-by-date [otp]="otp.data.name"></gg-sap-by-date>
							</template>
						</ngb-tab>
-->					</ngb-tabset>
				</div>
			</div>
		</template>
	</ngb-tab>


	<ngb-tab id="tabMax">
		<template ngbTabTitle><img src="../../images/maximize.png" [ngbPopover]="popContent" triggers="mouseenter:mouseleave" /></template>
		<template ngbTabContent></template>
	</ngb-tab>
	<ngb-tab id="gotoTop" *ngIf="!isRoot && path!=='dashboard'">
		<template ngbTabTitle><img src="../../images/gototop.png" ngbPopover="Goto top of the page" triggers="mouseenter:mouseleave" /></template>
		<template ngbTabContent></template>
	</ngb-tab>

</ngb-tabset>