<div class="card">
    <div class="card-block">
        <div class="row">
            <div class="col-sm-2 vcenter">équipe:</div>
            <div class="col-sm-6 vcenter">

				<input [(ngModel)]="equipeValue" class="form-control"
				 style="margin-top:8px;height:32px;line-height:32px;font-size:12px;cursor:pointer;" ng2-auto-complete blank-option-text="{{'LOGIN.SELECT EQUIPE' | translate}}"
				 [source]="possibleEquipes" placeholder="{{'LOGIN.CHOOSE EQUIPE' | translate}}" [list-formatter]="autocompleListFormatter" (valueChanged)="equipeChanged($event)">
                                
            </div>
        </div> 

        <div class="row">
            <div class="row">
                <div class="col-sm-2 vcenter"><b>Classification</b></div>
                <div class="col-sm-2 vcenter"><b>Amount to spend</b></div>
                <div class="col-sm-2 vcenter"><b>Prefered Otp</b></div>
                <div class="col-sm-2 vcenter"><b>Maximum available on Otp</b></div>
            </div>
        </div>
        <div class="row" *ngFor="let classificationsItem of classificationsList">
            <div class="row">
                <div class="col-sm-2 vcenter">{{classificationsItem.data.name}}</div>
                <div class="col-sm-2 vcenter">
                    <input type="number" min="0" step="any" class="form-control" (input)="changePrice(classificationsItem, $event)" placeholder="price to spend">
                </div>
                <div class="col-sm-2 vcenter">
                    {{(getFirstOtpCompatibleOrEmpty(classificationsItem, equipeId) | async).data.name}}
                </div>
                <div class="col-sm-2 vcenter">
                    {{(getFirstOtpCompatibleOrEmpty(classificationsItem, equipeId) | async).annotation.amountAvailable | currency:'EUR':true:'1.2-2'}}
                </div>
                <div class="col-sm-2 vcenter">
                    <button *ngIf="(getFirstOtpCompatible(classificationsItem, equipeId) | async)" type="button" class="btn btn-link"
                        (click)="classificationsItem.isOpened=!classificationsItem.isOpened">Show/hide details</button>
                </div>
            </div>
            <div class="row" [ngbCollapse]="!classificationsItem.isOpened || !(getFirstOtpCompatible(classificationsItem, equipeId) | async)">
                <div class="card">
                    <div class="card-block">
                        <div class="row">
                            <div class="col-sm-1"><b>Preference</b></div>
                            <div class="col-sm-2"><b>Otp</b></div>
                            <div class="col-sm-2"><b>Equipe</b></div>
                            <div class="col-sm-2"><b>Expires</b></div>
                            <div class="col-sm-2"><b>Available</b></div>
                        </div>
                        <div class="row" *ngFor="let otp of (getOtpsCompatible(classificationsItem, equipeId) | async); let i = index">
                            <div class="col-sm-1">{{i+1}}</div>
                            <div class="col-sm-2">{{otp.data.name}}</div>
                            <div class="col-sm-2">{{otp.annotation.equipe}} {{otp.data.isLimitedToOwner ? '(exclusive)' : ''}}</div>
                            <div class="col-sm-2" *ngIf="otp.annotation.currentPeriodAnnotation">{{otp.annotation.currentPeriodAnnotation.datEnd | shortDate }} ({{otp.data.priority}})</div>
                            <div class="col-sm-2" *ngIf="!otp.annotation.currentPeriodAnnotation" [style.color]="'red'">Not for current period</div>
                            <div class="col-sm-2">{{otp.annotation.amountAvailable | currency:'EUR':true:'1.2-2'}}</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>