<div class="row" ng-hide="!possibleUsers || possibleUsers.length===0">
    <div class="col-sm-4">We found a possible ULg email address, as well as an ULg identifier for you. Thank you for choosing the right one or
        telling us that none of these corresponds to you.</div>
    <div class="col-sm-8">
        <div class="row">
            <div class="col-sm-4">
                <div class="radio">
                    <label><input type="radio" ng-model="userAnswer" value="yes">This is me</label>
                </div>
            </div>
            <div class="col-sm-8">
                <div style="">
                    <div class="list-group">
                        <a ng-repeat="candidate in possibleUsers" class="list-group-item" ng-click="setUserSelected(candidate)" ng-class="{active:isUserTheActiveOne(candidate)}">{{getDisplayUserName(candidate)}}</a>
                    </div>
                    <p>Click on the name that corresponds, even if there is only one (temporary message)</p>
                </div>
                <!--<select ng-model="specifiedUserId" size="5">
                            <option ng-repeat="candidate in possibleUsers" value="{{candidate._id}}">{{getDisplayUserName(candidate)}}</option>
                        </select>-->
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="radio">
                    <label><input type="radio" ng-model="userAnswer" value="no">None of these correspond to me</label>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-show="!possibleUsers || possibleUsers.length===0">
    <h3>Unfortunately we could not find you in our database. We will create a temporyry user for you. Please continue.</h3>
</div>