<div class="row">
    <div class="col-sm-4">
        <a href="http://www.giga.ulg.ac.be/">
            <img src="../../../images/michegeorges.jpg" />
        </a>
    </div>
    <div class="col-sm-8">
        <p>Hello,</p>
        <p>Welcome at GIGA.</p>
        <p>My name is Michel Georges and I am presently the director of GIGA. We are delighted that you are joining our Institute.
            We will herein (i) make a short presentation of GIGA, and (ii) initiate a process to install you at GIGA so that
            you can work in the best possible and safe conditions. You will have to provide us with some specific information
            via this computer. We will also automatically send emails to the head of your laboratory, your so-called “PI”,
            who will provide us with information that you may not have.</p>
    </div>
</div>