<div class="row" *ngIf="possibleUsers && possibleUsers.length>0">
    <div class="col-sm-4">We found a possible ULg email address, as well as an ULg identifier for you. Thank you for choosing the right one or
        telling us that none of these corresponds to you.</div>
    <div class="col-sm-8">

        <div class="row">
            <div class="col-sm-4">
                <div class="radio">
                    <label><input type="radio" (click)="setUserAnswer('yes')" [(ngModel)]="userAnswer" value="yes">This is me</label>
                </div>
            </div>
            <div class="col-sm-8">
                <div>
                    <div class="list-group">
                        <a *ngFor="let candidate of possibleUsers" class="list-group-item" (click)="setUserSelected(candidate)" [class.active]="candidate.data._id===selectedUserId">{{candidate.annotation.fullName}}</a>
                    </div>
                    <br/>
                    <p>Click on the name that corresponds</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="radio">
                    <label><input type="radio" (click)="setUserAnswer('no')" [(ngModel)]="userAnswer" value="no">None of these correspond to me</label>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="!possibleUsers || possibleUsers.length===0">
    <h5>Unfortunately we could not find you in our database. We will create a temporary user for you. Please continue.</h5>
</div>