<div class="row">
    <div class="col-sm-4">
        <p>Please enter your last and first name in the window that now appears on the right side of the screen.</p>
        <p>Thank you!</p>
    </div>
    <div class="col-sm-8">
        <form [formGroup]="form">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="last name" formControlName="name">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="first name" formControlName="firstName">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>