<div class="row">
    <div class="col-sm-4">
        <a href="http://www.giga.ulg.ac.be/">
            <img src="../../../images/michegeorges.jpg" />
        </a>
    </div>
    <div class="col-sm-8">
        <p>{{newUserId}}</p>
        <p>We have sent an email to your PI. He will confirm the validity of your application and provide us with information
            about your team, your bench and desk, your ordering rights, as well as the GIGA facilities and platforms to which
            he would like you to have access.</p>
        <p>We will now give you an introduction to the GIGA institute and the rules that prevail for all its members. You can
            exit this video at any time and continue its vision whenever and wherever you want, provided that you have internet
            access (via GIGA Intranet link on the GIGA website ) and know your ULg log-in and password. We herein show you
            the list of videos that you have to watch to be given access to the GIGA Institute and for which ones you already
            fulfilled that requirement. Your list of videos may change over time as we obtain information from your PI or
            your demand access to new facilities and platforms.</p>
        <ul>
            <!--<li ng-repeat="presentation in presentations"><a ui-sref="presentation({presentationId:'{{presentation._id}}', UserId: '{{User._id}}'})">{{presentation.title}}</a></li>-->
        </ul>
    </div>
</div>