<div class="row">
    <div class="col-sm-4">
        <p>Thank you for identifying your supervisor or PI in the following pull down menu</p>
        <p></p>
    </div>
    <div class="col-sm-8">
        <div class="row">
            <div class="col-sm-12">
                <div >
                    <div class="list-group">
                        <a *ngFor="let pi of pis" class="list-group-item" (click)="setPiSelected(pi)" [class.active]="pi.data._id===piId">{{pi.annotation.fullName}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>