<template ngbModalContainer></template>

<nav class="navbar  navbar-default top-nav">
	<div class="row">
		<div class="col-sm-4 vcenter">
			<a href="#"><img src="./images/GIGAlogo.png" /></a>
			<a href="#"><img id="ulgLogo" src="./images/ULglogo.gif" /></a>
		</div>
		<div class="col-sm-3 vcenter">
			<h1 style="text-align:center">Krino 2016</h1>
		</div>
		<div class="col-sm-2 vcenter">

		</div>
		<div class="col-sm-2 vcenter">
			<div class="form-group">
				<select class="form-control" style="margin-top:10px" (change)="userSelected($event.target.value)">
                    <option *ngFor="let user of users" [value]="user.data._id" [selected]="user.data._id===currentUserId">{{user.annotation.fullName}}</option>
                </select>
				<select class="form-control" style="margin-top:8px" (change)="equipeSelected($event.target.value)">
                    <option *ngFor="let equipe of possibleEquipes" [value]="equipe._id" [selected]="equipe._id===currentEquipeId">{{equipe.Name}}</option>
                </select>
			</div>
		</div>
	</div>

</nav>
<nav class="navbar  navbar-dark bg-inverse">
	<ul class="nav navbar-nav">
		<li *ngFor="let menuItem of menu" [class.active]="menuItem.active" class="nav-item">
			<a class="nav-link" (click)="activateMenu(menuItem)" routerLink="{{menuItem.route}}">{{menuItem.title}}</a>
		</li>
	</ul>
</nav>

<router-outlet></router-outlet>