<br/>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 hidden-sm-down">
			<div class="jumbotron ">
				<h1 style="text-align: center;">κρίνω: I judge, I decide, I think good</h1><br/>
				<h4 style="text-align: center;">Redesign of Krino: component oriented in order to allow better customization and maintenance.</h4> <br/>
				<p>The proper meaning of κρίνω is to pick out by separating. It typically refers to making a determination of right or wrong,
					especially on an official standard. We only judge accurately by intelligent comparison and contrast, i.e. to approve
					what is correct and reject what is wrong.</p>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
			<div class="card">
				<img class="card-img img-fluid" src="./images/research600.jpg" alt="Card image">
				<div class="card-img-overlay">
					<!--					<h4 class="card-title">Card title</h4>
					<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little
						bit longer.</p>
					<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
-->
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
			<div class="card text-xs-center card-outline-success">
				<div class="card-header">
					Your budget
				</div>
				<!--				<img class="card-img-top" src="./images/GIGAlogo.png" alt="Card image cap">-->
				<div class="card-block ">
					<h4 class="card-title">Statistics</h4>
					<img class="card-img img-fluid" src="./images/chart.png" alt="Card image">
					<br/>
					<p class="card-text">Krino will show here to the user how the spending of his team is in relation to his allowed budget.</p>
				</div>
				<div class="card-footer text-muted">
					2 days ago
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
			<div class="card text-xs-center card-outline-primary">
				<div class="card-header">
					Information
				</div>
				<!--				<img class="card-img-top" src="./images/GIGAlogo.png" alt="Card image cap">-->
				<div class="card-block text-xs-center">
					<h4 class="card-title">Messages</h4>
					<p class="card-text">Krino will show here user specific relevant messages.</p>
					<ul class="card-text text-xs-left mail">
						<li>2 unities of 'Tubes 50 ml PPN type Falcon' have been delivered.</li>
						<li>4 unities of 'Omnitip reload 1000 µl' have been delivered.</li>
						<li>Contact your lab manager: there is no available OTP for product 'Microamp 384-well reaction plate', which you have
							put in your shopping basket</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
			<div class="card text-xs-center card-outline-warning">
				<div class="card-header">
					Todo
				</div>
				<div class="card-block">
					<h4 class="card-title">Programming</h4>
					<ul class="card-text text-xs-left">
						<li>Enter new records: products, otps, ...</li>
						<li>Tagging in comments; make them navigable, indexable and linked</li>
						<li>Allow pictures upload: for example for users</li>
						<li>Deliveries</li>
						<li>Integrate a graphic library</li>
						<li>Interaction with SAP</li>
						<li>Commentary: allow updates only to owner + allow owner to delete comments</li>
						<li>Orders: work with human readable order Id</li>
						<li>Make lists filterable: OK</li>
						<li>Comment system: OK</li>
						<li>Create a dashboard: OK</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
			<div class="card text-xs-center card-outline-danger">
				<div class="card-header">
					Known bugs
				</div>
				<div class="card-block">
					<h4 class="card-title">Programming</h4>
					<ul class="card-text text-xs-left">
						<li>Accordions sometimes recolapse after selection edit</li>
						<li>The main tabs get not activated after routing</li>
						<li>The selector alows to select several items, even when only one should be allowed</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
			<div class="card text-xs-center card-outline-success">
				<div class="card-header">
					Krino features
				</div>
				<div class="card-block">
					<h4 class="card-title">Design aspects</h4>
					<ul class="card-text text-xs-left">
						<li>Responsive to different screen sizes</li>
						<li>Configurable for different needs in different labs: service injectable</li>
						<li>Component oriented: reuse same code in different parts of website</li>
						<li>Configurable by user: drag and drop dashboard</li>
						<li>In place edit</li>
						<li>Responsive to data change in one sector of the program</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

</div>