<div id="GGTOP"></div>
<div class="card">
    <div class="card-body">
        <ngb-tabset *ngIf="authorizationStatusInfo?.isLoggedIn">
            <ngb-tab title="{{'CATEGORY.MENU.VIEW CATEGORIES' | translate}}" id="tabView">
                <ng-template ngbTabContent>

                    <gg-category-list [categoryObservable]="categoryObservable" [state]="state"></gg-category-list>

                </ng-template>
            </ngb-tab>
            <ngb-tab title="{{'CATEGORY.MENU.CREATE CATEGORY' | translate}}" id="tabCreate" *ngIf="authorizationStatusInfo.isAdministrator()">
                <ng-template ngbTabContent>
                    <div class="card">
                        <div class="card-body">
                            
							<gg-category-enter></gg-category-enter>
							
                        </div>
                    </div>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
        <h4 *ngIf="authorizationStatusInfo && !authorizationStatusInfo.isLoggedIn">{{'ERROR.NO LOGIN' | translate}}</h4>
    </div>
</div>