<template #popContent>{{isRoot ? 'Click here to go back to last view' : 'Click here to get a detail view'}}</template>

<ngb-tabset *ngIf="category" (tabChange)="beforeTabChange($event)" [activeId]="state.selectedTabId">
	<ngb-tab title="{{'CATEGORY.MENU.INFO' | translate}}" id="tabInfo">
		<template ngbTabContent>
			<div class="card">
				<div class="card-block">
					<div class="row">
						<div class="col-sm-3 vcenter">{{'CATEGORY.LABEL.CATEGORY' | translate}}:</div>
						<div class="col-sm-6 vcenter">
							<gg-editor [content]="category.data.name" [showControls]="true" (editSaved)="nameCatUpdated($event)" [readOnly]="!authorizationStatusInfo?.isAdministrator()"></gg-editor>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-3 vcenter">{{'CATEGORY.LABEL.NO OF ARTICLE' | translate}}:</div>
						<div class="col-sm-6 vcenter">
							<gg-editor [content]="category.data.noArticle" [showControls]="true" (editSaved)="noArticleUpdated($event)" [readOnly]="!authorizationStatusInfo?.isAdministrator()"></gg-editor>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-3 vcenter">{{'CATEGORY.LABEL.GROUP MARCHANDISE' | translate}}:</div>
						<div class="col-sm-6 vcenter">
							<gg-editor [content]="category.data.groupMarch" [showControls]="true" (editSaved)="groupMUpdated($event)" [readOnly]="!authorizationStatusInfo?.isAdministrator()"></gg-editor>
						</div>
					</div> 
					<div class="row">
						<div class="col-sm-3 vcenter">{{'CATEGORY.LABEL.IS BLOCKED' | translate}}:</div>
						<div class="col-sm-6 vcenter">
							<gg-editor-boolean [content]="category.data.isBlocked" (editSaved)="dateUpdated($event)" [readOnly]="!authorizationStatusInfo?.isAdministrator()"></gg-editor-boolean>
						</div>
					</div> 
                    <div class="row">
						<div class="col-sm-3 vcenter">{{'CATEGORY.LABEL.LABORATORY SPECIFIC' | translate}}:</div>
						<div class="col-sm-6 vcenter">
							<gg-editor-boolean [content]="category.data.isLabo" (editSaved)="isLabUpdated($event)" [readOnly]="!authorizationStatusInfo || !authorizationStatusInfo.isProgrammer()"></gg-editor-boolean>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-3 vcenter">{{'CATEGORY.LABEL.OFFICE SPECIFIC' | translate}}:</div>
						<div class="col-sm-6 vcenter">
							<gg-editor-boolean [content]="category.data.isOffice" (editSaved)="isOfficUpdated($event)" [readOnly]="!authorizationStatusInfo?.isAdministrator()"></gg-editor-boolean>
						</div>
					</div>

					<div class="row" *ngIf="!configService.isProduction()">
						<div class="col-sm-3">_id:</div>
						<div class="col-sm-6">{{category.data._id}}</div>
					</div>

				</div>
			</div>
		</template>
	</ngb-tab>
	<!--
	<ngb-tab title="Add category" id="tabAddCategory">
		<template ngbTabContent>

		</template>
	</ngb-tab>
	-->

	<ngb-tab id="tabComments">
		<template ngbTabTitle>
			<gg-comments-tab-title [data]="category.data"></gg-comments-tab-title>
		</template>
		<template ngbTabContent>
			<gg-comments-tab [data]="category.data" [dbTable]="'categories'" [urlPart]="'category'"></gg-comments-tab>
		</template>
	</ngb-tab>

	

	<ngb-tab title="{{'CATEGORY.MENU.PRODUCTS' | translate}}" id="tabProducts">
		<template ngbTabContent>
			<gg-product-list [productsObservable]="productsObservable" [state]="state.Products" [path]="path+'|O:Products'"  (stateChanged)="childProductsStateChanged($event)"></gg-product-list>
		</template>
	</ngb-tab>
<!--	<ngb-tab title="Open otps" id="tabOtps">
		<template ngbTabContent>
            <gg-otp-list [otpsObservable]="otpsObservable" [state]="state.Otps" [path]="path+'|O:Otps'" (stateChanged)="childOtpsStateChanged($event)"></gg-otp-list>
		</template>
	</ngb-tab>
-->	<ngb-tab id="tabMax">
		<template ngbTabTitle><img src="../../images/maximize.png" [ngbPopover]="popContent" triggers="mouseenter:mouseleave" /></template>
		<template ngbTabContent></template>
	</ngb-tab>
	<ngb-tab id="gotoTop" *ngIf="!isRoot  && path!=='dashboard'">
		<template ngbTabTitle><img src="../../images/gototop.png" ngbPopover="Goto top of the page" triggers="mouseenter:mouseleave" /></template>
		<template ngbTabContent></template>
	</ngb-tab>
	
</ngb-tabset>