<div class="container-fluid">
	<form [formGroup]="categoryForm" (ngSubmit)="save(categoryForm.value, categoryForm.valid)" >
        <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label col-xl-2">{{'CATEGORY.LABEL.NAME' | translate}}</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" formControlName="name" id="name" placeholder="{{'CATEGORY.LABEL.NAME' | translate}}">
            </div>
        </div>
		<div class="form-group row">
			<label for="noArticle" class="col-sm-2 col-form-label col-xl-2">{{'CATEGORY.LABEL.NO OF ARTICLE ENTER' | translate}}</label>
			<div class="col-sm-10">
				<input type="text" min="1" step="any" class="form-control" formControlName="noArticle" id="noArticle" placeholder="{{'CATEGORY.LABEL.NO OF ARTICLE ENTER' | translate}}">
			</div>
		</div>    
        <div class="form-group row">
			<label for="groupMarch" class="col-sm-2 col-form-label col-xl-2">{{'CATEGORY.LABEL.GROUP MARCHANDISE ENTER' | translate}}</label>
			<div class="col-sm-10">
				<input type="text" min="1" step="any" class="form-control" formControlName="groupMarch" id="groupMarch" placeholder="group marchandise">
			</div>
		</div>
		<div class="form-group row">
		    <label for="isBlocked" class="col-sm-2 col-form-label col-xl-2 vcenter">{{'CATEGORY.LABEL.IS BLOCKED ENTER' | translate}}</label>
			<div class="col-md-1 vcenter">
				<input type="checkbox" class="form-control" formControlName="isBlocked" id="isBlocked" class="isCheckbox" value="">
			</div>
		</div>
        
        <div class="form-group row">
			<label for="isLabo" class="col-sm-2 col-form-label col-xl-2 vcenter">{{'CATEGORY.LABEL.LABORATORY SPECIFIC ENTER' | translate}}</label>
			<div class="col-md-1 vcenter">
				<input type="checkbox" class="form-control" formControlName="isLabo" id="isLabo" class="isCheckbox" value="">
			</div>
		</div>
		<div class="form-group row">
			<label for="isOffice" class="col-sm-2 col-form-label col-xl-2 vcenter">{{'CATEGORY.LABEL.OFFICE SPECIFIC ENTER' | translate}}</label>
			<div class="col-md-1 vcenter">
				<input type="checkbox" class="form-control" formControlName="isOffice" id="isOffice" class="isCheckbox" value="">
			</div>
		</div>
        <div class="row">
            <div class="col-sm-3 col-md-2 col-lg-2">
                <button class="btn btn-success" type="submit" [disabled]="!categoryForm.valid">{{'FORM.SUBMIT' | translate}}</button>
            </div>
            <div class="col-sm-3 col-md-2 col-lg-2">
                <button class="btn btn-info"  [disabled]="categoryForm.pristine" (click)="reset()">{{'FORM.RESET' | translate}}</button>
            </div>
        </div>
	</form>
</div>