<div id="GGTOP"></div>
<div class="card">
    <div class="card-block">
        <ngb-tabset *ngIf="authorizationStatusInfo && authorizationStatusInfo.isLoggedIn">
            <ngb-tab title="{{'CATEGORY.MENU.VIEW CATEGORIES' | translate}}" id="tabView">
                <template ngbTabContent>

                    <gg-category-list [categoryObservable]="categoryObservable" [state]="state"></gg-category-list>

                </template>
            </ngb-tab>
            <ngb-tab title="{{'CATEGORY.MENU.CREATE CATEGORY' | translate}}" id="tabCreate" *ngIf="authorizationStatusInfo.isAdministrator()">
                <template ngbTabContent>
                    <div class="card">
                        <div class="card-block">
                            
							<gg-category-enter></gg-category-enter>
							
                        </div>
                    </div>
                </template>
            </ngb-tab>
        </ngb-tabset>
        <h4 *ngIf="authorizationStatusInfo && !authorizationStatusInfo.isLoggedIn">{{'ERROR.NO LOGIN' | translate}}</h4>
    </div>
</div>