<template #searchPopContent>
    <ul>
        <li>nadi: commandes dont l'équipe, le fournisseur ou l'utilisateur contient 'nadi'</li>
        <li>$>200: montants supérieurs à 200 euros</li>
        <li>$<50: montants inférieurs à 200 euros</li>
        <li>#enzym: commande avec un produit contenant 'enzym'</li>
    </ul>
    
</template>

<div class="card">
	<div class="card-block">
		<div class="row">
			<div [formGroup]="searchForm">
				<input type="search" [formControl]="searchControl" formControlName="searchControl" [ngbPopover]="searchPopContent" placement="right" triggers="mouseenter:mouseleave" popoverTitle="How to search: examples">
			</div>
		</div>
		<div class="row">

			<ngb-accordion [closeOthers]="true" #acc="ngbAccordion">
				<ngb-panel [disabled]="true">
					<template ngbPanelTitle>
						<div class="row">
							<!--<div class="col-lg-3 hidden-md-down"><b>Id</b></div>-->
							<div class="col-sm-3"><b>Date</b></div>
							<div class="col-sm-3"><b>Who</b></div>
							<div class="col-sm-3" *ngIf="showColumn('supplier')"><b>Supplier</b></div>
							<div class="col-sm-3"><b>Total (with VAT)</b></div>
						</div>
					</template>
					<template ngbPanelContent>
					</template>

				</ngb-panel>
				<ngb-panel *ngFor="let order of orders2Observable | async">
					<template ngbPanelTitle>
						<div class="row">
							<!--<div class="col-lg-3 hidden-md-down">{{order.data._id}}</div>-->
							<div class="col-sm-3">{{formatDate(order.data.date)}}</div>
							<div class="col-sm-3">{{order.annotation.user}}/{{order.annotation.equipe}}</div>
							<div class="col-sm-3" *ngIf="showColumn('supplier')">{{order.annotation.supplier}}</div>
							<div class="col-sm-3">{{order.annotation.total | currency:'EUR':true:'1.2-2'}}</div>
						</div>
					</template>
					<template ngbPanelContent>
						<gg-order-detail [orderObservable]="getOrderObservable(order.data._id)"></gg-order-detail>
					</template>
				</ngb-panel>
			</ngb-accordion>
		</div>
	</div>
</div>