<ngb-tabset *ngIf="order">
	<ngb-tab title="Details">
		<template ngbTabContent>
			<div class="card">
				<div class="card-block">
					<br><br>
					<div class="container-fluid">
						<div class="row">
							<div class="col-sm-6 col-md-6">
								<div class="row">
									{{order.annotation.supplier}}
								</div>
								<div class="row">
									{{order.data.date | amDateFormat:'LLL'}}
								</div>
								<div class="row">
									Reference: {{order.data._id}}
								</div>
							</div>
							<div class="col-sm-6 col-md-6">
								<div class="row">
									{{order.annotation.user}}
								</div>
								<div class="row">
									{{order.annotation.equipe}}
								</div>
							</div>
						</div> <br><br>
						<div class="row">
							<table class="table table-bordered table-striped">
								<thead>
									<th>Product</th>
									<th>Quantity</th>
									<th>Price</th>
									<th>Total</th>
									<th>Otp</th>
								</thead>

								<tbody>
									<tr style="height:85px" *ngFor="let item of order.annotation.items">
										<td vertical-align="middle">{{item.annotation.description}}</td>
										<td vertical-align="middle">{{item.data.quantity}}</td>
										<td vertical-align="middle">{{item.annotation.price | currency:'EUR':true:'1.2-2'}}</td>
										<td vertical-align="middle">{{item.data.total | currency:'EUR':true:'1.2-2'}}</td>
										<td vertical-align="middle">
											<gg-selector [selectableData]="selectableOtpsObservable" [selectedIds]="item.annotation.idObservable" (selectionChanged)="otpUpdated(item, $event)"></gg-selector>
										</td>

									</tr>
								</tbody>
							</table>
						</div>
						<div class="row">
							<div class="col-sm-2">
								<img *ngIf="!order.annotation.dashletId" src="./images/pin.png" (click)="setDashlet()" />
								<img *ngIf="order.annotation.dashletId" src="./images/unpin.png" (click)="removeDashlet(order.annotation.dashletId)" />
							</div>
						</div>

					</div>
				</div>
			</div>
		</template>
	</ngb-tab>
	<ngb-tab title="Comments">
		<template ngbTabContent>
			<gg-comments [comments]="order.data.comments" (commentsUpdated)="commentsUpdated($event)"></gg-comments>
		</template>
	</ngb-tab>
</ngb-tabset>