<div class="orderDetailClass">
<ngb-tabset *ngIf="order">
	<ngb-tab title="Details">
		<template ngbTabContent>
			<div class="card">
				<div class="card-block">
					<br><br>
					<div class="container-fluid">
						<div class="row">
							<div class="col-sm-6 col-md-6">
								<div class="row">
									{{order.annotation.supplier}}
								</div>
								<div class="row">
									{{order.data.date | amDateFormat:'LLL'}}
								</div>
								<div class="row">
									Reference: {{order.data._id}}
								</div>
							</div>
							<div class="col-sm-6 col-md-6">
								<div class="row">
									{{order.annotation.user}}
								</div>
								<div class="row">
									{{order.annotation.equipe}}
								</div>
							</div>
						</div> <br><br>
						<div class="row">
							<div class="row">
									<div class="col-sm-3 vcenter"><b>Product</b></div>
									<div class="col-sm-1 vcenter"><b>Qty</b></div>
									<div class="col-sm-2 vcenter"><b>Price</b></div>
									<div class="col-sm-2 vcenter"><b>Total</b></div>
									<div class="col-sm-3 vcenter"><b>Otp</b></div>								
							</div>
							<div class="row" *ngFor="let item of order.annotation.items">
										<div class="col-sm-3 vcenter">{{item.annotation.description}}</div>
										<div class="col-sm-1 vcenter">{{item.data.quantity}}</div>
										<div class="col-sm-2 vcenter">{{item.annotation.price | currency:'EUR':true:'1.2-2'}}</div>
										<div class="col-sm-2 vcenter">{{item.data.total | currency:'EUR':true:'1.2-2'}}</div>
										<div class="col-sm-3 vcenter" *ngIf="!smallScreen">
											<gg-selector [selectableData]="selectableOtpsObservable" [selectedIds]="item.annotation.idObservable" (selectionChanged)="otpUpdated(item, $event)"></gg-selector>
										</div>								
										<div class="col-sm-3 vcenter" *ngIf="smallScreen">{{item.annotation.otp}}</div>

							</div>
						</div>
						<div class="row">
							<div class="col-sm-2">
								<img *ngIf="!order.annotation.dashletId" src="./images/pin.png" (click)="setDashlet()" />
								<img *ngIf="order.annotation.dashletId" src="./images/unpin.png" (click)="removeDashlet(order.annotation.dashletId)" />
							</div>
						</div>

					</div>
				</div>
			</div>
		</template>
	</ngb-tab>
	<ngb-tab title="Comments">
		<template ngbTabContent>
			<gg-comments [comments]="order.data.comments" (commentsUpdated)="commentsUpdated($event)"></gg-comments>
		</template>
	</ngb-tab>
</ngb-tabset>
</div>