<div class="card">
    <div class="card-block">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2 vcenter"><b></b></div>
                <div class="col-sm-3 vcenter"><b>{{'ADMINISTRATION.COLUMN.FOCUS ON' | translate}}</b></div>
                <div class="col-sm-3 vcenter"><b>{{'ADMINISTRATION.COLUMN.THRESHOLD' | translate}}</b></div>
                <div class="col-sm-3 vcenter"><b>{{'ADMINISTRATION.COLUMN.GRANULARITY' | translate}}</b></div>
            </div>
            <div class="form-group row">
                <label for="supplierId" class="col-sm-2 col-form-label col-xl-2">users:</label>
                <div class="col-sm-3 vcenter">
                    <gg-selector [selectableData]="selectableUsers" [selectedIds]="userIds" (selectionChanged)="userSelectionChanged($event)"></gg-selector>
                </div>
                <div class="col-sm-3 vcenter">
                    <gg-editor [content]="config.user.amount" [showControls]="true" [isMonetary]="true" (editSaved)="userExpensesChanged($event)"></gg-editor>
                </div>
                <div class="col-sm-3 vcenter">
                    <select>
                        <option value="oneTime">one time</option>
                        <option value="oneDay">one day</option>
                        <option value="oneWeek">one week</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="supplierId" class="col-sm-2 col-form-label col-xl-2">équipes:</label>
                <div class="col-sm-3 vcenter">
                    <gg-selector [selectableData]="selectableEquipes" [selectedIds]="equipeIds" (selectionChanged)="equipeSelectionChanged($event)"></gg-selector>
                </div>
                <div class="col-sm-3 vcenter">
                    <gg-editor [content]="config.equipe.amount" [showControls]="true" [isMonetary]="true" (editSaved)="equipeExpensesChanged($event)"></gg-editor>
                </div>
                <div class="col-sm-3 vcenter">
                    <select>
                        <option value="oneTime">one time</option>
                        <option value="oneDay">one day</option>
                        <option value="oneWeek">one week</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="supplierId" class="col-sm-2 col-form-label col-xl-2">categories:</label>
                <div class="col-sm-3 vcenter">
                    <gg-selector [selectableData]="selectableCategoriesObservable" [selectedIds]="categoryIds" (selectionChanged)="categorySelectionChanged($event)"></gg-selector>
                </div>
                <div class="col-sm-3 vcenter">
                    <gg-editor [content]="config.category.amount" [showControls]="true" [isMonetary]="true" (editSaved)="categoryExpensesChanged($event)"></gg-editor>
                </div>
                <div class="col-sm-3 vcenter">
                    <select>
                        <option value="oneTime">one time</option>
                        <option value="oneDay">one day</option>
                        <option value="oneWeek">one week</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="supplierId" class="col-sm-2 col-form-label col-xl-2">otps:</label>
                <div class="col-sm-3 vcenter">
                    <gg-selector [selectableData]="selectableOtps" [selectedIds]="otpIds" (selectionChanged)="otpSelectionChanged($event)"></gg-selector>
                </div>
                <div class="col-sm-3 vcenter">
                    <gg-editor [content]="config.otp.amount" [showControls]="true" [isMonetary]="true" (editSaved)="otpExpensesChanged($event)"></gg-editor>
                </div>
                <div class="col-sm-3 vcenter">
                    <select>
                        <option value="oneTime">one time</option>
                        <option value="oneDay">one day</option>
                        <option value="oneWeek">one week</option>
                    </select>
                </div>
            </div>
		</div>
	</div>
</div>
		        