<div class="card" *ngIf="authorizationStatusInfo && authorizationStatusInfo.isAdministrator()">
    <div class="card-block">
        <ngb-tabset (tabChange)="beforeTabChange($event)" [activeId]="initTabId">
            <ngb-tab title="Web Shopping" id="tabWebShopping">
                <template ngbTabContent>
                    <gg-admin-webshopping [initTabId]="initTabId2"></gg-admin-webshopping>
                </template>
            </ngb-tab>
            <ngb-tab title="Alex Kvasz" id="tabAK" *ngIf="false">
                <template ngbTabContent>
                    <gg-admin-ak></gg-admin-ak>
                </template>
            </ngb-tab>
            <ngb-tab title="Monitoring" id="tabMonitoring">
                <template ngbTabContent>
                    <gg-monitoring-detail></gg-monitoring-detail>
                </template>
            </ngb-tab>
            <ngb-tab title="Laboratory" id="tabLaboratory">
                <template ngbTabContent>
                    <gg-admin-labo></gg-admin-labo>
                </template>
            </ngb-tab>




        </ngb-tabset>
    </div>
</div>