<div id="GGTOP"></div>
<div class="card">
	<div class="card-block">
		<ngb-tabset *ngIf="authorizationStatusInfo && authorizationStatusInfo.isLoggedIn">
			<ngb-tab title="View Suppliers" id="tabView">
				<template ngbTabContent>
                    <gg-supplier-list [state]="state" [suppliersObservable]= "suppliersObservable"></gg-supplier-list>
				</template>
			</ngb-tab>
			<ngb-tab title="Create a Supplier" id="tabCreate"  *ngIf="authorizationStatusInfo.isAdministrator()">
				<template ngbTabContent>
					<div class="card">
						<div class="card-block">
                            <h6>Suppliers are added from the list of Sap suppliers. Here is the list to choose from...</h6>
							<gg-supplier-sap-list></gg-supplier-sap-list>
						</div>
					</div>
				</template>
			</ngb-tab>
		</ngb-tabset>
		<h4 *ngIf="authorizationStatusInfo && !authorizationStatusInfo.isLoggedIn">{{'ERROR.NO LOGIN' | translate}}</h4>
	</div>
</div>            