

<ngb-tabset #tabset *ngIf="supplier" (tabChange)="beforeTabChange($event)" >
	<ngb-tab title="Info" id="tabInfo">
		<template ngbTabContent>
			<div class="card">
				<div class="card-block">
					<gg-supplier-info [supplierInfo]="supplier"></gg-supplier-info>

					<div class="row" *ngIf="!authService.isProduction()">
						<div class="col-sm-2">_id:</div>
						<div class="col-sm-6">{{supplier._id}}</div>
					</div>

				</div>
			</div>
		</template>
	</ngb-tab>

</ngb-tabset>