

<ngb-tabset #tabset *ngIf="supplier" (tabChange)="beforeTabChange($event)" >
	<ngb-tab title="Info" id="tabInfo">
		<template ngbTabContent>
			<div class="card">
				<div class="card-block">
					<div class="row">
						<div class="col-sm-2">supplier:</div>
						<div class="col-sm-6">{{supplier.name}}</div>
					</div>
					<div class="row">
						<div class="col-sm-2">city:</div>
						<div class="col-sm-6">{{supplier.city}}</div>
					</div>
					<div class="row">
						<div class="col-sm-2">country:</div>
						<div class="col-sm-6">{{supplier.country}}</div>
					</div>
					<div class="row">
						<div class="col-sm-2">zip:</div>
						<div class="col-sm-6">{{supplier.zip}}</div>
					</div>
					<div class="row">
						<div class="col-sm-2">street:</div>
						<div class="col-sm-6">{{supplier.street}}</div>
					</div>
					<div class="row">
						<div class="col-sm-2">telephone:</div>
						<div class="col-sm-6">{{supplier.tel}}</div>
					</div>
					<div class="row">
						<div class="col-sm-2">fax:</div>
						<div class="col-sm-6">{{supplier.fax}}</div>
					</div>
					<div class="row">
						<div class="col-sm-2">sap id:</div>
						<div class="col-sm-6">{{supplier.sapId}}</div>
					</div>
					<div class="row" *ngIf="!authService.isProduction()">
						<div class="col-sm-2">_id:</div>
						<div class="col-sm-6">{{supplier._id}}</div>
					</div>

				</div>
			</div>
		</template>
	</ngb-tab>

</ngb-tabset>