<div class="card">
	<div class="card-block">
		<div class="row">
			<div class="col-sm-2">Supplier:</div>
			<div class="col-sm-6">{{supplierInfo.name}} {{supplierInfo.title}}</div>
		</div>
		<div class="row">
			<div class="col-sm-2">Location:</div>
			<div class="col-sm-6">{{supplierInfo.zip}} {{supplierInfo.city}}</div>
		</div>
		<div class="row">
			<div class="col-sm-2">Address:</div>
			<div class="col-sm-6">{{supplierInfo.street}}</div>
		</div>
		<div class="row">
			<div class="col-sm-2">Country:</div>
			<div class="col-sm-6">{{supplierInfo.country}}</div>
		</div>
		<div class="row">
			<div class="col-sm-2">Telephone:</div>
			<div class="col-sm-6">{{supplierInfo.tel}}</div>
		</div>
		<div class="row">
			<div class="col-sm-2">Fax:</div>
			<div class="col-sm-6">{{supplierInfo.fax}}</div>
		</div>
		<div class="row">
			<div class="col-sm-2">Client:</div>
			<div class="col-sm-6">{{supplierInfo.client}}</div>
		</div>
		<div class="row">
			<div class="col-sm-2">Sap id:</div>
			<div class="col-sm-6">{{supplierInfo.sapId}}</div>
		</div>
	</div>
</div>