<div class="card">
	<div class="card-body">
		<div class="row">
			<div class="col-sm-2">{{'SUPPLIER.INFO.LABEL.SUPPLIER' | translate}}</div>
			<div class="col-sm-6">{{supplier.name}} {{supplier.title}}</div>
		</div>
		<div class="row">
			<div class="col-sm-2">{{'SUPPLIER.INFO.LABEL.LOCATION' | translate}}</div>
			<div class="col-sm-6">{{supplier.zip}} {{supplier.city}}</div>
		</div>
		<div class="row">
			<div class="col-sm-2">{{'SUPPLIER.INFO.LABEL.ADDRESS' | translate}}</div>
			<div class="col-sm-6">{{supplier.street}}</div>
		</div>
		<div class="row">
			<div class="col-sm-2">{{'SUPPLIER.INFO.LABEL.COUNTRY' | translate}}</div>
			<div class="col-sm-6">{{supplier.country}}</div>
		</div>
		<div class="row">
			<div class="col-sm-2">{{'SUPPLIER.INFO.LABEL.TELEPHONE' | translate}}</div>
			<div class="col-sm-6">{{supplier.tel}}</div>
		</div>
		<div class="row">
			<div class="col-sm-2">{{'SUPPLIER.INFO.LABEL.FAX' | translate}}</div>
			<div class="col-sm-6">{{supplier.fax}}</div>
		</div>
		<div class="row">
			<div class="col-sm-2">{{'SUPPLIER.INFO.LABEL.CLIENT' | translate}}</div>
			<div class="col-sm-6">{{supplier.client}}</div>
		</div>
		<div class="row">
			<div class="col-sm-2">{{'SUPPLIER.INFO.LABEL.SAP ID' | translate}}</div>
			<div class="col-sm-6">{{supplier.sapId}}</div>
		</div>
	</div>
</div>