<div id="GGTOP"></div>
<div class="card">
    <div class="card-block">
        <ngb-tabset *ngIf="authorizationStatusInfo && authorizationStatusInfo.isLoggedIn">
            <ngb-tab title="View Equipes" id="tabView">
                <template ngbTabContent>
                    <gg-equipe-list [equipesObservable]="equipesObservable" [state]="state"></gg-equipe-list>
                </template>
            </ngb-tab>
            <ngb-tab title="Create an Equipe" id="tabCreate" *ngIf="authorizationStatusInfo && authorizationStatusInfo.isAdministrator()">
                <template ngbTabContent>
                    <div class="card">
                        <div class="card-block">
                            <gg-equipe-enter></gg-equipe-enter>
                        </div>
                    </div>
                </template>
            </ngb-tab>
            <ngb-tab title="Groups" id="tabGroups">
                <template ngbTabContent>
                    <div class="card">
                        <div class="card-block">
                            <ngb-tabset>
                                <ngb-tab title="View Groups" id="tabViewGroup">
                                    <template ngbTabContent>
                                        <gg-equipe-group-list [state]="state"></gg-equipe-group-list>
                                    </template>
                                </ngb-tab>
                                <ngb-tab title="Create a Group" id="tabCreateGroup" *ngIf="authorizationStatusInfo.isAdministrator()">
                                    <template ngbTabContent>
                                        <div class="card">
                                            <div class="card-block">
                                                <gg-equipe-group-enter></gg-equipe-group-enter>
                                            </div>
                                        </div>
                                    </template>
                                </ngb-tab>
                            </ngb-tabset>
                        </div>
                    </div>
                </template>
            </ngb-tab>
            <ngb-tab title="Gifts" id="tabGifts">
                <template ngbTabContent>
                    <div class="card">
                        <div class="card-block">
                            <ngb-tabset>
                                <ngb-tab title="View Gifts" id="tabViewGift" *ngIf="authorizationStatusInfo.isAdministrator()">
                                    <template ngbTabContent>
                                        <gg-equipe-gift-grid [equipeGiftsObservable]="annotatedGiftsObservable"></gg-equipe-gift-grid>
                                    </template>
                                </ngb-tab>
                                <ngb-tab title="Enter a gift" id="tabCreateGift" *ngIf="authorizationStatusInfo.isAdministrator()">
                                    <template ngbTabContent>
                                        <div class="card">
                                            <div class="card-block">
                                                <gg-equipe-gift-enter></gg-equipe-gift-enter>
                                            </div>
                                        </div>
                                    </template>
                                </ngb-tab>
                            </ngb-tabset>
                        </div>
                    </div>
                </template>
            </ngb-tab>
            <ngb-tab title="Current equipe" id="tabCurrentEquipe" *ngIf="authorizationStatusInfo.hasEquipeId()">
                <template ngbTabContent>
                    <div class="card">
                        <div class="card-block">
                            
                            <gg-equipe-detail [equipeObservable]="equipeObservable"></gg-equipe-detail>
                        </div>
                    </div>
                </template>
            </ngb-tab>
        </ngb-tabset>
        <h4 *ngIf="authorizationStatusInfo && !authorizationStatusInfo.isLoggedIn">{{'ERROR.NO LOGIN' | translate}}</h4>
    </div>
</div>