<gg-search-box [objectTypeTranslationKey]="'EQUIPES'" [objectsObservable]="equipesObservable" [fnFilterObjects]="fnFilter" (listChanged)="equipes=$event">
	<ul searchHelp>
		<li>{{'EQUIPE.SEARCH HELP.MSG1' | translate}}</li>
	</ul>

	<ngb-accordion accordion [closeOthers]="true" #acc="ngbAccordion" (panelChange)="beforeAccordionChange($event)" [activeIds]="state.openPanelId">
		<ngb-panel [disabled]="true">
			<ng-template ngbPanelTitle>
				<div class="row">
					<div class="col-sm-3"><b>{{'EQUIPE.COLUMN.EQUIPE' | translate}}</b></div>
					<div class="col-sm-2"><b>{{'EQUIPE.COLUMN.AVAILABLE' | translate}}</b></div>
					<div class="col-sm-2"><b>{{'EQUIPE.COLUMN.SPENT' | translate}}</b></div>
					<div class="col-sm-2"><b>{{'EQUIPE.COLUMN.DEBT' | translate}}</b></div>
					<div class="col-sm-2"><b></b></div>
				</div>
			</ng-template>
			<ng-template ngbPanelContent>

			</ng-template>
		</ngb-panel>
		<ngb-panel *ngFor="let equipe of equipes" [id]="equipe.data._id">
			<ng-template ngbPanelTitle>
				<div class="row" id="{{equipe.data._id}}">
					<div class="col-sm-3" [style.font-weight]="equipe.data._id === state.openPanelId ? 'bold' : 'lighter'">{{equipe.data.name}}</div>
					<div class="col-sm-2">{{equipe.annotation.amountAvailable | currency:'EUR':true:'1.2-2'}}</div>
					<div class="col-sm-2">{{equipe.annotation.amountSpent | currency:'EUR':true:'1.2-2'}}</div>
					<div class="col-sm-2" [style.color]="equipe.annotation.owing - equipe.annotation.owed > 0 ? 'red' : 'green'">{{(equipe.annotation.owing - equipe.annotation.owed) | currency:'EUR':true:'1.2-2'}}</div>
					<div class="col-sm-2" [style.color]="'red'">{{ equipe.data.isBlocked ? 'Blocked ' : '' }}</div>
				</div>
			</ng-template>
			<ng-template ngbPanelContent>
				<gg-equipe-detail [equipeObservable]="getEquipeObservable(equipe.data._id)" [initialTab]="initialTabInEquipeDetail" [state]="state[equipe.data._id]"
				 [path]="path+'|P:'+equipe.data._id" (stateChanged)="childStateChanged($event, equipe.data._id)"></gg-equipe-detail>
			</ng-template>
		</ngb-panel>
	</ngb-accordion>

</gg-search-box>



