<ngb-tabset *ngIf="equipeGroup" (tabChange)="beforeTabChange($event)" [activeId]="state.selectedTabId">
	<ngb-tab title="{{'EQUIPE.MENU.INFO' | translate}}" id="tabInfo">
		<template ngbTabContent>
			<div class="card">
				<div class="card-block">
					<div class="row">
						<div class="col-sm-4 vcenter">{{'EQUIPE.LABEL.EQUIPE GROUP' | translate}}</div>
						<div class="col-sm-6 vcenter">
							<gg-editor [content]="equipeGroup.data.name" [showControls]="true" (editSaved)="nameUpdated($event)" [readOnly]="!authorizationStatusInfo || !authorizationStatusInfo.isAdministrator()"></gg-editor>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4 vcenter">{{'EQUIPE.LABEL.DESCRIPTION' | translate}}</div>
						<div class="col-sm-6 vcenter">
							<gg-editor [content]="equipeGroup.data.description" [showControls]="true" (editSaved)="descriptionUpdated($event)" [readOnly]="!authorizationStatusInfo || !authorizationStatusInfo.isAdministrator()"></gg-editor>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4 vcenter">{{'EQUIPE.LABEL.MEMBERS' | translate}}</div>
						<div class="col-sm-6 vcenter">
							<gg-selector #equipeSelector [selectedIds]="selectedEquipeIdsObservable" [selectableData]="selectableEquipes" (selectionChanged)="equipeSelectionChanged($event)" [readOnly]="!authorizationStatusInfo || !authorizationStatusInfo.isAdministrator()"></gg-selector>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-4">_id:</div>
						<div class="col-sm-6">{{equipeGroup.data._id}}</div>
					</div>

				</div>
			</div>
		</template>
	</ngb-tab>

	<ngb-tab id="tabComments">
		<template ngbTabTitle>
			<gg-comments-tab-title [data]="equipeGroup.data"></gg-comments-tab-title>
		</template>
		<template ngbTabContent>
			<gg-comments-tab [data]="equipeGroup.data" [dbTable]="'equipes.groups'"></gg-comments-tab>
		</template>
	</ngb-tab>


	<ngb-tab title="{{'EQUIPE.MENU.REPARTITION KEYS' | translate}}" id="tabRepartition">
		<template ngbTabContent>
			<div class="card">
				<div class="card-block">
					<div class="row">
						<div class="col-sm-4 vcenter">
							<b>{{'EQUIPE.COLUMN.MEMBER EQUIPE' | translate}}</b>
						</div>
						<div class="col-sm-4  vcenter"><b>%</b></div>
						<div class="col-sm-2  vcenter">
							<b>{{'EQUIPE.COLUMN.FACTOR' | translate}}</b>
						</div>
					</div>

					<div class="row" *ngFor="let item of equipeGroup.annotation.equipes">
						<div class="col-sm-4 vcenter">{{item.annotation.equipe}}</div>
						<div class="col-sm-4 vcenter">{{item.annotation.pc}}</div>
						<div class="col-sm-2 vcenter">
							<gg-editor-number [content]="item.data.weight" (editSaved)="weightupdated(item.data, $event)" [readOnly]="!authorizationStatusInfo || !authorizationStatusInfo.isAdministrator()"></gg-editor-number>
						</div>
					</div>
				</div>
			</div>
		</template>
	</ngb-tab>
</ngb-tabset>