<template #searchPopContent>
	<ul>
		<li>RWAL: si l'équipe contient 'RWAL'</li>
	</ul>
</template>

<template #tipSearchLoupe><div style="font-size: 70%;">Click here to <br/> search specific equipe</div></template>

<div class="card">
	<div class="card-block">
		<div class="row">
			<div [formGroup]="searchForm">
				 <img src="../../images/search.png" (click)="showSearch= !showSearch" class="imgSearch" placement="bottom" [ngbTooltip]="tipSearchLoupe"/>
				<input *ngIf="showSearch" type="search" [formControl]="searchControl" formControlName="searchControl" [ngbPopover]="searchPopContent"
					placement="bottom" triggers="mouseenter:mouseleave" popoverTitle="How to search: examples"><img *ngIf="showSearch" src="../../images/close.png" (click)="resetSerachControl()"/>
			</div>
		</div>
		<div class="row">
			<ngb-accordion [closeOthers]="true" #acc="ngbAccordion" (panelChange)="beforeAccordionChange($event)" [activeIds]="state.openPanelId">
				<ngb-panel [disabled]="true">
					<template ngbPanelTitle>
						<div class="row">
							<div class="col-sm-3"><b>Equipe</b></div>
							<div class="col-sm-2"><b>Available</b></div>
							<div class="col-sm-2"><b>Spent</b></div>
							<div class="col-sm-2"><b>Debt</b></div>
							<div class="col-sm-2"><b></b></div>
						</div>
					</template>
					<template ngbPanelContent>

					</template>
				</ngb-panel>
				<ngb-panel *ngFor="let equipe of equipes" [id]="equipe.data._id">
					<template ngbPanelTitle>
						<div class="row" id="{{equipe.data._id}}">
							<div class="col-sm-3" [style.font-weight]="equipe.data._id === state.openPanelId ? 'bold' : 'lighter'">{{equipe.data.name}}</div>
							<div class="col-sm-2">{{equipe.annotation.amountAvailable | currency:'EUR':true:'1.2-2'}}</div>
							<div class="col-sm-2">{{equipe.annotation.amountSpent | currency:'EUR':true:'1.2-2'}}</div>
							<div class="col-sm-2" [style.color]="equipe.annotation.owing - equipe.annotation.owed > 0 ? 'red' : 'green'">{{(equipe.annotation.owing - equipe.annotation.owed) | currency:'EUR':true:'1.2-2'}}</div>
							<div class="col-sm-2" [style.color]="'red'" >{{ equipe.data.isBlocked ? 'Blocked ' : '' }}</div>
						</div>
					</template>
					<template ngbPanelContent>
						<gg-equipe-detail [equipeObservable]="getEquipeObservable(equipe.data._id)" [initialTab]="initialTabInEquipeDetail" [state]="state[equipe.data._id]" [path]="path+'|P:'+equipe.data._id"
								(stateChanged)="childStateChanged($event, equipe.data._id)"></gg-equipe-detail>
					</template>
				</ngb-panel>
			</ngb-accordion>
		</div>
	</div>
</div>