<template #popContent>{{isRoot ? 'Click here to go back to last view' : 'Click here to get a detail view'}}</template>

<ngb-tabset *ngIf="equipe"  (tabChange)="beforeTabChange($event)" [activeId]="state.selectedTabId">
	<ngb-tab title="Info" id="tabInfo">
		<template ngbTabContent>
			<div class="card">
				<div class="card-block">
					<div class="row">
						<div class="col-sm-4 vcenter">equipe:</div>
						<div class="col-sm-6 vcenter">
							<gg-editor [content]="equipe.data.name" [showControls]="true" (editSaved)="nameUpdated($event)" [readOnly]="!authorizationStatusInfo || !authorizationStatusInfo.isAdministrator()" ></gg-editor>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4 vcenter">description:</div>
						<div class="col-sm-6 vcenter">
							<gg-editor [content]="equipe.data.description" [showControls]="true" (editSaved)="descriptionUpdated($event)" [readOnly]="!authorizationStatusInfo || !authorizationStatusInfo.isAdministrator()"></gg-editor>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4 vcenter">with following users:</div>
						<div class="col-sm-6 vcenter"><gg-selector [selectableData]="selectableUsers" [selectedIds]="selectedUserIdsObservable" (selectionChanged)="userSelectionChanged($event)" 
									[readOnly]="!authorizationStatusInfo || !authorizationStatusInfo.isAdministrator()" ></gg-selector></div>
					</div>										
					<div class="row">
						<div class="col-sm-4 vcenter">nb of months ahead allowed:</div>
						<div class="col-sm-6 vcenter">
							<gg-editor-number [content]="equipe.data.nbOfMonthAheadAllowed"  (editSaved)="nbOfMonthAheadAllowedUpdated($event)" [readOnly]="!authorizationStatusInfo || !authorizationStatusInfo.isAdministrator()"></gg-editor-number>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4 vcenter">is blocked:</div>
						<div class="col-sm-6 vcenter">
							<gg-editor-boolean [content]="equipe.data.isBlocked" (editSaved)="blockedUpdated($event)" [readOnly]="!authorizationStatusInfo || !authorizationStatusInfo.isAdministrator()" ></gg-editor-boolean>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4">total budget:</div>
						<div class="col-sm-6">{{equipe.annotation.budget | currency:'EUR':true:'1.2-2'}}</div>
					</div>
					<div class="row">
						<div class="col-sm-4">money spent:</div>
						<div class="col-sm-6">{{equipe.annotation.amountSpent | currency:'EUR':true:'1.2-2'}}</div>
					</div>
					<div class="row">
						<div class="col-sm-4">money available:</div>
						<div class="col-sm-6">{{equipe.annotation.amountAvailable | currency:'EUR':true:'1.2-2'}}</div>
					</div>
					<div class="row">
						<div class="col-sm-2">
							<img *ngIf="!equipe.annotation.dashletId" src="../../images/pin.png" (click)="setDashlet()" />
							<img *ngIf="equipe.annotation.dashletId" src="../../images/unpin.png" (click)="removeDashlet(equipe.annotation.dashletId)" />
						</div>
					</div>

					<div class="row" *ngIf="!authService.isProduction()">
						<div class="col-sm-4">_id:</div>
						<div class="col-sm-6">{{equipe.data._id}}</div>
					</div>

				</div>
			</div>
		</template>
	</ngb-tab>
	<ngb-tab title="Spending" id="tabSpending">
		<template ngbTabContent>
			<gg-equipe-bilan [bilanObservable]="bilanObservable"></gg-equipe-bilan>
		</template>
	</ngb-tab>
	<ngb-tab title="Charts" id="tabCharts">
		<template ngbTabContent>
			<div class="card">
				<div class="card-block">
					<div class="row">
						<div class="col-sm-6">
							<div class='akbox'>
								<div class='akcontent'>
									<x-chartist [data]="pieSpentChart.data" [type]="pieSpentChart.type"></x-chartist>
								</div>
							</div>
							
						</div>"
					</div>

				</div>
			</div>
		</template>
	</ngb-tab>
	<ngb-tab title="Comments" id="tabComments">
		<template ngbTabContent>
			<gg-comments [comments]="equipe.data.comments" (commentsUpdated)="commentsUpdated($event)"></gg-comments>
		</template>
	</ngb-tab>
	<ngb-tab title="Users" id="tabUsers">
		<template ngbTabContent>
			<gg-user-list [state]="state.Users" [usersObservable]="usersObservable" [path]="path+'|O:Users'" (stateChanged)="childUsersStateChanged($event)"></gg-user-list>
		</template>
	</ngb-tab>
	<ngb-tab title="Otps" id="tabOtps">
		<template ngbTabContent>
			<gg-otp-list [otpsObservable]="otpsObservable" [config]="{skip:['equipe']}" [state]="state.Otps" [path]="path+'|O:Otps'" (stateChanged)="childOtpsStateChanged($event)"></gg-otp-list>
		</template>
	</ngb-tab>
	<ngb-tab title="Orders" *ngIf="anyOrder" id="tabOrders">
		<template ngbTabContent>
			<gg-order-list [ordersObservable]="ordersObservable" [state]="state.Orders" [path]="path+'|O:Orders'" (stateChanged)="childOrdersStateChanged($event)"></gg-order-list>
		</template>
	</ngb-tab>

	<ngb-tab title="Fridge Orders" id="tabFridgeOrders" *ngIf="((fridgeOrdersObservable |async) || []).length>0">
		<template ngbTabContent>
			<gg-order-fridge-list [fridgeOrdersObservable]="fridgeOrdersObservable" [path]="path+'|O:FridgeOrders'"></gg-order-fridge-list>
		</template>
	</ngb-tab>
	<ngb-tab title="Stock Orders" id="tabStockOrders" *ngIf="((stockOrdersObservable |async) || []).length>0">
		<template ngbTabContent>
			<gg-stock-order-list [ordersObservable]="stockOrdersObservable" [state]="state.StockOrders" [path]="path+'|O:StockOrders'"></gg-stock-order-list>
		</template>
	</ngb-tab>
	<ngb-tab title="Used Vouchers" id="tabUsedVouchers" *ngIf="((webVouchersObservable |async) || []).length>0">
		<template ngbTabContent>
			<gg-voucher-list [vouchersObservable]="webVouchersObservable" [focusOnVoucherUsage]="true" ></gg-voucher-list>
		</template>
	</ngb-tab>
	
	<ngb-tab title="Add an Otp" id="tabOtp">
		<template ngbTabContent>
			<div class="card">
				<div class="card-block">
					<gg-otp-enter [equipeId]="equipe.data._id"></gg-otp-enter>
				</div>
			</div>
		</template>
	</ngb-tab>
	<ngb-tab id="tabMax">
		<template ngbTabTitle><img src="../../images/maximize.png" [ngbPopover]="popContent" triggers="mouseenter:mouseleave" /></template>
		<template ngbTabContent></template>
	</ngb-tab>
	<ngb-tab id="gotoTop" *ngIf="!isRoot && path!=='dashboard'">
		<template ngbTabTitle><img src="../../images/gototop.png" ngbPopover="Goto top of the page" triggers="mouseenter:mouseleave" /></template>
		<template ngbTabContent></template>
	</ngb-tab>
	
</ngb-tabset>