<gg-search-box [objectTypeTranslationKey]="'EQUIPE GROUPS'" [objectsObservable]="equipesObservable" [fnFilterObjects]="fnFilter" (listChanged)="equipes=$event">
	<ul searchHelp>
		<li>{{'EQUIPE.SEARCH HELP.MSG2' | translate}}</li>
	</ul>

	<ngb-accordion accordion [closeOthers]="true" #acc="ngbAccordion" (panelChange)="beforeAccordionChange($event)" [activeIds]="state.openPanelId">
		<ngb-panel [disabled]="true">
			<ng-template ngbPanelTitle>
				<div class="row">
					<div class="col-sm-2"><b>{{'EQUIPE.COLUMN.GROUP' | translate}}</b></div>
					<div class="col-sm-3"><b>{{'EQUIPE.COLUMN.DESCRIPTION' | translate}}</b></div>
					<div class="col-sm-6"><b>{{'EQUIPE.COLUMN.EQUIPES' | translate}}</b></div>
				</div>
			</ng-template>
		</ngb-panel>
		<ngb-panel *ngFor="let equipe of equipes" [id]="equipe.data._id">
			<ng-template ngbPanelTitle>
				<div class="row" id="{{equipe.data._id}}">
					<div class="col-sm-2">{{equipe.data.name}}</div>
					<div class="col-sm-3">{{equipe.data.description}}</div>
					<div class="col-sm-6">{{equipe.annotation.equipesTxt}}</div>
				</div>
			</ng-template>
			<ng-template ngbPanelContent>
				<gg-equipe-group-detail [equipeGroupObservable]="getEquipeObservable(equipe.data._id)" [initialTab]="initialTabInEquipeDetail"
				 [state]="state[equipe.data._id]" [path]="path+'|P:'+equipe.data._id" (stateChanged)="childStateChanged($event, equipe.data._id)"></gg-equipe-group-detail>
			</ng-template>
		</ngb-panel>
	</ngb-accordion>

</gg-search-box>




