<ngb-tabset #tabset *ngIf="supplier" (tabChange)="beforeTabChange($event)" [activeId]="state.selectedTabId">
	<ngb-tab title="Info" id="tabInfo">
		<template ngbTabContent>
			<div class="card">
				<div class="card-block">
					<div class="row">
						<div class="col-sm-2">Supplier:</div>
						<div class="col-sm-6">{{supplier.Nom}}</div>
					</div>
					<div class="row">
						<div class="col-sm-2">Location:</div>
						<div class="col-sm-6">{{supplier.Ville}}</div>
					</div>
				</div>
			</div>
		</template>
	</ngb-tab>
	<ngb-tab title="Products" id="tabProducts">
		<template ngbTabContent>
			<gg-product-list [productsObservable]="productsObservable" [config]="{skip:['supplier']}"></gg-product-list>
		</template>
	</ngb-tab>
	<ngb-tab title="Orders" *ngIf="anyOrder" id="tabOrders">
		<template ngbTabContent>
			<gg-order-list [ordersObservable]="ordersObservable" [config]="{skip:['supplier']}" [state]="state.Orders" (stateChanged)="childOrdersStateChanged($event)"></gg-order-list>
		</template>
	</ngb-tab>
	<ngb-tab title="Shopping Basket" *ngIf='isThereABasket' id="tabBasket">
		<template ngbTabContent>
			<div class="card">
				<div class="card-block">
					<div class="row">
						<gg-product-list [productsObservable]="productsBasketObservable" [config]="{skip:['category', 'otp', 'supplier']}"></gg-product-list>
					</div>
					<div class="row">
						<button class="btn btn-warning" (click)="gotoPreOrder()">Proceed to Checkout</button>
					</div>
				</div>
			</div>
		</template>
	</ngb-tab>
	<ngb-tab title="Add a product" id="tabAddProduct">
		<template ngbTabContent>
			<div class="card">
				<div class="card-block">
					<div class="row">
						<gg-product-enter [supplierId]="supplier._id" ></gg-product-enter>
					</div>
				</div>
			</div>
		</template>
	</ngb-tab>
</ngb-tabset>