<div class="card" *ngIf="supplier">
	<div class="card-block">
        <h5 class="card-title">{{supplier.Nom}}</h5>
		<ngb-tabset >
			<ngb-tab title="Info">
				<template ngbTabContent>
					<div class="card">
						<div class="card-block">
							<div class="row">
								<div class="col-sm-2">Supplier:</div>
								<div class="col-sm-6">{{supplier.Nom}}</div>
							</div>
							<div class="row">
								<div class="col-sm-2">Location:</div>
								<div class="col-sm-6">{{supplier.Ville}}</div>
							</div>
						</div>
					</div>
				</template>
			</ngb-tab>
			<ngb-tab title="Products">
				<template ngbTabContent>
					<gg-product-list [products]="supplier.products"></gg-product-list>
				</template>

			</ngb-tab>
		</ngb-tabset>
	</div>
</div>