<template #popContent>{{isRoot ? 'Click here to go back to last view' : 'Click here to get a detail view'}}</template>

<ngb-tabset #tabset *ngIf="supplier" (tabChange)="beforeTabChange($event)" [activeId]="state.selectedTabId">
	<ngb-tab title="Info" id="tabInfo">
		<template ngbTabContent>
			<div class="card">
				<div class="card-block">
					<div class="row">
						<div class="col-sm-2">supplier:</div>
						<div class="col-sm-6">{{supplier.data.name}}</div>
					</div>
					<div class="row">
						<div class="col-sm-2">city:</div>
						<div class="col-sm-6">{{supplier.data.city}}</div>
					</div>
					<div class="row">
						<div class="col-sm-2">country:</div>
						<div class="col-sm-6">{{supplier.data.country}}</div>
					</div>
					<div class="row">
						<div class="col-sm-2">zip:</div>
						<div class="col-sm-6">{{supplier.data.zip}}</div>
					</div>
					<div class="row">
						<div class="col-sm-2">street:</div>
						<div class="col-sm-6">{{supplier.data.street}}</div>
					</div>
					<div class="row">
						<div class="col-sm-2">telephone:</div>
						<div class="col-sm-6">{{supplier.data.tel}}</div>
					</div>
					<div class="row">
						<div class="col-sm-2">fax:</div>
						<div class="col-sm-6">{{supplier.data.fax}}</div>
					</div>
					<div class="row">
						<div class="col-sm-2">client:</div>
						<div class="col-sm-6">{{supplier.data.client}}</div>
					</div>
					<div class="row">
						<div class="col-sm-2">frequency:</div>
						<div class="col-sm-6">{{supplier.annotation.supplierFrequence}}</div>
					</div>

					<div class="row">
						<div class="col-sm-2">_id:</div>
						<div class="col-sm-6">{{supplier.data._id}}</div>
					</div>

				</div>
			</div>
		</template>
	</ngb-tab>
	<ngb-tab title="Products" id="tabProducts">
		<template ngbTabContent>
			<gg-product-grid [productsObservable]="productsObservable"  [config]="{skip:['supplier']}"></gg-product-grid>
		</template>
	</ngb-tab>
	<ngb-tab title="Orders" *ngIf="anyOrder" id="tabOrders">
		<template ngbTabContent>
			<gg-order-list [ordersObservable]="ordersObservable" [config]="{skip:['supplier']}" [path]="path+'|O:Orders'" [state]="state.Orders" (stateChanged)="childOrdersStateChanged($event)"></gg-order-list>
		</template>
	</ngb-tab>
	<ngb-tab title="Shopping Basket" *ngIf='isThereABasket' id="tabBasket">
		<template ngbTabContent>
			<div class="card">
				<div class="card-block">
					<div class="row">
						<gg-product-grid [productsObservable]="productsBasketObservable" [config]="{skip:['category', 'otp', 'supplier', 'manip']}"></gg-product-grid>
					</div>
					<div class="row">
						<button class="btn btn-warning" (click)="gotoPreOrder()">Proceed to Checkout</button>
					</div>
				</div>
			</div>
		</template>
	</ngb-tab>
	<ngb-tab title="Add a product" id="tabAddProduct">
		<template ngbTabContent>
			<div class="card">
				<div class="card-block">
					<div class="row">
						<gg-product-enter [supplierId]="supplier.data._id"></gg-product-enter>
					</div>
				</div>
			</div>
		</template>
	</ngb-tab>
	<ngb-tab title="Web Shopping" id="tabWebShopping">
		<template ngbTabContent>
			<div class="card">
				<div class="card-block">
					<ngb-tabset (tabChange)="beforeWebShoppingTabChange($event)" [activeId]="state.selectedWebShoppingTabId">
						<ngb-tab title="Administration" id="tabWebShoppingAdmin">
							<template ngbTabContent>
								<div class="card">
									<div class="card-block">
										<div class="row">
											<div class="col-sm-4 vcenter">web shopping enabled:</div>
											<div class="col-sm-6 vcenter">
												<gg-editor-boolean [content]="supplier.data.webShopping && supplier.data.webShopping.isEnabled" (editSaved)="webShoppingUpdated($event)"></gg-editor-boolean>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-4 vcenter">allowed products:</div>
											<div class="col-sm-6 vcenter">
												<gg-selector [selectableData]="selectableCategoriesObservable" [selectedIds]="selectedCategoryIdsObservable" (selectionChanged)="categorySelectionChanged($event)"
													(selectionOptionAdded)="categoryHasBeenAdded($event)"></gg-selector>
											</div>
										</div>
									</div>
								</div>
							</template>
						</ngb-tab>
						<div *ngIf="supplier.data.webShopping && supplier.data.webShopping.categoryIds && supplier.data.webShopping.categoryIds.length > 0">
							<ngb-tab *ngFor="let category of supplier.annotation.webShopping.categories" title="Vouchers {{category.name}}" id="tabWebShoppingVoucher{{category.id}}">
								<template ngbTabContent>
									<div class="card">
										<div class="card-block">
											<div class="row">
												<div class="col-sm-4 vcenter">vouchers available:</div>
												<div class="col-sm-6 vcenter">{{supplier.annotation.voucherCategoryMap && supplier.annotation.voucherCategoryMap.has(category.id) ? supplier.annotation.voucherCategoryMap.get(category.id).vouchers.length
													: 0}}</div>
											</div>
											<div class="row">
												<div class="col-sm-4 vcenter">vouchers ordered:</div>
												<div class="col-sm-6 vcenter">
													<gg-editor-number [content]="nbVouchersOrdered(category.id)" (editSaved)="nbVouchersOrderedUpdated(category.id, $event)"></gg-editor-number>
												</div>
											</div>
										</div>
									</div>
								</template>
							</ngb-tab>
						</div>
					</ngb-tabset>
				</div>
			</div>
		</template>
	</ngb-tab>
	<ngb-tab id="tabMax">
		<template ngbTabTitle><img src="./images/maximize.png" [ngbPopover]="popContent" triggers="mouseenter:mouseleave" /></template>
		<template ngbTabContent></template>
	</ngb-tab>
	<ngb-tab id="gotoTop" *ngIf="!isRoot && path!=='dashboard'">
		<template ngbTabTitle><img src="./images/gototop.png" ngbPopover="Goto top of the page" triggers="mouseenter:mouseleave" /></template>
		<template ngbTabContent></template>
	</ngb-tab>
	
</ngb-tabset>