<div id="GGTOP"></div>
<div class="card">
    <div class="card-block">
        <ngb-tabset *ngIf="authorizationStatusInfo && authorizationStatusInfo.isLoggedIn">
            <ngb-tab title="{{'SAP.MENU.VIEW SAP ITEMS' | translate}}" id="tabView">
                <template ngbTabContent>

                    <gg-sap-list [state]="state" [sapsObservable]="sapsObservable"></gg-sap-list>

                </template>
            </ngb-tab>
            <ngb-tab title="{{'SAP.MENU.ATTRIBUTE TO EQUIPE' | translate}} ({{sapItemsToAttributeAll.length}})" *ngIf="sapItemsToAttribute" id="tabAttributeToEquipe">
                <template ngbTabContent>
                    <div class="card">
                        <div class="card-block">
                            <div class="row">
                                <img src="../../images/refresh.png" (click)="refreshAttributionList()" class="imgSearch" placement="right" [ngbTooltip]="'Refresh: hide the sap items already attributed to an equipe'"/>
                            </div>
                            <div class="row">
                                <div class="col-sm-1 vcenter"><b>{{'SAP.ATTRIBUTION.COLUMN.SAP ID' | translate}}</b></div>
                                <div class="col-sm-1 vcenter"><b>{{'SAP.ATTRIBUTION.COLUMN.LAST ACTIVITY' | translate}}</b></div>
                                <div class="col-sm-1 vcenter"><b>{{'SAP.ATTRIBUTION.COLUMN.ALREADY INVOICED' | translate}}</b></div>
                                <div class="col-sm-1 vcenter"><b>{{'SAP.ATTRIBUTION.COLUMN.REMAINING ENGAGED' | translate}}</b></div>
                                <div class="col-sm-1 vcenter"><b>{{'SAP.ATTRIBUTION.COLUMN.SUPPLIER' | translate}}</b></div>
                                <div class="col-sm-2 vcenter"><b>{{'SAP.ATTRIBUTION.COLUMN.OTP' | translate}}</b></div>
                                <div class="col-sm-2 vcenter"><b>{{'SAP.ATTRIBUTION.COLUMN.EQUIPE' | translate}}</b></div>
                            </div>
                            <div *ngFor="let sapItem of sapItemsToAttribute">
                                <div class="row">
                                    <div class="col-sm-1 vcenter">
                                        {{sapItem.sapId}}
                                    </div>
                                    <div class="col-sm-1 vcenter">
                                        {{sapItem.dateLastActivity}}
                                    </div>
                                    <div class="col-sm-1 vcenter">
                                        {{sapItem.alreadyBilled | currency:'EUR':true:'1.2-2'}}
                                    </div>
                                    <div class="col-sm-1 vcenter">
                                        {{ sapItem.residuEngaged | currency:'EUR':true:'1.2-2'}}
                                    </div>
                                    <div class="col-sm-1 vcenter">
                                        <gg-text-compact [text]="!sapItem.mainData.data.isNoEngag ?  sapItem.mainData.data.supplier : sapItem.typesPiece" [numberOfChar]="10"></gg-text-compact>
                                    </div>
                                    <div class="col-sm-2 vcenter">
                                        <gg-text-compact [text]="sapItem.mainData.annotation.otpTxt"></gg-text-compact>
                                    </div>
                                    <div class="col-sm-2 vcenter">
                                        <gg-editor-autocomplete [selectableData]="equipeListObservable" [selectedId]="sapItem.equipeId" [editMode]="!sapItem.equipeId"
                                            (idChanged)="equipeChanged($event, sapItem)" [emptyContentText]="'ignore for now'" (hasBeenCanceled)="equipeChangeCancelled(sapItem)"></gg-editor-autocomplete>
                                    </div>
                                    <div class="col-sm-2 vcenter">
                                        <button type="button" class="btn btn-link" (click)="sapItem.isClosed=!sapItem.isClosed">{{'SAP.ATTRIBUTION.ACTION.SHOW/HIDE OTP' | translate}}</button>
                                    </div>
                                </div>
                                <div class="row" [ngbCollapse]="!sapItem.isClosed"> 
                                    <gg-sap-detail [sapObservable]="getSapObservable(sapItem.sapId)"></gg-sap-detail>
                                </div>
                            </div>
                            <div class="row">
                                There are {{sapItemsToAttributeAll.length}} items in total to process. Process the first ones (or set them to 'ignore for now') and then press the refresh button above.
                            </div>
                        </div>
                    </div>
                </template>
            </ngb-tab>
            <ngb-tab title="{{'SAP.MENU.RESPONSABLES' | translate}}" id="tabResponsables">
                <template ngbTabContent>
                    <div class="card" id>
                        <div class="card-block">
                            <ul>
                                <li *ngFor="let resp of listResponsales">{{resp}}</li>
                            </ul>
                        </div>
                    </div>
                </template>
            </ngb-tab>
            <ngb-tab title="{{'SAP.MENU.VIEW PIECE TYPES' | translate}}" id="tabPiecesInfo">
                <template ngbTabContent>
                    <div class="card" id>
                        <div class="card-block">

                            <ngb-accordion [closeOthers]="true" #acc="ngbAccordion">
                                <ngb-panel [disabled]="true">
                                    <template ngbPanelTitle>
                                        <div class="row">
                                            <div class="col-sm-3 "><b>{{'SAP.BY PIECE TYPE.COLUMN.PIECE TYPE' | translate}}</b></div>
                                            <div class="col-sm-3 "><b>{{'SAP.BY PIECE TYPE.COLUMN.FIRST PIECE ID' | translate}}</b></div>
                                            <div class="col-sm-3 "><b>{{'SAP.BY PIECE TYPE.COLUMN.LAST PIECE ID' | translate}}</b></div>
                                            <div class="col-sm-3 "><b>{{'SAP.BY PIECE TYPE.COLUMN.NB' | translate}}</b></div>
                                        </div>
                                    </template>
                                </ngb-panel>
                                <ngb-panel *ngFor="let info of sapPieceTypesInfo">
                                    <template ngbPanelTitle>
                                        <div class="row">
                                            <div class="col-sm-3 ">
                                                {{info.pieceType}}
                                            </div>
                                            <div class="col-sm-3 ">
                                                {{info.info.minSapId}}
                                            </div>
                                            <div class="col-sm-3 ">
                                                {{info.info.maxSapId}}
                                            </div>
                                            <div class="col-sm-3 ">
                                                {{info.info.nb}}
                                            </div>
                                        </div>
                                    </template>
                                    <template ngbPanelContent>
                                        <gg-sap-list [state]="state" [sapsObservable]="getSapBytypeObservable(info.pieceType, info.length, info.firstChar)"></gg-sap-list>
                                    </template>
                                </ngb-panel>
                            </ngb-accordion>

                        </div>
                    </div>
                </template>
            </ngb-tab>
        </ngb-tabset>
        <h4 *ngIf="authorizationStatusInfo && !authorizationStatusInfo.isLoggedIn">{{'ERROR.NO LOGIN' | translate}}</h4>
    </div>
</div>