<template #popContent>{{isRoot ? 'Click here to go back to last view' : 'Click here to get a detail view'}}</template>

<div>
    <ngb-tabset *ngIf="sapObj" (tabChange)="beforeTabChange($event)" [activeId]="state.selectedTabId">
        <ngb-tab title="Summary" id="tabDetails">
            <template ngbTabContent>
                <div class="card">
                    <div class="card-block">
                        <div class= "row">
                            <div class="col-sm-1">Reference:</div>             
                            <div class="col-sm-8">{{sapItem.data.sapId}} / {{sapItem.data.ourRef ? sapItem.data.ourRef : 'no krino reference'}}</div>
                        </div>
                        <div class= "row">
                            <div class="col-sm-1">Supplier:</div>             
                            <div class="col-sm-8">{{sapItem.data.supplier}}</div>
                        </div>
                        <div class= "row">
                            <div class="col-sm-1">Engagement:</div>             
                            <div class="col-sm-8">{{sapEngage ? sapEngage.data.maxDate : '(No engagement)'}}</div>
                        </div>
                        <div class= "row">
                            <div class="col-sm-1">Final invoice:</div>             
                            <div class="col-sm-8">{{sapObj.hasFactureFinale ? 'yes' : 'no'}}</div>
                        </div>

                        
                        <br/>
                        <div class= "row">
                            <div class="col-sm-1"><b>Poste</b></div>
                            <div class="col-sm-2"><b>Otp</b></div>
                            <div class="col-sm-2"><b>Product</b></div>
                            <div class="col-sm-2"><b>Initial</b></div>
                            <div class="col-sm-2"><b>Invoiced</b></div>
                            <div class="col-sm-2"><b>Remaining</b></div>
                            <div class="col-sm-1"><b>Last invoice</b></div>
                        </div>
                        <div class= "row" *ngFor="let poste of sapObj.postList">
                            <div class="col-sm-1">{{poste.poste}}</div>
                            <div class="col-sm-2">{{poste.otp}}</div>
                            <div class="col-sm-2">{{poste.product}}</div>
                            <div class="col-sm-2">{{poste.amountEngaged | currency:'EUR':true:'1.2-2'}}</div>
                            <div class="col-sm-2">{{poste.amountFactured | currency:'EUR':true:'1.2-2'}}</div>
                            <div class="col-sm-2">{{poste.amountResiduel | currency:'EUR':true:'1.2-2'}}</div>
                            <div class="col-sm-1">{{poste.lastInvoiceDate}}</div>
                        </div>
                        <div class= "row">
                            <div class="col-sm-1"><b></b></div>
                            <div class="col-sm-2"><b></b></div>
                            <div class="col-sm-2"><b></b></div>
                            <div class="col-sm-2"><b></b></div>
                            <div class="col-sm-2"><b>{{sapObj.alreadyBilled | currency:'EUR':true:'1.2-2'}}</b></div>
                            <div class="col-sm-2"><b>{{sapObj.residuEngaged | currency:'EUR':true:'1.2-2'}} {{sapObj.hasFactureFinale? '(has a final invoice)' : ''}}</b></div>
                            <div class="col-sm-1"></div>
                        </div>
                    </div>
                </div>
            </template>
        </ngb-tab>
        <ngb-tab title="Engaged" id="tabEngaged" *ngIf="sapEngage">
            <template ngbTabContent>
                <gg-sap-sheet [isFacture]="false" [sapItem]="sapEngage.data"></gg-sap-sheet>
            </template>
        </ngb-tab>
        <ngb-tab title="Invoiced" id="tabInvoiced" *ngIf="sapFacture">
            <template ngbTabContent>
                <gg-sap-sheet [isFacture]="true" [sapItem]="sapFacture.data"></gg-sap-sheet>
            </template>
        </ngb-tab>
        <ngb-tab id="tabMax">
            <template ngbTabTitle><img src="../../images/maximize.png" [ngbPopover]="popContent" triggers="mouseenter:mouseleave" /></template>
            <template ngbTabContent></template>
        </ngb-tab>
        <ngb-tab id="gotoTop" *ngIf="!isRoot && path!=='dashboard'">
            <template ngbTabTitle><img src="../../images/gototop.png" ngbPopover="Goto top of the page" triggers="mouseenter:mouseleave" /></template>
            <template ngbTabContent></template>
        </ngb-tab>

    </ngb-tabset>
</div>