<div class="card">
    <div class="card-block">


<!--        <div class="row">
            <div class="col-sm-2">Total restant engagé on OTP:</div>
            <div class="col-sm-4">{{totalEngaged | currency:'EUR':true:'1.2-2'}}</div>
        </div>
-->
        <ngb-tabset (tabChange)="beforeTabChange($event)" [activeId]="state.selectedTabId">
            <ngb-tab title="{{'SAP.MENU.ALL' | translate}}" id="tabAll">
                <template ngbTabContent>
                    <div class="card">
                        <div class="card-block">
                            <gg-sap-list [sapsObservable]="sapsObservable" [state]="state.All" [path]="path+'|O:All'" (stateChanged)="childAllStateChanged($event)" ></gg-sap-list>
                        </div>
                    </div>
                </template>
            </ngb-tab>
            <ngb-tab title="{{'SAP.MENU.POSTES ENGAGEMENT OPEN' | translate}}" id="tabEngagementOpen">
                <template ngbTabContent>
                    <div class="card">
                        <div class="card-block">
                            <div class="row">
                                <div class="col-sm-1"><b>{{'SAP.BY SAPIDS.SAP ID' | translate}}</b></div>
                                <div class="col-sm-1"><b>{{'SAP.BY SAPIDS.POSTE' | translate}}</b></div>
                                <div class="col-sm-2"><b>{{'SAP.BY SAPIDS.OPEN' | translate}}</b></div>
                                <div class="col-sm-2"><b>{{'SAP.BY SAPIDS.SUM' | translate}}</b></div>
                                <div class="col-sm-3"><b>{{'SAP.BY SAPIDS.PRODUCT' | translate}}</b></div>
                                <div class="col-sm-1"><b>{{'SAP.BY SAPIDS.CODE TVA' | translate}}</b></div>
                            </div>
                            <div *ngFor="let poste of sapPostesEngOpenList">
                                <div class="row">
                                    <div class="col-sm-1"><span class="imgSearch"  (click)="navigateToSap(poste.sapId)">{{poste.sapId}}</span></div>
                                    <div class="col-sm-1">{{poste.poste.poste}}</div>
                                    <div class="col-sm-2">{{poste.poste.amountResiduel | currency:'EUR':true:'1.2-2'}}</div>
                                    <div class="col-sm-2">{{poste.sum | currency:'EUR':true:'1.2-2'}}</div>
                                    <div class="col-sm-3">{{poste.poste.product}}</div>
                                    <div class="col-sm-1">{{poste.poste.codeTvaEngag}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </template>
            </ngb-tab>
            <ngb-tab title="{{'SAP.MENU.INVOICED' | translate}}" id="tabInvoiced">
                <template ngbTabContent>
                    <div class="card">
                        <div class="card-block">
                            <div class="row">
                                <div class="col-sm-1"><b>Sap Id</b></div>
                                <div class="col-sm-2"><b>Piece</b></div>
                                <div class="col-sm-1"><b>Poste</b></div>
                                <div class="col-sm-2"><b>Date</b></div>
                                <div class="col-sm-2"><b>HTva</b></div>
                                <div class="col-sm-2"><b>TvaC</b></div>
                                <div class="col-sm-2"><b>Product</b></div>
                            </div>
                            <div *ngFor="let item of sapFacturesItemsList">
                                <div class="row">
                                    <div class="col-sm-1"><span class="imgSearch"  (click)="navigateToSap2(item.sapId)">{{item.sapId}}</span></div>
                                    <div class="col-sm-2">{{item.pieceId}}</div>
                                    <div class="col-sm-1">{{item.poste}} / {{item.tvaCode}}</div>
                                    <div class="col-sm-2">{{item.date | shortDate}}</div>
                                    <div class="col-sm-2">{{item.htva | currency:'EUR':true:'1.2-2'}}</div>
                                    <div class="col-sm-2">{{item.tvac | currency:'EUR':true:'1.2-2'}}</div>
                                    <div class="col-sm-2"><gg-text-compact [text]="item.product" [numberOfChar]="20"></gg-text-compact></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </template>
            </ngb-tab>
        </ngb-tabset>

    </div>
</div>