<div id="GGTOP"></div>
<div class="card">
    <div class="card-block">
        <ngb-tabset *ngIf="authorizationStatusInfo && authorizationStatusInfo.isLoggedIn">
            <ngb-tab title="View Sap Items" id="tabView">
                <template ngbTabContent>

                    <gg-sap-list [state]="state" [sapsObservable]="sapsObservable"></gg-sap-list>

                </template>
            </ngb-tab>
            <ngb-tab title="Attribute to equipe" id="tabAttributeToEquipe">
                <template ngbTabContent>
                    <div class="card">
                        <div class="card-block">
                            <div class="row">
                                <img src="../../images/refresh.png" (click)="refreshAttributionList()" class="imgSearch" placement="right" [ngbTooltip]="'Refresh: hide the sap items already attributed to an equipe'"/>
                            </div>
                            <div class="row">
                                <div class="col-sm-1 vcenter"><b>Sap Id</b></div>
                                <div class="col-sm-1 vcenter"><b>Last activity</b></div>
                                <div class="col-sm-1 vcenter"><b>Already invoiced</b></div>
                                <div class="col-sm-1 vcenter"><b>Remaining engaged</b></div>
                                <div class="col-sm-1 vcenter"><b>Supplier</b></div>
                                <div class="col-sm-2 vcenter"><b>Otp</b></div>
                                <div class="col-sm-2 vcenter"><b>Equipe</b></div>
                            </div>
                            <div *ngFor="let sapItem of sapItemsToAttribute">
                                <div class="row">
                                    <div class="col-sm-1 vcenter">
                                        {{sapItem.sapId}}
                                    </div>
                                    <div class="col-sm-1 vcenter">
                                        {{sapItem.dateLastActivity}}
                                    </div>
                                    <div class="col-sm-1 vcenter">
                                        {{sapItem.alreadyBilled | currency:'EUR':true:'1.2-2'}}
                                    </div>
                                    <div class="col-sm-1 vcenter">
                                        {{ sapItem.residuEngaged | currency:'EUR':true:'1.2-2'}}
                                    </div>
                                    <div class="col-sm-1 vcenter">
                                        <gg-text-compact [text]="!sapItem.mainData.data.isNoEngag ?  sapItem.mainData.data.supplier : sapItem.typesPiece" [numberOfChar]="10"></gg-text-compact>
                                    </div>
                                    <div class="col-sm-2 vcenter">
                                        <gg-text-compact [text]="sapItem.mainData.annotation.otpTxt"></gg-text-compact>
                                    </div>
                                    <div class="col-sm-2 vcenter">
                                        <gg-editor-autocomplete [selectableData]="equipeListObservable" [emptyContentText]="'choose an equipe'" [selectedId]="sapItem.equipeId" [editMode]="!sapItem.equipeId"
                                            (idChanged)="equipeChanged($event, sapItem)"></gg-editor-autocomplete>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </template>
            </ngb-tab>
            <ngb-tab title="View Piece Types" id="tabPiecesInfo">
                <template ngbTabContent>
                    <div class="card" id>
                        <div class="card-block">

                            <ngb-accordion [closeOthers]="true" #acc="ngbAccordion">
                                <ngb-panel [disabled]="true">
                                    <template ngbPanelTitle>
                                        <div class="row">
                                            <div class="col-sm-3 "><b>Piece Type</b></div>
                                            <div class="col-sm-3 "><b>First piece Id</b></div>
                                            <div class="col-sm-3 "><b>Last piece Id</b></div>
                                            <div class="col-sm-3 "><b>Nb</b></div>
                                        </div>
                                    </template>
                                </ngb-panel>
                                <ngb-panel *ngFor="let info of sapPieceTypesInfo">
                                    <template ngbPanelTitle>
                                        <div class="row">
                                            <div class="col-sm-3 ">
                                                {{info.pieceType}}
                                            </div>
                                            <div class="col-sm-3 ">
                                                {{info.info.minSapId}}
                                            </div>
                                            <div class="col-sm-3 ">
                                                {{info.info.maxSapId}}
                                            </div>
                                            <div class="col-sm-3 ">
                                                {{info.info.nb}}
                                            </div>
                                        </div>
                                    </template>
                                    <template ngbPanelContent>
                                        <gg-sap-list [state]="state" [sapsObservable]="getSapBytypeObservable(info.pieceType, info.length, info.firstChar)"></gg-sap-list>
                                    </template>
                                </ngb-panel>
                            </ngb-accordion>

                        </div>
                    </div>
                </template>
            </ngb-tab>
        </ngb-tabset>
        <h4 *ngIf="authorizationStatusInfo && !authorizationStatusInfo.isLoggedIn">sorry: you are not logged in</h4>
    </div>
</div>