<div class="card" *ngIf="sapItem">
    <div class="card-block">
        <br><br>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <div class="row" *ngIf="!sapItem.isNoEngag" >
                        {{sapItem.supplier}} ({{sapItem.supplierId}})
                    </div>
                    <div class="row" *ngIf="sapItem.isNoEngag" >
                        PIECE SANS ENGAGEMENT
                    </div>
                    <div class="row">
                        {{sapItem.maxDate}} (last activity)
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="row">
                        Reference: {{sapItem.sapId}} / {{sapItem.ourRef ? sapItem.ourRef : 'no krino reference'}}
                    </div>
                    <div class="row">
                        {{sapItem.client}}
                    </div>
                </div>
            </div> <br><br>
            <div class="row">
                <div class="row">
                    <div class="col-sm-1"><b>Poste</b></div>
                    <div class="col-sm-2"><b>Product</b></div>
                    <div class="col-sm-2 "><b>Otp</b></div>
                    <div class="col-sm-1"><b>Qty</b></div>
                    <div class="col-sm-1 "><b>Htva</b></div>
                    <div class="col-sm-1 "><b>Tvac</b></div>
                    <div class="col-sm-1 "><b>Status</b></div>
                    <div class="col-sm-1" *ngIf="isFacture"><b>Piece</b></div>
                    <div class="col-sm-1" *ngIf="isFacture"><b>Date Cpt</b></div>

                </div>
                <div class="row" *ngFor="let item of sortedItems; let i = index">
                    <div class="col-sm-1">{{i>0 && sortedItems[i-1].poste == item.poste ? '' :  item.poste + ' / ' + item.codeTva}}</div>
                    <div class="col-sm-2"><gg-text-compact [text]="i>0 && sortedItems[i-1].poste == item.poste ? '' : item.product"></gg-text-compact></div>
                    <div class="col-sm-2 ">{{item.otp}}</div>
                    <div class="col-sm-1">{{item.quantity}}</div>
                    <div class="col-sm-1">{{item.htva | currency:'EUR':true:'1.2-2'}}</div>
                    <div class="col-sm-1">{{item.tvac | currency:'EUR':true:'1.2-2'}} </div>
                    <div class="col-sm-1 ">{{item.isSuppr?'Suppr':''}} {{item.isBlocked?'Block':''}} {{item.isFactFinale?'FactFinal':''}} {{item.iChargUlter?'ChargUlt':''}}</div>
                    <div class="col-sm-1" *ngIf="isFacture">{{item.pieceType}} / {{item.pieceId}}</div>
                    <div class="col-sm-1" *ngIf="isFacture">{{item.dateComptable}}</div>
                </div>
            </div>
        </div>
    </div>
</div>