<template #searchPopContent>
	<ul>
		<li>1245: si le Sap Id contient '1245'</li>
        <li>vwr: si le fournisseur contient 'vwr'</li>
		<li>$d: supprimée/deleted</li>
		<li>$f: avec facture finale</li>
		<li>$t: terminé: avec facture finale ou montant restant engagé nul</li>
		<li>$o: ouvert: avec un montant qui reste engagé</li>
		<li>$p: pièces sans engagement</li>
		<li>$pTB: pièces sans engagement of type TB</li>
		<li>$EO: avec otp error: plusieurs otp différents sur le même poste</li>
		<li>$E>200: résidu engagé supérieur à 200 euros</li>
		<li>$E<10: résidu engagé inférieur à 10 euros</li>
		<li>$R>200: réalisé supérieur à 200 euros</li>
		<li>$R<10: réalisé inférieur à 10 euros</li>
		<li>#>2: nombre de postes supérieur à 2</li>
		<li>#<5: nombre de postes inférieur à 5</li>
		<li>#=2: nombre de postes égal à 2</li>
	</ul>
</template>

<template #tipSearchLoupe><div style="font-size: 70%;">Click here to <br/> search specific sap</div></template>

<div class="card" id="asdfgh">
	<div class="card-block">
		<div class="row">
			<div [formGroup]="searchForm">
				 <img src="../../images/search.png" (click)="showSearch= !showSearch" class="imgSearch" placement="bottom" [ngbTooltip]="tipSearchLoupe"/>
				<input *ngIf="showSearch" type="search" [formControl]="searchControl" formControlName="searchControl" [ngbPopover]="searchPopContent"
					placement="bottom" triggers="mouseenter:mouseleave" popoverTitle="How to search: examples"><img *ngIf="showSearch" src="../../images/close.png" (click)="resetSerachControl()"/>
			</div>
		</div>
		<div class="row">
			<ngb-accordion [closeOthers]="true" #acc="ngbAccordion" (panelChange)="beforeAccordionChange($event)" >
				<ngb-panel [disabled]="true">
					<template ngbPanelTitle>
						<div class="row">
							<div class="col-sm-1"><b>Sap Id</b></div>
							<div class="col-sm-1"><b>Eng. date</b></div>
							<div class="col-sm-1"><b>Last activity</b></div>
							<div class="col-sm-2"><b>Already invoiced</b></div>
							<div class="col-sm-2"><b>Remaining engaged</b></div>
							<div class="col-sm-1"><b>Type</b></div>
							<div class="col-sm-2"><b>Supplier</b></div>
                            <div class="col-sm-2"><b>Otp</b></div>
						</div>
					</template>
					<template ngbPanelContent>

					</template>
				</ngb-panel>
				<ngb-panel *ngFor="let sap of saps" [id]="sap.mainData.data.sapId">
					<template ngbPanelTitle>
						<div class="row" id="{{sap.mainData.data.sapId}}">
							<div class="col-sm-1" [style.font-weight]="sap.mainData.data.sapId === state.openPanelId ? 'bold' : 'lighter'">{{sap.mainData.data.sapId}}</div>
							<div class="col-sm-1" >{{sap.engaged ? sap.engaged.data.maxDate : ''}}</div>
							<div class="col-sm-1" >{{sap.dateLastActivity}}</div>
							<div class="col-sm-2">{{sap.alreadyBilled | currency:'EUR':true:'1.2-2'}}</div>
							<div class="col-sm-2">{{ sap.residuEngaged | currency:'EUR':true:'1.2-2'}}</div>							
							<div class="col-sm-1">{{sap.mainData.data.isNoEngag ? 'No engagement' : (sap.isSuppr ? 'deleted' : (sap.hasFactureFinale ? 'final bill' : (sap.factured ? 'invoiced' : 'engaged')))}}</div>
							<div class="col-sm-2">{{!sap.mainData.data.isNoEngag ?  sap.mainData.data.supplier : sap.typesPiece }}</div>
                            <div class="col-sm-2">{{ sap.mainData.annotation.otpTxt }}</div>
						</div>
					</template>
					<template ngbPanelContent>
						<gg-sap-detail [sapObservable]="getSapObservable(sap.mainData.data.sapId)" [state]="state[sap.mainData.data.sapId]" [path]="path+'|P:'+sap.mainData.data.sapId" (stateChanged)="childStateChanged($event, sap.mainData.data.sapId)"></gg-sap-detail>
					</template>
				</ngb-panel>
			</ngb-accordion>
		</div>
	</div>
</div>