<div id="GGTOP"></div>
<div class="card">
    <div class="card-block">
        <ngb-tabset *ngIf="authorizationStatusInfo && authorizationStatusInfo.isLoggedIn">
            <ngb-tab title="View Products" id="tabView">
                <template ngbTabContent>
                    <gg-product-list [state]="state" [productsObservable]="productsObservable"></gg-product-list>
                </template>
            </ngb-tab>
            <ngb-tab title="Create a Product" id="tabCreate" *ngIf="authorizationStatusInfo.isAdministrator()">
                <template ngbTabContent>
                    <div class="card">
                        <div class="card-block">
                            <h6>Choose the supplier you want to add the product to</h6>
                            <gg-supplier-list [suppliersObservable]="suppliersObservable" [initialTabInSupplierDetail]="'tabAddProduct'"></gg-supplier-list>
                        </div>
                    </div>
                </template>
            </ngb-tab>
        </ngb-tabset>
        <h4 *ngIf="authorizationStatusInfo && !authorizationStatusInfo.isLoggedIn">{{'ERROR.NO LOGIN' | translate}}</h4>
    </div>
</div>