<template #searchPopContent>
	<ul>
		<li>liquid: the product should contain the string 'liquid'</li>
		<li>$>200: montants supérieurs à 200 euros</li>
		<li>$
			<50: montants inférieurs à 200 euros</li>
				<li>$S/: product that might be found in the stock</li>
				<li>$S/tip: stock product that includes tip in the name</li>
				<li>$M : product presents several times with the same CatalogNr</li>
				<li>$D : disabled products</li>

	</ul>
</template>

<template #tipSearchLoupe>
	<div style="font-size: 70%;">Click here to <br/> search specific product</div>
</template>

<div class="card">
	<div class="card-block">
		<div class="row">
			<div [formGroup]="searchForm">
				<img src="../../images/search.png" (click)="showSearch= !showSearch" class="imgSearch" placement="bottom" [ngbTooltip]="tipSearchLoupe"
				/>
				<input *ngIf="showSearch" type="search" [formControl]="searchControl" formControlName="searchControl" [ngbPopover]="searchPopContent"
				 placement="bottom" triggers="mouseenter:mouseleave" popoverTitle="How to search: examples"><img *ngIf="showSearch"
				 src="../../images/close.png" (click)="resetSerachControl()" />
			</div>
		</div>
		<div class="row">
			<div class="col-sm-3 col-md-3 vcenter">
				<b>Product</b>
			</div>
			<div class="col-sm-2 col-md-2 vcenter" ><b>Category</b></div>
			<div class="col-sm-2 col-md-2 vcenter">
				<b>Price</b>
			</div>
			
			<div class="col-sm-2 col-md-2 vcenter">
				<b>Qty in basket</b>
			</div>

		</div>

		<div *ngFor="let product of products">
			<div class="row" *ngIf="product && product.data" [style.color]="product.data.disabled ? 'red' : 'black'">
				<div class="col-sm-3 col-md-3 vcenter">
					<gg-editor [content]="product.data.name" [showControls]="true" (editSaved)="descriptionUpdated($event, product)" class="imgSearch"
					 (click)="navigateToProduct(product)" [readOnly]="!authorizationStatusInfo || !authorizationStatusInfo.isAdministrator()"></gg-editor>
				</div>
				<div class="col-sm-2 col-md-2 vcenter">
					<gg-selector [selectableData]="selectableCategoriesObservable" [selectedIds]="getProductCategoryIdsObservable(product.data._id)" (selectionChanged)="categorySelectionChanged($event, product)"
					 (selectionOptionAdded)="categoryHasBeenAdded($event)" [readOnly]="!authorizationStatusInfo || !authorizationStatusInfo.isAdministrator()"></gg-selector>
				</div>
				<div class="col-sm-2 col-md-2 vcenter">
					<gg-editor [id]="product.data._id" [content]="product.data.price" [showControls]="true" [isMonetary]="true" (editSaved)="prixUpdated($event, product)"
					 [readOnly]="!authorizationStatusInfo || !authorizationStatusInfo.isAdministrator()"></gg-editor>
				</div>
				<div class="col-sm-2 col-md-2 vcenter">
					<gg-editor-number *ngIf="product.annotation.hasCurrentUserPermissionToShop && !product.data.isFrigo && !product.data.disabled" [content]="product.annotation.quantity"
					 (editSaved)="quantityBasketUpdated($event, product)" [readOnly]="isGroupedBasket"></gg-editor-number>
					<div *ngIf="!product.annotation.hasCurrentUserPermissionToShop && !product.data.isFrigo">{{product.annotation.quantity}} (Contact Labmanager)</div>
					<gg-product-fridge-order-button *ngIf="product.data.isFrigo" [productObservable]="getProductObservable(product.data._id)"></gg-product-fridge-order-button>

				</div>
			</div>

		</div>

		<div class="row" *ngIf="nbHitsShown < nbHits">
			<div class="btn btn-sm btn-info" (click)="moreHits()" [ngbTooltip]="'now showing ' + nbHitsShown + ' of ' + nbHits">show more</div>
		</div>
		<div class="row" *ngIf="nbHitsShown >= nbHits && nbHits > 6">
			{{nbHits}} hits shown
		</div>
		

<!--		<gg-product [otpListObservable]="otpListObservable" [path]="path" *ngFor="let product of products" [productObservable]="getProductObservable(product.data._id)"
		 [config]="config"></gg-product>
-->	</div>
</div>