<gg-search-box [objectTypeTranslationKey]="'PRODUCTS'" [objectsObservable]="productsObservable" [fnFilterObjects]="getFilterFn()"
 [fnCalculateTotal]="calculateTotal" (listChanged)="setProducts($event)">
	<gg-product-list-help searchHelp> </gg-product-list-help>

	<div accordion>
		<div class="row">
			<div class="col-sm-3 col-md-3 vcenter">
				<b>{{'PRODUCT.COLUMN.PRODUCT' | translate}}</b>
			</div>
			<div class="col-sm-2 col-md-2 vcenter">
				<b>{{'PRODUCT.COLUMN.PRICE' | translate}}</b>
			</div>

			<div class="col-sm-1 col-md-1 vcenter">
				<b>{{'PRODUCT.COLUMN.QTY IN BASKET' | translate}}</b>
			</div>
			<div class="col-sm-2 col-md-2 vcenter"><b>{{'PRODUCT.COLUMN.TOTAL' | translate}}</b></div>
			<div class="col-sm-2 col-md-2 vcenter" *ngIf="showColumn('otp')"><b>Otp</b></div>

		</div>

		<div *ngFor="let product of products">
			<!--FOR-->
			<div class="row" *ngIf="product && product.data" [style.color]="product.data.disabled ? 'red' : 'black'">
				<div class="col-sm-3 col-md-3 vcenter">
					<gg-editor [content]="product.data.name" [showControls]="true" (editSaved)="descriptionUpdated($event, product)" class="imgSearch"
					 (click)="navigateToProduct(product)" [readOnly]="!authorizationStatusInfo?.isAdministrator()"></gg-editor>
				</div>
				<div class="col-sm-2 col-md-2 vcenter">
					<gg-editor [id]="product.data._id" [content]="product.data.price" [showControls]="true" [isMonetary]="true" (editSaved)="prixUpdated($event, product)"
					 [readOnly]="!authorizationStatusInfo?.isAdministrator()"></gg-editor>
				</div>
				<div class="col-sm-1 col-md-1 vcenter">
					<gg-editor-number *ngIf="product.annotation.hasCurrentUserPermissionToShop && !product.data.isFrigo && !product.data.disabled"
					 [content]="product.annotation.quantity" (editSaved)="quantityBasketUpdated($event, product)" [readOnly]="isGroupedBasket && !product.annotation.isFixCost"></gg-editor-number>
					<div *ngIf="!product.annotation.hasCurrentUserPermissionToShop && !product.data.isFrigo">{{product.annotation.quantity}} (Contact Labmanager)</div>
					<gg-product-fridge-order-button *ngIf="product.data.isFrigo" [productObservable]="getProductObservable(product.data._id)"></gg-product-fridge-order-button>

				</div>
				<div class="col-sm-2 col-md-2 vcenter" *ngIf="product.annotation.totalPrice">{{product.annotation.totalPrice | currency:'EUR':true:'1.2-2'}}</div>

				<div class="col-sm-2 col-md-2 vcenter" *ngIf="product.annotation.otp && product.annotation.otp._id && showColumn('otp')">
					<gg-editor-autocomplete [readOnly]="!authorizationStatusInfo?.isAdministrator()" [selectableData]="otpListObservable" [selectedId]="product.annotation.otp._id"
					 (idChanged)="otpUpdated($event, product)"></gg-editor-autocomplete> {{product.annotation.otp.description}}
				</div>
				<div class="col-sm-2 col-md-2 vcenter" *ngIf="product.annotation.otp && !product.annotation.otp._id"><b>Otp problem!</b></div>
				<div class="col-sm-1 col-md-1 vcenter" *ngIf="!isGroupedBasket && !product.annotation.isFixCost && !product.data.disabled">
					<button type="button" class="btn btn-link" (click)="setNotUrgent(product)">Set as not urgent</button>
				</div>
				<div class="col-sm-1 col-md-1 vcenter" *ngIf="isGroupedBasket">
					<button type="button" class="btn btn-link" (click)="product.annotation.isClosed=!product.annotation.isClosed">{{'GENERAL.TOGGLE DETAILS' | translate}}</button>
				</div>
			</div>
			<div class="row" [ngbCollapse]="!product.annotation.isClosed">   <!--Only for grouped baskets-->
				<div class="col-sm-12 col-md-12">
					<div class="card">
						<div class="row">
							<div class="col-sm-2 col-md-2 vcenter">{{'PRODUCT.COLUMN.WHEN' | translate}}</div>
							<div class="col-sm-2 col-md-3 vcenter">{{'PRODUCT.COLUMN.WHO' | translate}}</div>
							<div class="col-sm-2 col-md-3 vcenter">{{'PRODUCT.COLUMN.EQUIPE' | translate}}</div>
							<div class="col-sm-2 col-md-2 vcenter">{{'PRODUCT.COLUMN.HOW MANY' | translate}}</div>
						</div>
						<div class="card">
							<div class="row" *ngFor="let item of product.annotation.basketItems; let itemPos = index">
								<!--FOR-->
								<div class="col-sm-2 col-md-2 vcenter">
									<gg-date-pointer [date]="item.data.date"></gg-date-pointer>
								</div>
								<div class="col-sm-2 col-md-3 vcenter">{{item.annotation.userFullName}}</div>
								<div class="col-sm-2 col-md-3 vcenter">{{item.annotation.equipe}}</div>
								<div class="col-sm-2 col-md-2 vcenter">
									<gg-editor-number [content]="item.data.quantity" (editSaved)="quantityGroupedBasketUpdated($event, product, itemPos)" [readOnly]="!authorizationStatusInfo || (!authorizationStatusInfo.isAdministrator() && !authorizationStatusInfo.isThisUser(item.data.userId) && !authorizationStatusInfo.isGroupOrdersUser())">
									</gg-editor-number>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

		<div class="row gg-price" *ngIf="products && products.length > 1">
			<div class="col-sm-3 col-md-3 vcenter">
			</div>
			<div class="col-sm-2 col-md-2 vcenter">
			</div>
			<div class="col-sm-1 col-md-1 vcenter">{{'PRODUCT.LABEL.TOTAL' | translate}}</div>
			<div class="col-sm-2 col-md-2 vcenter">{{total | currency:'EUR':true:'1.2-2'}}</div>
		</div>

	</div>

</gg-search-box>