<template #popContent>{{isRoot ? 'Click here to go back to last view' : 'Click here to get a detail view'}}</template>

<template #tipContentFrigo>Click to desactivate frigo</template>

<template #tipAddToBasket>
	<div style="font-size: 70%;">Click here to <br/> add one unity of this product <br/> into the basket. <br/> Click and wait for a second to update!</div>
</template>

<ngb-tabset *ngIf="product" (tabChange)="beforeTabChange($event)" [activeId]="state.selectedTabId">
	<ngb-tab title="{{'PRODUCT.MENU.INFO' | translate}}" id="tabInfo">
		<template ngbTabContent>
			<div class="card">
				<div class="card-block">
					<div class="row" *ngIf="product.data.disabled">
						<div class="col-sm-3 vcenter" [style.color]="'red'"><b>{{'PRODUCT.LABEL.PRODUCT DISABLED' | translate}}</b></div>
					</div>
					<div class="row" [style.color]="'red'" *ngIf="product.data.onCreateValidation && !isProductReadOnly()">
						<div class="col-sm-3 vcenter">{{'PRODUCT.LABEL.ATTENTE VALIDATION' | translate}}</div>
						<div class="col-sm-6 vcenter">
							<button class="link" (click)="validationDone()">done</button>
						</div>
					</div>					
					<div class="row">
						<div class="col-sm-3 vcenter">{{'PRODUCT.LABEL.NAME OF PRODUCT' | translate}}</div>
						<div class="col-sm-6 vcenter">
							<gg-editor [content]="product.data.name" [showControls]="true" (editSaved)="nameUpdated($event)" [readOnly]="isProductReadOnly()"></gg-editor>
						</div>
						<div class="col-sm-1 vcenter" *ngIf="!authorizationStatusInfo.isPassiveUser() && product.annotation.hasCurrentUserPermissionToShop && !product.data.isFrigo && !product.data.disabled"
						 placement="right" [ngbTooltip]="tipAddToBasket">
							<img class="card-img img-fluid imgSearch" src="../../images/addToBasket.png" (click)="quantityBasketIncremented()"><span>{{product.annotation.quantity}}</span>
						</div>
						<div class="col-sm-1 vcenter" *ngIf="product.data.isFrigo">
							<gg-product-fridge-order-button *ngIf="product.data.isFrigo" [productObservable]="productObservable"></gg-product-fridge-order-button>+
						</div>
					</div>
					<div class="row">
						<div class="col-sm-3 vcenter">{{'PRODUCT.LABEL.DESCRIPTION' | translate}}</div>
						<div class="col-sm-6 vcenter">
							<gg-editor [content]="product.data.description" [showControls]="true" (editSaved)="descriptionUpdated($event)" [readOnly]="isProductReadOnly()"></gg-editor>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-3 vcenter">{{'PRODUCT.LABEL.PACKAGE' | translate}}</div>
						<div class="col-sm-6 vcenter">
							<gg-editor [content]="product.data.package" [showControls]="true" (editSaved)="packageUpdated($event)" [readOnly]="isProductReadOnly()"></gg-editor>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-3 vcenter">{{'PRODUCT.LABEL.CATALOG NR' | translate}}</div>
						<div class="col-sm-6 vcenter">
							<gg-editor [content]="product.data.catalogNr" [showControls]="true" (editSaved)="catalogNrUpdated($event)" [readOnly]="isProductReadOnly()"></gg-editor>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-3 vcenter">{{'PRODUCT.LABEL.PRICE' | translate}}</div>
						<div class="col-sm-6 vcenter">
							<gg-editor [content]="product.data.price" [showControls]="true" [isMonetary]="true" (editSaved)="priceProdUpdated($event)"
							 [readOnly]="isProductReadOnly()"></gg-editor>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-3 vcenter">{{'PRODUCT.LABEL.NO OF ARTICLE' | translate}}</div>
						<div class="col-sm-6 vcenter">
							<gg-editor [content]="product.data.noArticle" [showControls]="true" (editSaved)="noArticleUpdated($event)" [readOnly]="isProductReadOnly()"></gg-editor>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-3 vcenter">{{'PRODUCT.LABEL.GROUP MARCHANDISE' | translate}}</div>
						<div class="col-sm-6 vcenter">
							<gg-editor [content]="product.data.groupMarch" [showControls]="true" (editSaved)="groupMarchUpdated($event)" [readOnly]="isProductReadOnly()"></gg-editor>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-3 vcenter">{{'PRODUCT.LABEL.VAT' | translate}}</div>
						<div class="col-sm-6 vcenter">
							<gg-editor-number [content]="product.data.tva" (editSaved)="tvaUpdated($event)" [readOnly]="isProductReadOnly()"></gg-editor-number>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-3 vcenter">{{'PRODUCT.LABEL.SUPPLIER' | translate}}</div>
						<div class="col-sm-6 vcenter">{{product.annotation.supplierName}}</div>
					</div>
					<div class="row">
						<div class="col-sm-3 vcenter">{{'PRODUCT.LABEL.CATEGORIES' | translate}}</div>
						<div class="col-sm-6 vcenter">
							<gg-selector [selectableData]="selectableCategoriesObservable" [selectedIds]="selectedCategoryIdsObservable" (selectionChanged)="categorySelectionChanged($event)"
							 (selectionOptionAdded)="categoryHasBeenAdded($event)" [readOnly]="isProductReadOnly()"></gg-selector>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-3">{{'PRODUCT.LABEL.FREQUENCE' | translate}}</div>
						<div class="col-sm-6">{{product.annotation.productFrequence}}</div>
					</div>
                    <div class="row">
						<div class="col-sm-3 vcenter">{{'PRODUCT.LABEL.LABORATORY SPECIFIC' | translate}}</div>
						<div class="col-sm-6 vcenter">
							<gg-editor-boolean [content]="product.data.isLabo" (editSaved)="isLabUpdated($event)" [readOnly]="!isLaboSpecificChangePossible()"></gg-editor-boolean>
						</div>
					</div>					
					<div class="row">
						<div class="col-sm-3 vcenter">{{'PRODUCT.LABEL.IS DISABLED' | translate}}</div>
						<div class="col-sm-6 vcenter">
							<gg-editor-boolean [content]="product.data.disabled" (editSaved)="disablUpdated($event)" [readOnly]="isProductReadOnly()"></gg-editor-boolean>
						</div>
					</div>
					<div class="row" ngbTooltip="Define here if encoding the lot number might be needed at delivery for this product">
						<div class="col-sm-3 vcenter">{{'PRODUCT.LABEL.MAY ENCODING NUMBER' | translate}}</div>
						<div class="col-sm-6 vcenter">
							<gg-editor-boolean [content]="product.data.needsLotNumber" (editSaved)="needsLotNumberUpdated($event)" [readOnly]="isProductReadOnly()"></gg-editor-boolean>
						</div>
					</div>
					<div class="row" ngbTooltip="Define here if this product might potentially be resold from the stock">
						<div class="col-sm-3 vcenter">{{'PRODUCT.LABEL.MAY RESOLD STOCK' | translate}}</div>
						<div class="col-sm-6 vcenter">
							<gg-editor-boolean [content]="product.data.isStock" (editSaved)="isStockUpdated($event)" [readOnly]="isProductReadOnly()"></gg-editor-boolean>
						</div>
					</div>
					<div *ngIf="product.data.isStock == true">
						<div class="row" ngbTooltip="If for example you buy a box with 80 unities... But from the stock,it is resold by 10 unities... Then the division factor will be 8. The default is: 1.">
							<div class="col-sm-3 vcenter">{{'PRODUCT.LABEL.DIVISION FACTOR STOCK' | translate}}</div>
							<div class="col-sm-6 vcenter">
								<gg-editor-number [content]="product.data.divisionFactor" (editSaved)="divisionFactorUpdated($event)" [readOnly]="isProductReadOnly()"></gg-editor-number>
							</div>
						</div>
						<div class="row" [style.color]="product.data.divisionFactor===1 || product.data.stockPackage ? 'black' : 'red'" ngbTooltip="Enter here a text that the user will see when buying from the stock. For example: '10 unities' Needed in particular when the division factor is different from 1">
							<div class="col-sm-3 vcenter">{{'PRODUCT.LABEL.STOCK PACKAGING' | translate}}</div>
							<div class="col-sm-6 vcenter">
								<gg-editor [content]="product.data.stockPackage" [showControls]="true" (editSaved)="stockPackageUpdated($event)" [readOnly]="isProductReadOnly()"></gg-editor>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-3 vcenter">{{'PRODUCT.LABEL.FRIGO' | translate}}</div>
						<div class="col-sm-6 vcenter">
							<img [ngbTooltip]="tipContentFrigo" *ngIf="product.data.isFrigo && authorizationStatusInfo.isAdministrator()" height="25"
							 width="25" src="../../images/refrigator.png" (click)="saveFrigoProperty($event, product, false)" />
							<img *ngIf="product.data.isFrigo && !authorizationStatusInfo.isAdministrator()" height="25" width="25" src="../../images/refrigator.png"
							/>
							<img *ngIf="!product.data.isFrigo && authorizationStatusInfo.isAdministrator()" class="invisible-without-hover" height="25"
							 width="25" src="../../images/ok.png" (click)="saveFrigoProperty($event, product, true)" />
						</div>
					</div>

					<div class="row" *ngIf="!configService.isProduction()">
						<div class="col-sm-3">_id:</div>
						<div class="col-sm-6">{{product.data._id}}</div>
					</div>

				</div>
			</div>
		</template>
	</ngb-tab>
	<ngb-tab id="tabDoubleProducts" *ngIf="hasProductDoubles">
		<template ngbTabTitle><span style="color: indianred">{{'PRODUCT.MENU.DUPLICATE CATALOG NR' | translate}}</span>
			<gg-help-pointer [helpText]="'Here you can see the other products with the same catalog number.'"></gg-help-pointer>
		</template>
		<template ngbTabContent>
			<div class="card">
				<div class="card-block">
					<gg-product-list [productsObservable]="doubleProductsObservable" [state]="state.DoubleProducts" [path]="path+'|O:DoubleProducts'"
					 (stateChanged)="childDoubleProductsStateChanged($event)"></gg-product-list>
				</div>
			</div>
		</template>
	</ngb-tab>
	<ngb-tab title="{{'PRODUCT.MENU.PUT INTO BASKET' | translate}}" id="tabBasket" *ngIf="!authorizationStatusInfo.isPassiveUser() && product.annotation.hasCurrentUserPermissionToShop && !product.data.isFrigo  && !product.data.disabled">
		<template ngbTabContent>
			<div class="card">
				<div class="card-block">
					<div class="row">
						<div class="col-sm-3 vcenter">{{'PRODUCT.LABEL.ALREADY BASKET' | translate}}</div>
						<div class="col-sm-6 vcenter">
							<gg-editor-number [content]="product.annotation.quantity" (editSaved)="quantityBasketUpdated($event)"></gg-editor-number>
						</div>
					</div>
					<div class="row" *ngIf="product.annotation.quantity > 0">
						<button class="btn btn-warning" (click)="gotoPreOrder()">Proceed to Checkout</button>
					</div>
				</div>
			</div>
		</template>
	</ngb-tab>
	<ngb-tab title="{{'PRODUCT.MENU.PERMISSIONS' | translate}}" id="tabPermissions" *ngIf="authorizationStatusInfo && authorizationStatusInfo.isAdministrator()">
		<template ngbTabContent>
			<div class="card">
				<div class="card-block">
					<div class="row">
						<div class="col-sm-3 vcenter">{{'PRODUCT.LABEL.RESTRICTED FOLLOWING USERS' | translate}}</div>
						<div class="col-sm-6 vcenter">
							<gg-selector [selectableData]="selectableUsers" [selectedIds]="selectedUserIdsObservable" (selectionChanged)="userSelectionChanged($event)"></gg-selector>
						</div>
					</div>
				</div>
			</div>
		</template>
	</ngb-tab>
	<ngb-tab title="{{'PRODUCT.MENU.COMMENTS' | translate}}" id="tabComments">
		<template ngbTabContent>
			<gg-comments [comments]="product.data.comments" (commentsUpdated)="commentsUpdated($event)"></gg-comments>
		</template>
	</ngb-tab>
	<ngb-tab title="{{'PRODUCT.MENU.ORDERS' | translate}}" id="tabOrders">
		<template ngbTabContent>
			<gg-order-list [ordersObservable]="ordersObservable" [state]="state.Orders" [path]="path+'|O:Orders'" (stateChanged)="childOrdersStateChanged($event)"></gg-order-list>
		</template>
	</ngb-tab>
	<ngb-tab title="{{'PRODUCT.MENU.SERVICE SNAPSHOT ASSOCIATED' | translate}}" id="tabServiceSnapshot" *ngIf="serviceSnapshot">
		<template ngbTabContent>
			<div class="card">
				<div class="card-block">
					<gg-platform-service-snapshot-detail [snapshot]="serviceSnapshot"></gg-platform-service-snapshot-detail>
				</div>
			</div>
		</template>
	</ngb-tab>
	<ngb-tab title="{{'PRODUCT.MENU.PRICE HISTORY' | translate}}" id="tabPriceHistory" *ngIf="product.annotation.priceUpdates && product.annotation.priceUpdates.length > 0">
		<template ngbTabContent>
			<div class="card">
				<div class="card-block">
					<div class="row">
						<div class="col-sm-3 vcenter"><b>{{'PRODUCT.COLUMN.WHEN' | translate}}</b></div>
						<div class="col-sm-3 vcenter"><b>{{'PRODUCT.COLUMN.WHO' | translate}}</b></div>
						<div class="col-sm-2 vcenter"><b>{{'PRODUCT.COLUMN.FROM' | translate}}</b></div>
						<div class="col-sm-1 vcenter"><b>{{'PRODUCT.COLUMN.TO' | translate}}</b></div>
					</div>
					<div *ngFor="let priceHistory of product.annotation.priceUpdates">
						<div class="row">
							<div class="col-sm-3 vcenter">{{priceHistory.data.date}}</div>
							<div class="col-sm-3 vcenter">{{priceHistory.annotation.user}}</div>
							<div class="col-sm-2 vcenter">{{priceHistory.data.oldPrice | currency:'EUR':true:'1.2-2'}}</div>
							<div class="col-sm-3 vcenter">{{priceHistory.data.newPrice | currency:'EUR':true:'1.2-2'}}</div>
						</div>
					</div>
				</div>
			</div>
		</template>
	</ngb-tab>
	<ngb-tab title="{{'PRODUCT.MENU.CHANGE HISTORY' | translate}}" id="tabChangeHistory" *ngIf="authorizationStatusInfo && authorizationStatusInfo.isProgrammer() && product.data.history && product.data.history.length > 0">
		<template ngbTabContent>
			<div class="card">
				<div class="card-block">
					<div class="row">
						<div class="col-sm-2 vcenter"><b>{{'PRODUCT.COLUMN.WHEN' | translate}}</b></div>
						<div class="col-sm-2 vcenter"><b>{{'PRODUCT.COLUMN.WHO' | translate}}</b></div>
						<div class="col-sm-2 vcenter"><b>{{'PRODUCT.COLUMN.WHAT' | translate}}</b></div>
						<div class="col-sm-2 vcenter"><b>{{'PRODUCT.COLUMN.FROM' | translate}}</b></div>
						<div class="col-sm-2 vcenter"><b>{{'PRODUCT.COLUMN.TO' | translate}}</b></div>
					</div>
					<div *ngFor="let change of product.data.history">
						<div class="row">
							<div class="col-sm-2 vcenter">{{change.date}}</div>
							<div class="col-sm-2 vcenter">{{change.userId}}</div>
							<div class="col-sm-2 vcenter">{{change.event}}</div>
							<div class="col-sm-2 vcenter">{{(change.oldValue || '').toString()}}</div>
							<div class="col-sm-2 vcenter">{{(change.newValue || '').toString()}}</div>
						</div>
					</div>
				</div>
			</div>
		</template>
	</ngb-tab>
	<ngb-tab id="tabMax">
		<template ngbTabTitle><img src="../../images/maximize.png" [ngbPopover]="popContent" triggers="mouseenter:mouseleave" /></template>
		<template ngbTabContent></template>
	</ngb-tab>
	<ngb-tab id="gotoTop" *ngIf="!isRoot && path!=='dashboard'">
		<template ngbTabTitle><img src="../../images/gototop.png" ngbPopover="Goto top of the page" triggers="mouseenter:mouseleave" /></template>
		<template ngbTabContent></template>
	</ngb-tab>

</ngb-tabset>