<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-2">
                <ul class="list-group">
                    <li class="list-group-item">
                        <button type="button" [disabled]="!backInfo.enabled" (click)="goBack()" class="btn btn-link nounderline" >{{backInfo.text || 'Back'}}</button>                        
                    </li>
                    <li class="list-group-item">
                        <button type="button" [disabled]="!nextInfo.enabled" (click)="goNext()" class="btn btn-link nounderline" >{{nextInfo.text || 'Continue'}}</button>                        
                    </li>
                </ul>
            </div>
            <div class="col-sm-10">
                <div class="card">
                    <div class="card-body" style="height: 500px">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>