<div class="card">
    <br>
    <form [formGroup]="frmStockOrder" (ngSubmit)="save(frmStockOrder.value, frmStockOrder.valid)">
        <div class="row">
            <div class="col-sm-3"><b>product</b></div>
            <div class="col-sm-2"><b>available</b></div>
            <div class="col-sm-2"><b>qty I already ordered</b></div>
        </div>
        <div class="row">

            <div class="col-sm-3 imgSearch" (click)="navigateToProduct()">{{product.values[0].annotation.product}}</div>
            <div class="col-sm-2">{{getNbAvailable()}}</div>
            <div class="col-sm-2" [style.color]="product.values[0].annotation.nbReservedByMe == 0 ? 'black' : 'red'">{{product.values[0].annotation.nbReservedByMe}}</div>
            <div class="col-sm-2">                
                <input type="number" min="0" [max]="getNbOrderable()" formControlName="quantity" />
                <span *ngIf="getNbOrderable() <= 0">You cannot order more!</span>
            </div>
            <div class="col-sm-3 col-md-2 col-lg-2" *ngIf="getNbOrderable() > 0">
                <button class="btn btn-success" type="submit" [disabled]="!frmStockOrder.valid" *ngIf="product.values[0].annotation.nbReservedByMe==0">Send request</button>
                <button class="btn btn-danger" type="submit" [disabled]="!frmStockOrder.valid" *ngIf="product.values[0].annotation.nbReservedByMe>0" [ngbTooltip]="'You have already ordered ' + product.values[0].annotation.nbReservedByMe ">Send request for more</button>
            </div>
        </div>
    </form>

</div>