<ngb-tabset #tabset (tabChange)="beforeTabChange($event)" [activeId]="state.selectedTabId">
    <!--TABSET-->
    <ngb-tab title="{{'STOCK.MENU.ORDER PRODUCTS' | translate}}" id="tabOrder">
        <template ngbTabContent>
            <div class="card">
                <div class="card-block">
                    <gg-stock-product-enter [productObservable]="productObservable"></gg-stock-product-enter>
                </div>
            </div>
        </template>
    </ngb-tab>
    <ngb-tab title="{{'STOCK.MENU.DETAILS' | translate}} {{hasManualChanges() ? ' (has manual changes!!!)' : ''}}" id="tabLots" *ngIf="authorizationStatusInfo && authorizationStatusInfo.isAdministrator()">
        <template ngbTabContent>
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-2 vcenter"><b>{{'STOCK.COLUMN.PACKAGE' | translate}}</b></div>
                        <div class="col-sm-1 vcenter"><b>{{'STOCK.COLUMN.DIVISION FACTOR' | translate}}</b></div>
                        <div class="col-sm-2 vcenter"><b>{{'STOCK.COLUMN.LOT' | translate}}</b></div>
                        <div class="col-sm-2 vcenter"><b>{{'STOCK.COLUMN.QTY RECEIVED' | translate}}</b></div>
                        <div class="col-sm-2 vcenter"><b>{{'STOCK.COLUMN.QTY SOLD' | translate}}</b></div>
                    </div>
                    <div *ngFor="let stockProduct of stockProducts">
                        <!--FOR in StockProducts-->
                        <div class="row">
                            <div class="col-sm-2 vcenter">
                                {{stockProduct.data.package}}
                            </div>
                            <div class="col-sm-1 vcenter">
                                {{stockProduct.data.divisionFactor}}
                            </div>
                            <div class="col-sm-2 vcenter">
                                {{stockProduct.data.lotNumber}}
                            </div>
                            <div class="col-sm-2 vcenter">
                                <gg-editor-number [content]="stockProduct.data.quantity" [readOnly]="!authorizationStatusInfo || !authorizationStatusInfo.isProgrammer()"
                                    (editSaved)="stockQuantitySaved(stockProduct, $event)"> </gg-editor-number>

                            </div>
                            <div class="col-sm-2 vcenter">
                                {{stockProduct.annotation.nbSold}}
                            </div>
                            <div class="col-sm-2 vcenter">
                                <button type="button" class="btn btn-link" (click)="stockProduct.annotation.isClosed=!stockProduct.annotation.isClosed">Show/hide quantity history {{(stockProduct.data.manualChanges || []).length < 1 ? '' : (' (' + stockProduct.data.manualChanges.length + ' manual changes)') }}</button>
                            </div>
                        </div>

                        <div class="row" [ngbCollapse]="!stockProduct.annotation.isClosed">

                            <ngb-tabset>
                                <!--TABSET-->
                                <ngb-tab title="{{'STOCK.MENU.QUANTITIES RECEIVED DELIVERY' | translate}}">
                                    <template ngbTabContent>
                                        <div class="card">
                                            <div class="card-block">

                                                <div class="col-sm-12 col-md-12">
                                                    <div class="card">
                                                        <div class="row">
                                                            <div class="col-sm-2 col-md-2 vcenter">{{'STOCK.COLUMN.WHEN' | translate}}</div>
                                                            <div class="col-sm-2 col-md-2 vcenter">{{'STOCK.COLUMN.WHO ADDED THEM' | translate}}</div>
                                                            <div class="col-sm-2 col-md-2 vcenter">{{'STOCK.COLUMN.FROM WHICH ORDER' | translate}}</div>
                                                            <div class="col-sm-2 col-md-2 vcenter">{{'STOCK.COLUMN.HOW MANY ADDED' | translate}}</div>
                                                        </div>
                                                        <div class="card">
                                                            <div class="row" *ngFor="let historyItem of stockProduct.data.history">
                                                                <!--FOR in History items (we are in a praticular StockProduct) -->
                                                                <div class="col-sm-2 col-md-2 vcenter">
                                                                    <gg-date-pointer [date]="historyItem.date"></gg-date-pointer>
                                                                </div>
                                                                <div class="col-sm-2 col-md-2 vcenter">{{getUserName(historyItem.userId)}}</div>
                                                                <div class="col-sm-2 col-md-2 vcenter">{{getOrderId(historyItem.orderId)}}</div>
                                                                <div class="col-sm-2 col-md-2 vcenter">
                                                                    <gg-editor-number [content]="historyItem.quantity" [readOnly]="true">
                                                                    </gg-editor-number>
                                                                </div>

                                                                <div class="col-sm-2  col-md-2 vcenter" *ngIf="authorizationStatusInfo && authorizationStatusInfo.isProgrammer()">
                                                                    <input type="checkbox" [ngbTooltip]="'Dont use this, if you are not Alex! Click here to select the item for deletion'" *ngIf="!historyItem.isDueToDelete"
                                                                        (click)="historyItem.isDueToDelete= !historyItem.isDueToDelete"
                                                                    />
                                                                    <div class="btn btn-warning btn-sm" ngbTooltip="Careful! This will delete the selected item and can't be undone. Click here if you are sure you want to delete it."
                                                                        *ngIf="historyItem.isDueToDelete" (click)="deteteHistoryItem(stockProduct, historyItem)">Delete</div>
                                                                    <div class="btn btn-success btn-sm" *ngIf="historyItem.isDueToDelete" (click)="historyItem.isDueToDelete= !historyItem.isDueToDelete">Cancel</div>
                                                                </div>
                                                            </div>


                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </template>
                                </ngb-tab>
                                <ngb-tab title="{{'STOCK.MENU.QUANTITIES LOST SALES' | translate}}">
                                    <template ngbTabContent>
                                        <div class="card">
                                            <div class="card-block">

                                                <div class="col-sm-12 col-md-12">
                                                    <div class="card">
                                                        <div class="row">
                                                            <div class="col-sm-2 col-md-2 vcenter">{{'STOCK.COLUMN.WHEN' | translate}}</div>
                                                            <div class="col-sm-2 col-md-2 vcenter">{{'STOCK.COLUMN.WHO BOUGHT THEM' | translate}}</div>
                                                            <div class="col-sm-2 col-md-2 vcenter">{{'STOCK.COLUMN.HOW MANY BOUGHT' | translate}}</div>
                                                        </div>
                                                                            <div class="card" *ngIf="(stockProduct.data.sales || []).length === 0">
                                                                                <div class="card-block">
                                                                                    <div class="centertextbox">{{'STOCK.LABEL.NO SALE YET' | translate}}</div>
                                                                                </div>
                                                                            </div>
                                                        
                                                        <div class="card" *ngIf="(stockProduct.data.sales || []).length !== 0">
                                                            <div class="row" *ngFor="let historyItem of stockProduct.data.sales">
                                                                <!--FOR in Sale items (we are in a particular StockProduct) -->
                                                                <div class="col-sm-2 col-md-2 vcenter">
                                                                    <gg-date-pointer [date]="historyItem.date"></gg-date-pointer>
                                                                </div>
                                                                <div class="col-sm-2 col-md-2 vcenter">{{getUserName(historyItem.userId)}}</div>
                                                                <div class="col-sm-2 col-md-2 vcenter">
                                                                    <gg-editor-number [content]="historyItem.quantity" [readOnly]="true">
                                                                    </gg-editor-number>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </template>
                                </ngb-tab>
                                <ngb-tab title="{{'STOCK.MENU.MANUAL CORRECTIONS QUANTITIES' | translate}} {{(stockProduct.data.manualChanges || []).length < 1 ? '' : (' (' + stockProduct.data.manualChanges.length + ')') }}">
                                    <template ngbTabContent>
                                        <div class="card">
                                            <div class="card-block">

                                                <ngb-tabset>
                                                    <!--TABSET-->
                                                    <ngb-tab title="{{'STOCK.MENU.HISTORY MANUAL CORRECTIONS' | translate}}">
                                                        <template ngbTabContent>
                                                            <div class="card">
                                                                <div class="card-block">
                                                                    <div class="col-sm-12 col-md-12">
                                                                        <div class="card">
                                                                            <div class="row">
                                                                                <div class="col-sm-2 col-md-2 vcenter">{{'STOCK.COLUMN.WHEN' | translate}}</div>
                                                                                <div class="col-sm-2 col-md-2 vcenter">{{'STOCK.COLUMN.WHO ENTERED CHANGE' | translate}}</div>
                                                                                <div class="col-sm-3 col-md-3 vcenter">{{'STOCK.COLUMN.HOW MANY MANUALLY ADDED' | translate}}</div>
                                                                                <div class="col-sm-4 vcenter">{{'STOCK.COLUMN.WHY' | translate}}</div>
                                                                            </div>
                                                                            <div class="card" *ngIf="(stockProduct.data.manualChanges || []).length === 0">
                                                                                <div class="card-block">
                                                                                    <div class="centertextbox">{{'STOCK.LABEL.NO MANUAL CHANGE YET' | translate}}</div>
                                                                                </div>
                                                                            </div>
                                                                            
                                                                            <div class="card" *ngIf="(stockProduct.data.manualChanges || []).length !== 0">
                                                                                <div class="row" *ngFor="let historyItem of stockProduct.data.manualChanges">
                                                                                    <!--FOR in Manual Changes items (we are in a particular StockProduct) -->
                                                                                    <div class="col-sm-2 col-md-2 vcenter">
                                                                                        <gg-date-pointer [date]="historyItem.date"></gg-date-pointer>
                                                                                    </div>
                                                                                    <div class="col-sm-2 col-md-2 vcenter">{{getUserName(historyItem.userId)}}</div>
                                                                                    <div class="col-sm-3 col-md-3 vcenter">
                                                                                        <gg-editor-number [content]="historyItem.quantity" [readOnly]="true">
                                                                                        </gg-editor-number>
                                                                                    </div>
                                                                                    <div class="col-sm-4 vcenter">{{historyItem.comment}}</div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </template>
                                                    </ngb-tab>
                                                    <ngb-tab title="{{'STOCK.MENU.ENTER MANUAL CORRECTION' | translate}}">
                                                        <template ngbTabContent>
                                                            <div class="card">
                                                                <div class="card-block">


                                                                    <form [formGroup]="manualQuantityForm" (ngSubmit)="saveQuantityForm(stockProduct, manualQuantityForm.value, manualQuantityForm.valid)">
                                                                        <!--FORM-->
                                                                        <div class="form-group row">
                                                                            <label for="name" class="col-sm-3">{{'STOCK.LABEL.WHY WE CHANGE QUANTITY' | translate}}</label>
                                                                            <div class="col-sm-9">
                                                                                <input type="text" class="form-control" formControlName="comment" placeholder="comment/explication">
                                                                            </div>
                                                                        </div>

                                                                        <div class="form-group row">
                                                                            <label class="col-sm-3">{{'STOCK.LABEL.QUANTITY CHANGE' | translate}}</label>
                                                                            <div class="col-sm-9">
                                                                                <input type="number" class="form-control" formControlName="quantityIncrement" placeholder="quantity increment. Ex.: -10">
                                                                            </div>
                                                                        </div>



                                                                        <div class="form-group row">
                                                                            <div class="col-sm-3 col-md-2 col-lg-2">
                                                                                <button class="btn btn-success" type="submit" [disabled]="!manualQuantityForm.valid">{{'FORM.SUBMIT' | translate}}</button>
                                                                            </div>
                                                                            <div class="col-sm-3 col-md-2 col-lg-2">
                                                                                <button class="btn btn-info" [disabled]="manualQuantityForm.pristine" (click)="resetForm()">{{'FORM.RESET' | translate}}</button>
                                                                            </div>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </template>
                                                    </ngb-tab>
                                                </ngb-tabset>

                                            </div>
                                        </div>

                                    </template>
                                </ngb-tab>



                            </ngb-tabset>




                        </div>
                    </div>
                </div>
            </div>
        </template>
    </ngb-tab>
</ngb-tabset>