<ngb-tabset #tabset *ngIf="order" (tabChange)="beforeTabChange($event)" [activeId]="state.selectedTabId">
    <ngb-tab title="{{'STOCK.MENU.INFO' | translate}}" id="tabInfo">
        <template ngbTabContent>
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-2">{{'STOCK.LABEL.DATE' | translate}}</div>
                        <div class="col-sm-6">{{order.data.createDate | fullDate}}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">{{'STOCK.LABEL.ORDERED BY' | translate}}</div>
                        <div class="col-sm-6">{{order.annotation.user}} / {{order.annotation.equipe}}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">{{'STOCK.LABEL.ORDERED PRODUCT' | translate}}</div>
                        <div class="col-sm-6 imgSearch" (click)="navigateToProduct()">{{order.annotation.product}} </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">{{'STOCK.LABEL.CATALOG NUMBER' | translate}}</div>
                        <div class="col-sm-6 imgSearch" (click)="navigateToProduct()">{{order.annotation.catalogNr}} </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">{{'STOCK.LABEL.QUANTITY' | translate}}</div>
                        <div class="col-sm-6">{{order.data.quantity}}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">{{'STOCK.LABEL.STATUS' | translate}}</div>
                        <div class="col-sm-6" [style.color]="order.data.isProcessed ? 'magenta' : 'black'">{{order.data.isProcessed ? 'processed' : 'pending'}}</div>
                    </div>
                </div>
            </div>
        </template>
    </ngb-tab>

	<ngb-tab id="tabComments">
		<template ngbTabTitle>
			<gg-comments-tab-title [data]="order.data"></gg-comments-tab-title>
		</template>
		<template ngbTabContent>
			<gg-comments-tab [data]="order.data" [dbTable]="'orders.stock'"></gg-comments-tab>
		</template>
	</ngb-tab>

	<ngb-tab title="{{'STOCK.MENU.DELETE' | translate}}" id="tabDelete" *ngIf="authorizationStatusInfo?.isAdministrator() && !order.data.isProcessed && !isBlocked">
		<template ngbTabContent>
            <div class="card">
                <div class="card-block">
                    <gg-button-action-confirm (doAction)="deleteOrder()" [typeObjectKey]="'GENERAL.OBJECT.ORDER'" [typeActionKey]="'GENERAL.ACTION.DELETE'"></gg-button-action-confirm>
                </div>
            </div>			
		</template>
	</ngb-tab>    
    <ngb-tab title="{{'STOCK.MENU.PROCESS ORDER' | translate}}" id="tabProcessOrder" *ngIf="authorizationStatusInfo?.isAdministrator() && !order.data.isProcessed && !isBlocked">
        <template ngbTabContent>
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-2"><b>{{'STOCK.LABEL.ORDER PROCESSED' | translate}}</b></div>
                        <div class="col-sm-3">{{order.data.isProcessed ? 'yes' : 'no'}}</div>
                    </div>

                    <div *ngIf="((stockItemsObservable |async) || []).length>0" >
                        <div class="row">
                            <div class="col-sm-3"><b>{{'STOCK.COLUMN.LOT NUMBER' | translate}}</b></div>
                            <div class="col-sm-3"><b>{{'STOCK.COLUMN.AVAILABLE' | translate}}</b></div>
                        </div>
                        <form [formGroup]="frmStockOrder" (ngSubmit)="save(frmStockOrder.value, frmStockOrder.valid)">
                            <div *ngFor="let stockItem of stockItemsObservable | async" class="row">
                                <div class="col-sm-3">{{stockItem.annotation.lotNb || '(no lot number)'}}</div>
                                <div class="col-sm-3">{{stockItem.annotation.nbAvailable}}</div>
                                <div class="col-sm-3">
                                    <input type="number" min="0" [max]="stockItem.annotation.nbAvailable" [formControlName]="stockItem.data._id" />
                                </div>
                            </div>
                            <div class="row" *ngIf="!order.data.isProcessed">
                                <div class="col-sm-4">
                                    <button class="btn btn-success" type="submit" [disabled]="!frmStockOrder.valid">Submit and set order as 'processed'</button>
                                </div>
                                <div class="col-sm-3" *ngIf="!isProcessFormOK">
                                    <span style="color:red">Your request has not been saved! Try again.</span>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div *ngIf="((stockItemsObservable |async) || []).length <= 0" >
                        <span style="color:red">There is no product in the stock for this command. Please buy some of these products and advise {{order.annotation.user}}!</span>
                    </div>

                </div>
            </div>
        </template>
    </ngb-tab>
    <ngb-tab title="{{'STOCK.MENU.PROCESS ORDER DETAIL' | translate}}" id="tabProcessOrderItems" *ngIf="order.data.isProcessed && order.annotation.orderProcessItems && order.annotation.orderProcessItems.length > 0">
        <template ngbTabContent>
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-3"><b>{{'STOCK.COLUMN.WHEN' | translate}}</b></div>
                        <div class="col-sm-3"><b>{{'STOCK.COLUMN.FROM LOT NB' | translate}}</b></div>
                        <div class="col-sm-3"><b>{{'STOCK.COLUMN.QUANTITY' | translate}}</b></div>
                    </div>

                    <div *ngFor="let orderProcessItem of order.annotation.orderProcessItems" class="row">
                        <div class="col-sm-3">{{orderProcessItem.date | fullDate}}</div>
                        <div class="col-sm-3">{{orderProcessItem.lotNb}}</div>
                        <div class="col-sm-3">{{orderProcessItem.quantity}}</div>                        
                    </div>

                </div>
            </div>
        </template>
    </ngb-tab>
    
</ngb-tabset>