<div id="GGTOP"></div>
<div class="card">
	<div class="card-block">
		<ngb-tabset *ngIf="authorizationStatusInfo && authorizationStatusInfo.isLoggedIn" [activeId]="initTabId">
			<ngb-tab title="Put an order from stock" id="tabAvailable">
				<template ngbTabContent>
                    <gg-stock-list [productsObservable]= "productsObservable"></gg-stock-list>
				</template>
			</ngb-tab>
			<ngb-tab title="Orders" id="tabOrders" >
				<template ngbTabContent>
                    <gg-stock-order-list [ordersObservable]="ordersObservable"></gg-stock-order-list>
				</template>
			</ngb-tab>
		</ngb-tabset>
		<h4 *ngIf="authorizationStatusInfo && !authorizationStatusInfo.isLoggedIn">sorry: you are not logged in</h4>
	</div>
</div>            