<ngb-tabset #tabset (tabChange)="beforeTabChange($event)" [activeId]="state.selectedTabId">
    <!--TABSET-->
    <ngb-tab title="Order products" id="tabOrder">
        <template ngbTabContent>
            <div class="card">
                <div class="card-block">
                    <gg-stock-product-enter [productObservable]="productObservable"></gg-stock-product-enter>
                </div>
            </div>
        </template>
    </ngb-tab>
    <ngb-tab title="Details {{hasManualChanges() ? ' (has manual changes!!!)' : ''}}" id="tabLots" *ngIf="authorizationStatusInfo && authorizationStatusInfo.isAdministrator()">
        <template ngbTabContent>
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-2 vcenter"><b>Package</b></div>
                        <div class="col-sm-1 vcenter"><b>Division factor</b></div>
                        <div class="col-sm-2 vcenter"><b>Lot</b></div>
                        <div class="col-sm-2 vcenter"><b>Qty received</b></div>
                        <div class="col-sm-2 vcenter"><b>Qty sold</b></div>
                    </div>
                    <div *ngFor="let stockProduct of stockProducts">
                        <!--FOR in StockProducts-->
                        <div class="row">
                            <div class="col-sm-2 vcenter">
                                {{stockProduct.data.package}}
                            </div>
                            <div class="col-sm-1 vcenter">
                                {{stockProduct.data.divisionFactor}}
                            </div>
                            <div class="col-sm-2 vcenter">
                                {{stockProduct.data.lotNumber}}
                            </div>
                            <div class="col-sm-2 vcenter">
                                <gg-editor-number [content]="stockProduct.data.quantity" [readOnly]="!authorizationStatusInfo || !authorizationStatusInfo.isProgrammer()"
                                    (editSaved)="stockQuantitySaved(stockProduct, $event)"> </gg-editor-number>

                            </div>
                            <div class="col-sm-2 vcenter">
                                {{stockProduct.annotation.nbSold}}
                            </div>
                            <div class="col-sm-2 vcenter">
                                <button type="button" class="btn btn-link" (click)="stockProduct.annotation.isClosed=!stockProduct.annotation.isClosed">Show/hide quantity history {{(stockProduct.data.manualChanges || []).length < 1 ? '' : (' (' + stockProduct.data.manualChanges.length + ' manual changes)') }}</button>
                            </div>
                        </div>

                        <div class="row" [ngbCollapse]="!stockProduct.annotation.isClosed">

                            <ngb-tabset>
                                <!--TABSET-->
                                <ngb-tab title="Quantities received from delivery">
                                    <template ngbTabContent>
                                        <div class="card">
                                            <div class="card-block">

                                                <div class="col-sm-12 col-md-12">
                                                    <div class="card">
                                                        <div class="row">
                                                            <div class="col-sm-2 col-md-2 vcenter">When?</div>
                                                            <div class="col-sm-2 col-md-2 vcenter">Who added them?</div>
                                                            <div class="col-sm-2 col-md-2 vcenter">From which Order</div>
                                                            <div class="col-sm-2 col-md-2 vcenter">How many added</div>
                                                        </div>
                                                        <div class="card">
                                                            <div class="row" *ngFor="let historyItem of stockProduct.data.history">
                                                                <!--FOR in History items (we are in a praticular StockProduct) -->
                                                                <div class="col-sm-2 col-md-2 vcenter">
                                                                    <gg-date-pointer [date]="historyItem.date"></gg-date-pointer>
                                                                </div>
                                                                <div class="col-sm-2 col-md-2 vcenter">{{getUserName(historyItem.userId)}}</div>
                                                                <div class="col-sm-2 col-md-2 vcenter">{{getOrderId(historyItem.orderId)}}</div>
                                                                <div class="col-sm-2 col-md-2 vcenter">
                                                                    <gg-editor-number [content]="historyItem.quantity" [readOnly]="true">
                                                                    </gg-editor-number>
                                                                </div>

                                                                <div class="col-sm-2  col-md-2 vcenter" *ngIf="authorizationStatusInfo && authorizationStatusInfo.isProgrammer()">
                                                                    <input type="checkbox" [ngbTooltip]="'Dont use this, if you are not Alex! Click here to select the item for deletion'" *ngIf="!historyItem.isDueToDelete"
                                                                        (click)="historyItem.isDueToDelete= !historyItem.isDueToDelete"
                                                                    />
                                                                    <div class="btn btn-warning btn-sm" ngbTooltip="Careful! This will delete the selected item and can't be undone. Click here if you are sure you want to delete it."
                                                                        *ngIf="historyItem.isDueToDelete" (click)="deteteHistoryItem(stockProduct, historyItem)">Delete</div>
                                                                    <div class="btn btn-success btn-sm" *ngIf="historyItem.isDueToDelete" (click)="historyItem.isDueToDelete= !historyItem.isDueToDelete">Cancel</div>
                                                                </div>
                                                            </div>


                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </template>
                                </ngb-tab>
                                <ngb-tab title="Quantities lost to sales">
                                    <template ngbTabContent>
                                        <div class="card">
                                            <div class="card-block">

                                                <div class="col-sm-12 col-md-12">
                                                    <div class="card">
                                                        <div class="row">
                                                            <div class="col-sm-2 col-md-2 vcenter">When?</div>
                                                            <div class="col-sm-2 col-md-2 vcenter">Who bought them?</div>
                                                            <div class="col-sm-2 col-md-2 vcenter">How many bought</div>
                                                        </div>
                                                                            <div class="card" *ngIf="(stockProduct.data.sales || []).length === 0">
                                                                                <div class="card-block">
                                                                                    <div class="centertextbox">No sale yet</div>
                                                                                </div>
                                                                            </div>
                                                        
                                                        <div class="card" *ngIf="(stockProduct.data.sales || []).length !== 0">
                                                            <div class="row" *ngFor="let historyItem of stockProduct.data.sales">
                                                                <!--FOR in Sale items (we are in a particular StockProduct) -->
                                                                <div class="col-sm-2 col-md-2 vcenter">
                                                                    <gg-date-pointer [date]="historyItem.date"></gg-date-pointer>
                                                                </div>
                                                                <div class="col-sm-2 col-md-2 vcenter">{{getUserName(historyItem.userId)}}</div>
                                                                <div class="col-sm-2 col-md-2 vcenter">
                                                                    <gg-editor-number [content]="historyItem.quantity" [readOnly]="true">
                                                                    </gg-editor-number>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </template>
                                </ngb-tab>
                                <ngb-tab title="Manual corrections of quantities {{(stockProduct.data.manualChanges || []).length < 1 ? '' : (' (' + stockProduct.data.manualChanges.length + ')') }}">
                                    <template ngbTabContent>
                                        <div class="card">
                                            <div class="card-block">

                                                <ngb-tabset>
                                                    <!--TABSET-->
                                                    <ngb-tab title="History of manual corrections">
                                                        <template ngbTabContent>
                                                            <div class="card">
                                                                <div class="card-block">
                                                                    <div class="col-sm-12 col-md-12">
                                                                        <div class="card">
                                                                            <div class="row">
                                                                                <div class="col-sm-2 col-md-2 vcenter">When?</div>
                                                                                <div class="col-sm-2 col-md-2 vcenter">Who entered the change?</div>
                                                                                <div class="col-sm-3 col-md-3 vcenter">How many where manually added?</div>
                                                                                <div class="col-sm-4 vcenter">Why?</div>
                                                                            </div>
                                                                            <div class="card" *ngIf="(stockProduct.data.manualChanges || []).length === 0">
                                                                                <div class="card-block">
                                                                                    <div class="centertextbox">No manual change yet</div>
                                                                                </div>
                                                                            </div>
                                                                            
                                                                            <div class="card" *ngIf="(stockProduct.data.manualChanges || []).length !== 0">
                                                                                <div class="row" *ngFor="let historyItem of stockProduct.data.manualChanges">
                                                                                    <!--FOR in Manual Changes items (we are in a particular StockProduct) -->
                                                                                    <div class="col-sm-2 col-md-2 vcenter">
                                                                                        <gg-date-pointer [date]="historyItem.date"></gg-date-pointer>
                                                                                    </div>
                                                                                    <div class="col-sm-2 col-md-2 vcenter">{{getUserName(historyItem.userId)}}</div>
                                                                                    <div class="col-sm-3 col-md-3 vcenter">
                                                                                        <gg-editor-number [content]="historyItem.quantity" [readOnly]="true">
                                                                                        </gg-editor-number>
                                                                                    </div>
                                                                                    <div class="col-sm-4 vcenter">{{historyItem.comment}}</div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </template>
                                                    </ngb-tab>
                                                    <ngb-tab title="Enter a manual correction">
                                                        <template ngbTabContent>
                                                            <div class="card">
                                                                <div class="card-block">


                                                                    <form [formGroup]="manualQuantityForm" (ngSubmit)="saveQuantityForm(stockProduct, manualQuantityForm.value, manualQuantityForm.valid)">
                                                                        <!--FORM-->
                                                                        <div class="form-group row">
                                                                            <label for="name" class="col-sm-3">why do we change the quantity:</label>
                                                                            <div class="col-sm-9">
                                                                                <input type="text" class="form-control" formControlName="comment" placeholder="comment/explication">
                                                                            </div>
                                                                        </div>

                                                                        <div class="form-group row">
                                                                            <label for="budgetBlocked" class="col-sm-3">quantity change (ex: -5 or 3):</label>
                                                                            <div class="col-sm-9">
                                                                                <input type="number" class="form-control" formControlName="quantityIncrement" placeholder="quantity increment. Ex.: -10">
                                                                            </div>
                                                                        </div>



                                                                        <div class="form-group row">
                                                                            <div class="col-sm-3 col-md-2 col-lg-2">
                                                                                <button class="btn btn-success" type="submit" [disabled]="!manualQuantityForm.valid">Submit</button>
                                                                            </div>
                                                                            <div class="col-sm-3 col-md-2 col-lg-2">
                                                                                <button class="btn btn-info" [disabled]="manualQuantityForm.pristine" (click)="resetForm()">Reset</button>
                                                                            </div>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </template>
                                                    </ngb-tab>
                                                </ngb-tabset>

                                            </div>
                                        </div>

                                    </template>
                                </ngb-tab>



                            </ngb-tabset>




                        </div>
                    </div>
                </div>
            </div>
        </template>
    </ngb-tab>
</ngb-tabset>