<div class="row" *ngIf="product && product.data">
	<div class="col-sm-2 col-md-2 vcenter">
		<gg-editor [content]="product.data.name" [showControls]="true" (editSaved)="descriptionUpdated($event)"></gg-editor>
	</div>
	<div class="col-sm-2 col-md-2 vcenter" *ngIf="showColumn('supplier')">{{product.annotation.supplierName}}</div>
	<div class="col-sm-2 col-md-2 vcenter">
		<gg-editor #prix [content]="product.data.price" [showControls]="true" [isMonetary]="true" (editSaved)="prixUpdated($event)"></gg-editor>
	</div>
	<div class="col-sm-3 col-md-3 vcenter" *ngIf="showColumn('category')"> 
		<gg-selector [selectableData]="selectableCategoriesObservable" [selectedIds]="selectedCategoryIdsObservable" 
		(selectionChanged)="categorySelectionChanged($event)" (selectionOptionAdded)="categoryHasBeenAdded($event)"></gg-selector>
	</div>
	<div class="col-sm-2 col-md-2 vcenter" *ngIf="showColumn('manip')"> 
		<gg-selector [selectableData]="selectableManipsObservable" [selectedIds]="selectedManipIdsObservable" 
		(selectionChanged)="manipSelectionChanged($event)"></gg-selector>
	</div>
	<div class="col-sm-2 col-md-2 vcenter">
		<gg-editor-number *ngIf="product.annotation.hasUserPermissionToShop" [content]="product.annotation.quantity" (editSaved)="quantityBasketUpdated($event)"></gg-editor-number>
		<div *ngIf="!product.annotation.hasUserPermissionToShop">(Contact Labmanager)</div>
	</div>
	<div class="col-sm-2 col-md-2 vcenter" *ngIf="product.annotation.totalPrice && showColumn('totalPrice')">{{product.annotation.totalPrice | currency:'EUR':true:'1.2-2'}}</div>
	<div class="col-sm-3 col-md-3 vcenter" *ngIf="product.annotation.otp && showColumn('otp')">{{product.annotation.otp.name}}</div>
	<div class="col-sm-2 col-md-2 vcenter" *ngIf="product.annotation.otp && !product.annotation.otp._id"><b>Otp problem!</b></div>
</div>