<div class="row">
	<div class="col-sm-4 vcenter">
		<gg-editor [content]="product.Description" [showControls]="true" (editSaved)="descriptionUpdated($event)"></gg-editor>
	</div>
	<div class="col-sm-2 vcenter">{{product.Prix | currency:'EUR':true:'1.2-2'}}</div>
	<div class="col-sm-4 vcenter"> 
		<gg-selector [selectableData]="selectableCategoriesObservable" [selectedIds]="selectedDataObservable" 
		(selectionChanged)="categorySelectionChanged($event)" (selectionOptionAdded)="categoryHasBeenAdded($event)"></gg-selector>
	</div>
</div>