<div class="row">
	<div class="col-sm-2 col-md-2 vcenter">
		<gg-editor [content]="product.data.Description" [showControls]="true" (editSaved)="descriptionUpdated($event)"></gg-editor>
	</div>
	<div class="col-sm-3 col-md-3 vcenter" *ngIf="showColumn('supplier')">{{product.annotation.supplierName}}</div>
	<div class="col-sm-2 col-md-2 vcenter">
		<gg-editor #prix [content]="product.data.Prix" [showControls]="true" [isMonetary]="true" (editSaved)="prixUpdated($event)"></gg-editor>
	</div>
	<div class="col-sm-4 col-md-4 vcenter" *ngIf="showColumn('category')"> 
		<gg-selector [selectableData]="selectableCategoriesObservable" [selectedIds]="selectedCategoryIdsObservable" 
		(selectionChanged)="categorySelectionChanged($event)" (selectionOptionAdded)="categoryHasBeenAdded($event)"></gg-selector>
	</div>
	<div class="col-sm-2 col-md-2 vcenter">
		<gg-editor-number [content]="product.annotation.quantity" (editSaved)="quantityBasketUpdated($event)"></gg-editor-number>
	</div>
	<div class="col-sm-2 col-md-2 vcenter" *ngIf="product.annotation.totalPrice && showColumn('totalPrice')">{{product.annotation.totalPrice | currency:'EUR':true:'1.2-2'}}</div>
	<div class="col-sm-3 col-md-3 vcenter" *ngIf="product.annotation.otp && showColumn('otp')">{{product.annotation.otp.Name}}</div>
	<div class="col-sm-2 col-md-2 vcenter" *ngIf="product.annotation.otp && !product.annotation.otp._id"><b>Otp problem!</b></div>
</div>