<div class="card" *ngIf="authorizationStatusInfo && authorizationStatusInfo.isLoggedIn">
	<div class="card-block">
		<ngb-tabset (tabChange)="beforeTabChange($event)" [activeId]="state.selectedTabId">
			<ngb-tab title="My account" id='tabMyAccount'>
				<template ngbTabContent>
					<div class="card">
						<div class="card-block">
							<div class="row">
								<div class="col-sm-3 ">
									<img *ngIf="!currentUser.annotation.fullName.includes('Sandrina')" src="../../images/unknown-person.png">
									<img *ngIf="currentUser.annotation.fullName.includes('Sandrina')" src="../../images/SandrinaEvrard.jpg">
								</div>
								<div class="col-sm-9 ">
									<div class="row">
										<div class="col-sm-2 col-lg-2">full name:</div>
										<div class="col-sm-6">{{currentUser.annotation.fullName}}</div>
									</div>
									<div class="row">
										<div class="col-sm-2 col-lg-2 vcenter">email:</div>
										<div class="col-sm-6 vcenter">
											<gg-editor [content]="currentUser.data.email" [showControls]="true" (editSaved)="emailUpdated($event)"></gg-editor>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-2 col-lg-2 vcenter">name:</div>
										<div class="col-sm-6 vcenter">
											<gg-editor [content]="currentUser.data.name" [showControls]="true" (editSaved)="nameUpdated($event)"></gg-editor>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-2 col-lg-2 vcenter">first name:</div>
										<div class="col-sm-6 vcenter">
											<gg-editor [content]="currentUser.data.firstName" [showControls]="true" (editSaved)="firstNameUpdated($event)"></gg-editor>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-2 col-lg-2 vcenter">password:</div>
										<div class="col-sm-6 vcenter">
											<gg-editor [content]="currentUser.data.password" [showControls]="true" (editSaved)="passwordUpdated($event)"></gg-editor>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</template>
			</ngb-tab>
			<ngb-tab title="My notes" id="tabNotes">
				<template ngbTabContent>
					<gg-comments [comments]="currentUser.data.notes" (commentsUpdated)="commentsUpdated($event)"></gg-comments>
				</template>
			</ngb-tab>
			<ngb-tab title="My basket" id="tabBaskets"  *ngIf="((suppliersWithBasketObservable |async) || []).length>0">
				<template ngbTabContent>
					<gg-supplier-list [path]="'mykrino|O:Baskets'" [state]="state.Baskets" (stateChanged)="childBasketsStateChanged($event)" [suppliersObservable]="suppliersWithBasketObservable" [initialTabInSupplierDetail]="'tabBasket'"></gg-supplier-list>
				</template>
			</ngb-tab>
			<ngb-tab title="My webshopping" id="tabVouchers">
				<template ngbTabContent>
					<div class="card">
						<div class="card-block">
							<ngb-tabset>
								<ngb-tab title="Order or use vouchers" id="tabOrderVouchers">
									<template ngbTabContent>
										<gg-supplier-list [suppliersObservable]="webSuppliersObservable" [initialTabInSupplierDetail]="'tabWebShopping'"></gg-supplier-list>
									</template>
								</ngb-tab>
								<ngb-tab title="My used vouchers" id="tabUsedVouchers">
									<template ngbTabContent>
										<gg-voucher-list [vouchersObservable]="webVouchersObservable" [focusOnVoucherUsage]="true" ></gg-voucher-list>
									</template>
								</ngb-tab>
							</ngb-tabset>
						</div>
					</div>
				</template>
			</ngb-tab>
			<ngb-tab title="My ordered products" id="tabProducts" *ngIf="((productsObservable |async) || []).length>0">
				<template ngbTabContent>
					<gg-product-list [productsObservable]="productsObservable" [state]="state.Products" [path]="'mykrino|O:Products'"  (stateChanged)="childProductsStateChanged($event)"></gg-product-list>
				</template>
			</ngb-tab>
			<ngb-tab title="My orders" id="tabOrders" *ngIf="((ordersObservable |async) || []).length>0">
				<template ngbTabContent>
					<gg-order-list [ordersObservable]="ordersObservable" [state]="state.Orders" [path]="'mykrino|O:Orders'" (stateChanged)="childOrdersStateChanged($event)"></gg-order-list>
				</template>
			</ngb-tab>
			<ngb-tab title="My stock orders" id="tabStockOrders" *ngIf="((stockOrdersObservable |async) || []).length>0">
				<template ngbTabContent>
					<gg-stock-order-list [state]="state.StockOrders" [path]="'mykrino|O:StockOrders'" [ordersObservable]="stockOrdersObservable"></gg-stock-order-list>
				</template>
			</ngb-tab>
			<ngb-tab title="My fridge orders" id="tabFridgeOrders" *ngIf="((fridgeOrdersObservable |async) || []).length>0">
				<template ngbTabContent>
					<gg-order-fridge-list [fridgeOrdersObservable]="fridgeOrdersObservable" [path]="'mykrino|O:FridgeOrders'" ></gg-order-fridge-list>
				</template>
			</ngb-tab>
			<ngb-tab title="My equipes" id="tabEquipes">
				<template ngbTabContent>
					<gg-equipe-list [equipesObservable]="equipesObservable" [state]="state.Equipes" [path]="'mykrino|O:Equipes'" (stateChanged)="childEquipesStateChanged($event)"></gg-equipe-list>
				</template>
			</ngb-tab>			
		</ngb-tabset>
	</div>
</div>