<div class="card" *ngIf="authorizationStatusInfo && authorizationStatusInfo.isLoggedIn">
	<div class="card-block">
		<ngb-tabset (tabChange)="beforeTabChange($event)" [activeId]="state.selectedTabId">
			<ngb-tab title="{{'MYKRINO.MENU.MY ACCOUNT' | translate}}" id='tabMyAccount'>
				<template ngbTabContent>
					<div class="card">
						<div class="card-block">
							<gg-user-info [user]="currentUser"></gg-user-info>
						</div>
					</div>
				</template>
			</ngb-tab>
			<ngb-tab title="{{'MYKRINO.MENU.MY NOTES' | translate}}" id="tabNotes">
				<template ngbTabContent>
					<gg-comments [comments]="currentUser.data.notes" (commentsUpdated)="commentsUpdated($event)"></gg-comments>
				</template>
			</ngb-tab>
			<ngb-tab title="{{'MYKRINO.MENU.MY BASKET(S)' | translate}}" id="tabMainBaskets" *ngIf="!authorizationStatusInfo.isPassiveUser() && ((suppliersWithBasketObservable |async) || []).length>0 || ((suppliersWithNonUrgentBasketObservable |async) || []).length>0">
				<template ngbTabContent>
					<div class="card">
						<div class="card-block">
							<ngb-tabset>
								<ngb-tab title="{{'MYKRINO.MENU.MY BASKET(S)' | translate}}" id="tabBaskets"  *ngIf="((suppliersWithBasketObservable |async) || []).length>0">
									<template ngbTabContent>
										<gg-supplier-list [path]="'mykrino|O:Baskets'" [state]="state.Baskets" (stateChanged)="childBasketsStateChanged($event)" [suppliersObservable]="suppliersWithBasketObservable" [initialTabInSupplierDetail]="'tabBasket'"></gg-supplier-list>
									</template>
								</ngb-tab>
								<ngb-tab title="{{'MYKRINO.MENU.NON URGENT BASKET(S)' | translate}}" id="tabNonUrgentBaskets"  *ngIf="((suppliersWithNonUrgentBasketObservable |async) || []).length>0">
									<template ngbTabContent>
										<gg-supplier-list [path]="'mykrino|O:NonUrgentBaskets'" [state]="state.NonUrgentBaskets" (stateChanged)="childNonUrgentBasketsStateChanged($event)" 
															[suppliersObservable]="suppliersWithNonUrgentBasketObservable" [initialTabInSupplierDetail]="'tabGroupedBasket'"></gg-supplier-list>
									</template>
								</ngb-tab>
							</ngb-tabset>
						</div>
					</div>
				</template>
			</ngb-tab>
			<ngb-tab id="tabVouchers">
				<template ngbTabTitle>{{'MYKRINO.MENU.MY WEBSHOPPING VOUCHERS' | translate}}</template>
				<template ngbTabContent>
					<div class="card">
						<div class="card-block">
							<ngb-tabset>
								<ngb-tab id="tabOrderVouchers" >
									<template ngbTabTitle>{{'MYKRINO.MENU.MY AVAILABLE VOUCHERS' | translate}} <gg-help-pointer [helpText]="'MYKRINO.HELP.NEW VOUCHERS' | translate"></gg-help-pointer></template>
									<template ngbTabContent>
										<gg-supplier-list [suppliersObservable]="webSuppliersObservable" [initialTabInSupplierDetail]="'tabWebShopping'"></gg-supplier-list>
									</template>
								</ngb-tab>
								<ngb-tab title="{{'MYKRINO.MENU.MY USED VOUCHERS' | translate}}" id="tabUsedVouchers">
									<template ngbTabContent>
										<gg-voucher-list [vouchersObservable]="webVouchersObservable" [focusOnVoucherUsage]="true" ></gg-voucher-list>
									</template>
								</ngb-tab>
							</ngb-tabset>
						</div>
					</div>
				</template>
			</ngb-tab>
			<ngb-tab title="{{'MYKRINO.MENU.MY ORDERED PRODUCTS'  | translate}}" id="tabProducts" *ngIf="((productsObservable |async) || []).length>0">
				<template ngbTabContent>
					<gg-product-list [productsObservable]="productsObservable" [state]="state.Products" [path]="'mykrino|O:Products'"  (stateChanged)="childProductsStateChanged($event)"></gg-product-list>
				</template>
			</ngb-tab>
			<ngb-tab title="{{'MYKRINO.MENU.MY ORDERS'  | translate}}" id="tabOrders" >
				<template ngbTabContent>
					<gg-order-list [ordersObservable]="ordersObservable" [state]="state.Orders" [path]="'mykrino|O:Orders'" (stateChanged)="childOrdersStateChanged($event)"></gg-order-list>
				</template>
			</ngb-tab>
			<ngb-tab title="{{'MYKRINO.MENU.MY STOCK ORDERS' | translate}}" id="tabStockOrders" >
				<template ngbTabContent>
					<gg-stock-order-list [state]="state.StockOrders" [path]="'mykrino|O:StockOrders'" [ordersObservable]="stockOrdersObservable"></gg-stock-order-list>
				</template>
			</ngb-tab>
			<ngb-tab title="{{'MYKRINO.MENU.MY FRIDGE ORDERS' | translate}}" id="tabFridgeOrders" >
				<template ngbTabContent>
					<gg-order-fridge-list [fridgeOrdersObservable]="fridgeOrdersObservable" [path]="'mykrino|O:FridgeOrders'" ></gg-order-fridge-list>
				</template>
			</ngb-tab>
			<ngb-tab title="{{'MYKRINO.MENU.MY VOUCHER ORDERS' | translate}}" id="tabVoucherOrders" >
				<template ngbTabContent>
					<gg-voucher-list [vouchersObservable]="webVouchersObservable" [focusOnVoucherUsage]="true" ></gg-voucher-list>
				</template>
			</ngb-tab>
			<ngb-tab title="{{'MYKRINO.MENU.MY EQUIPES' | translate}}" id="tabEquipes">
				<template ngbTabContent>
					<gg-equipe-list [equipesObservable]="equipesObservable" [state]="state.Equipes" [path]="'mykrino|O:Equipes'" (stateChanged)="childEquipesStateChanged($event)"></gg-equipe-list>
				</template>
			</ngb-tab>			
		</ngb-tabset>
	</div>
</div>