<div class="card" *ngIf="authorizationStatusInfo?.isLoggedIn">
	<div class="card-body">
		<ngb-tabset (tabChange)="beforeTabChange($event)" [activeId]="state.selectedTabId">
			<ngb-tab title="{{'MYKRINO.MENU.MY ACCOUNT' | translate}}" id='tabMyAccount'>
				<ng-template ngbTabContent>
					<gg-user-info [user]="currentUser"></gg-user-info>
				</ng-template>
			</ngb-tab>
			<ngb-tab title="{{'MYKRINO.MENU.MY NOTES' | translate}}" id="tabNotes">
				<ng-template ngbTabContent>
					<gg-comments [comments]="currentUser.data.notes" (commentsUpdated)="commentsUpdated($event)"></gg-comments>
				</ng-template>
			</ngb-tab>
			<ngb-tab title="{{'MYKRINO.MENU.MY BASKET(S)' | translate}}" id="tabMainBaskets" *ngIf="!authorizationStatusInfo.isPassiveUser() && ((suppliersWithBasketObservable |async) || []).length>0 || ((suppliersWithNonUrgentBasketObservable |async) || []).length>0">
				<ng-template ngbTabContent>
					<div class="card">
						<div class="card-body">
							<ngb-tabset>
								<ngb-tab title="{{'MYKRINO.MENU.MY BASKET(S)' | translate}}" id="tabBaskets" *ngIf="((suppliersWithBasketObservable |async) || []).length>0">
									<ng-template ngbTabContent>
										<gg-supplier-list [path]="'mykrino|O:Baskets'" [state]="state.Baskets" (stateChanged)="childBasketsStateChanged($event)"
										 [suppliersObservable]="suppliersWithBasketObservable" [initialTabInSupplierDetail]="'tabBasket'"></gg-supplier-list>
									</ng-template>
								</ngb-tab>
								<ngb-tab title="{{'MYKRINO.MENU.NON URGENT BASKET(S)' | translate}}" id="tabNonUrgentBaskets" *ngIf="((suppliersWithNonUrgentBasketObservable |async) || []).length>0">
									<ng-template ngbTabContent>
										<gg-supplier-list [path]="'mykrino|O:NonUrgentBaskets'" [state]="state.NonUrgentBaskets" (stateChanged)="childNonUrgentBasketsStateChanged($event)"
										 [suppliersObservable]="suppliersWithNonUrgentBasketObservable" [initialTabInSupplierDetail]="'tabGroupedBasket'"></gg-supplier-list>
									</ng-template>
								</ngb-tab>
							</ngb-tabset>
						</div>
					</div>
				</ng-template>
			</ngb-tab>
			<ngb-tab id="tabVouchers">
				<ng-template ngbTabTitle>{{'MYKRINO.MENU.MY WEBSHOPPING VOUCHERS' | translate}}</ng-template>
				<ng-template ngbTabContent>
					<div class="card">
						<div class="card-body">
							<ngb-tabset>
								<ngb-tab id="tabOrderVouchers">
									<ng-template ngbTabTitle>{{'MYKRINO.MENU.MY AVAILABLE VOUCHERS' | translate}}
										<gg-help-pointer [helpText]="'MYKRINO.HELP.NEW VOUCHERS' | translate"></gg-help-pointer>
									</ng-template>
									<ng-template ngbTabContent>
										<gg-supplier-list [suppliersObservable]="webSuppliersObservable" [initialTabInSupplierDetail]="'tabWebShopping'"></gg-supplier-list>
									</ng-template>
								</ngb-tab>
								<ngb-tab title="{{'MYKRINO.MENU.MY USED VOUCHERS' | translate}}" id="tabUsedVouchers">
									<ng-template ngbTabContent>
										<gg-voucher-list [vouchersObservable]="webVouchersObservable" [focusOnVoucherUsage]="true"></gg-voucher-list>
									</ng-template>
								</ngb-tab>
							</ngb-tabset>
						</div>
					</div>
				</ng-template>
			</ngb-tab>
			<ngb-tab title="{{'MYKRINO.MENU.MY ORDERED PRODUCTS'  | translate}}" id="tabProducts" *ngIf="((productsObservable |async) || []).length>0">
				<ng-template ngbTabContent>
					<gg-product-list [productsObservable]="productsObservable" [state]="state.Products" [path]="'mykrino|O:Products'" (stateChanged)="childProductsStateChanged($event)"></gg-product-list>
				</ng-template>
			</ngb-tab>
			<ngb-tab title="{{'MYKRINO.MENU.MY ORDERS'  | translate}}" id="tabOrders">
				<ng-template ngbTabContent>
					<gg-order-list [ordersObservable]="ordersObservable" [state]="state.Orders" [path]="'mykrino|O:Orders'" (stateChanged)="childOrdersStateChanged($event)"></gg-order-list>
				</ng-template>
			</ngb-tab>
			<ngb-tab title="{{'MYKRINO.MENU.MY STOCK ORDERS' | translate}}" id="tabStockOrders">
				<ng-template ngbTabContent>
					<gg-stock-order-list [state]="state.StockOrders" [path]="'mykrino|O:StockOrders'" [ordersObservable]="stockOrdersObservable"></gg-stock-order-list>
				</ng-template>
			</ngb-tab>
			<ngb-tab title="{{'MYKRINO.MENU.MY FRIDGE ORDERS' | translate}}" id="tabFridgeOrders">
				<ng-template ngbTabContent>
					<gg-order-fridge-list [fridgeOrdersObservable]="fridgeOrdersObservable" [path]="'mykrino|O:FridgeOrders'"></gg-order-fridge-list>
				</ng-template>
			</ngb-tab>
			<ngb-tab title="{{'MYKRINO.MENU.MY VOUCHER ORDERS' | translate}}" id="tabVoucherOrders">
				<ng-template ngbTabContent>
					<gg-voucher-list [vouchersObservable]="webVouchersObservable" [focusOnVoucherUsage]="true"></gg-voucher-list>
				</ng-template>
			</ngb-tab>
			<ngb-tab title="{{'MYKRINO.MENU.MY EQUIPES' | translate}}" id="tabEquipes">
				<ng-template ngbTabContent>
					<gg-equipe-list [equipesObservable]="equipesObservable" [state]="state.Equipes" [path]="'mykrino|O:Equipes'" (stateChanged)="childEquipesStateChanged($event)"></gg-equipe-list>
				</ng-template>
			</ngb-tab>
		</ngb-tabset>
	</div>
</div>