<div class="card">
    <div class="card-block">
        <div class="row">
            <ngb-accordion [closeOthers]="true" #acc="ngbAccordion" (panelChange)="beforeAccordionChange($event)" [activeIds]="state.openPanelId">
                <ngb-panel [disabled]="true">
                    <template ngbPanelTitle>
                        <div class="row">
                            <div class="col-sm-3"><b>Supplier</b></div>
                            <div class="col-sm-4"><b>Category</b></div>
                            <div class="col-sm-4"><b>User</b></div>
                        </div>
                    </template>
                    <template ngbPanelContent>
                    </template>
                </ngb-panel>
                <ngb-panel *ngFor="let request of openRequestsObservable | async" [id]="request.userId+'|'+request.supplierId+'|'+request.categoryId">
                    <template ngbPanelTitle>
                        <div class="row">
                            <div class="col-sm-3">{{request.supplierName}}</div>
                            <div class="col-sm-4">{{request.categoryName}}</div>
                            <div class="col-sm-4">{{request.userName}}</div>
                        </div>
                    </template>
                    <template ngbPanelContent>
                        <div class="card">
                            <div class="card-block">
                                <h4>{{request.quantity + ' requested'}}</h4>
                            </div>
                        </div>
                    </template>
                </ngb-panel>
            </ngb-accordion>
        </div>
    </div>
</div>