<div class="card-block">
    <ngb-tabset>
        <!-- (tabChange)="beforeTabChange($event)" [activeId]="initTabId"-->
        <ngb-tab title="List of products" id="tabListOfProducts">
            <template ngbTabContent>
                <div class="card">
                    <div class="card-block">

                        <gg-search-box [objectTypeTranslationKey]="'MARKET PRODUCTS'" [objectsObservable]="productsObservable" [fnFilterObjects]="fnFilterProduct"
                            (listChanged)="productsList = $event">
                            <ul searchHelp>
                                <li>{{'PUBLIC.MARKET.SEARCH HELP.MSG1' | translate}}</li>
                                <li>{{'PUBLIC.MARKET.SEARCH HELP.MSG2' | translate}}</li>
                                <li>{{'PUBLIC.MARKET.SEARCH HELP.MSG3' | translate}}</li>
                                <li>{{'PUBLIC.MARKET.SEARCH HELP.MSG4' | translate}}</li>
                            </ul>

                            <div accordion class="card">
                                <div class="card-block">

                                    <div class="row">
                                        <div class="col-sm-2 vcenter">
                                            <b>{{'PRODUCT.COLUMN.PRODUCT' | translate}}</b>
                                        </div>
                                        <div class="col-sm-2 vcenter">
                                            <b>{{'PRODUCT.COLUMN.PACKAGE' | translate}}</b>
                                        </div>
                                        <div class="col-sm-3 vcenter">
                                            <b>{{'PRODUCT.COLUMN.SUPPLIER' | translate}}</b>
                                        </div>
                                        <div class="col-sm-3 vcenter">
                                            <b>{{'PRODUCT.COLUMN.CATALOG NR' | translate}}</b>
                                        </div>
                                    </div>

                                    <div class="row" *ngFor="let product of productsList">
                                        <!--FOR-->
                                        <div class="row">
                                            <div class="col-sm-2 vcenter">{{product.data.name}}</div>
                                            <div class="col-sm-2 vcenter">{{product.data.package}}</div>
                                            <div class="col-sm-3 vcenter">{{product.annotation.suppliersTxt}}</div>
                                            <div class="col-sm-3 vcenter">{{product.annotation.catNrTxt}}</div>
                                            <div class="col-sm-1 vcenter" *ngIf="product.data.items.length > 0">
                                                <button type="button" class="btn btn-link" (click)="product.isClosed=!product.isClosed">{{'GENERAL.TOGGLE DETAILS' | translate}}</button>
                                            </div>
                                        </div>

                                        <div class="row" [ngbCollapse]="!product.isClosed">
                                            <!--Only for grouped baskets-->
                                            <div class="col-sm-12 col-md-12">
                                                <div class="card">
                                                    <div class="row">
                                                        <div class="col-sm-1 vcenter">{{'PRODUCT.COLUMN.WHEN' | translate}}</div>
                                                        <div class="col-sm-2 vcenter">{{'PRODUCT.COLUMN.WHO' | translate}}</div>
                                                        <div class="col-sm-2 vcenter">{{'PRODUCT.COLUMN.SUPPLIER' | translate}}</div>
                                                        <div class="col-sm-2 vcenter">{{'PRODUCT.COLUMN.CATALOG NR' | translate}}</div>
                                                        <div class="col-sm-1 vcenter">{{'PRODUCT.COLUMN.PRICE' | translate}}</div>
                                                        <div class="col-sm-2 vcenter">{{'PRODUCT.COLUMN.JUSTIFICATION' | translate}}</div>
                                                    </div>
                                                    <div class="card">
                                                        <div class="row" *ngFor="let item of product.annotation.items; let itemPos = index">
                                                            <!--FOR-->
                                                            <div class="row">
                                                                <div class="col-sm-1 vcenter">
                                                                    <gg-date-pointer [date]="item.data.date"></gg-date-pointer>
                                                                </div>
                                                                <div class="col-sm-2 vcenter">{{item.annotation.user}}</div>
                                                                <div class="col-sm-2 vcenter">{{item.data.supplier}}</div>
                                                                <div class="col-sm-2 vcenter">{{item.data.catalogNr}}</div>
                                                                <div class="col-sm-1 vcenter">{{item.data.price | currency:'EUR':true:'1.2-2'}}</div>
                                                                <div class="col-sm-2 vcenter">{{item.data.justification}}</div>
                                                                <div class="col-sm-1 vcenter" *ngIf="(item.data.documents || []).length > 0">
                                                                    <button type="button" class="btn btn-link" (click)="item.annotation.isClosed=!item.annotation.isClosed">{{'PUBLIC.MARKET.ACTION.SHOW/HIDE DOCS' | translate}}</button>
                                                                </div>
                                                            </div>
                                                            <div class="row" [ngbCollapse]="!item.annotation.isClosed" *ngIf="(item.data.documents || []).length > 0">
                                                                <div class="card">
                                                                    <div class="card-block">
                                                                        <ngb-tabset>
                                                                            <ngb-tab title="Carousel">
                                                                                <template ngbTabContent>
                                                                                    <div class="card">
                                                                                        <div class="card-block">
                                                                                            <ngb-carousel>
                                                                                                <div *ngFor="let document of (item.data.documents || [])">
                                                                                                    <template ngbSlide>
                                                                                                        <img [src]="dataStore.getPictureUrl(document.filename)">
                                                                                                        <div class="carousel-caption">
                                                                                                        </div>
                                                                                                    </template>
                                                                                                </div>
                                                                                            </ngb-carousel>
                                                                                        </div>
                                                                                    </div>
                                                                                </template>
                                                                            </ngb-tab>
                                                                            <ngb-tab title="Actions">
                                                                                <template ngbTabContent>
                                                                                    <div class="card">
                                                                                        <div class="card-block">
                                                                                            <div class="row" *ngFor="let document of (item.data.documents || []); let docPos = index">  <!--FOR-->
                                                                                                <div class="col-sm-3 vcenter">
                                                                                                    <img style="max-width:50%;max-height:50%" [src]="dataStore.getPictureUrl(document.filename)">
                                                                                                </div>
                                                                                                <div class="col-sm-2 vcenter">
                                                                                                    <gg-checkbox-delete [typeObjectKey]="'PUBLIC.MARKET.DOCUMENT'" (doDelete)="deleteDocument(product, itemPos, docPos)"></gg-checkbox-delete>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </template>
                                                                            </ngb-tab>
                                                                        </ngb-tabset>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </gg-search-box>
                    </div>
                </div>
            </template>
        </ngb-tab>
        <ngb-tab title="Enter new product" id="tabEnterNewProduct">
            <template ngbTabContent>
                <gg-enter-market-product></gg-enter-market-product>
            </template>
        </ngb-tab>
    </ngb-tabset>
</div>