<div class="card-body">
    <ngb-tabset>
        <!-- (tabChange)="beforeTabChange($event)" [activeId]="initTabId"-->
        <ngb-tab title="List of products" id="tabListOfProducts">
            <ng-template ngbTabContent>
                <div class="card">
                    <div class="card-body">

                        <gg-search-box [objectTypeTranslationKey]="'MARKET PRODUCTS'" [objectsObservable]="productsObservable" [fnFilterObjects]="fnFilterProduct"
                            (listChanged)="productsList = $event">
                            <ul searchHelp>
                                <li>{{'PUBLIC.MARKET.SEARCH HELP.MSG1' | translate}}</li>
                                <li>{{'PUBLIC.MARKET.SEARCH HELP.MSG2' | translate}}</li>
                                <li>{{'PUBLIC.MARKET.SEARCH HELP.MSG3' | translate}}</li>
                                <li>{{'PUBLIC.MARKET.SEARCH HELP.MSG4' | translate}}</li>
                            </ul>

                            <div accordion class="card">
                                <div class="card-body">

                                    <div class="row">
                                        <div class="col-sm-2 align-self-center">
                                            <b>{{'PRODUCT.COLUMN.PRODUCT' | translate}}</b>
                                        </div>
                                        <div class="col-sm-2 align-self-center">
                                            <b>{{'PRODUCT.COLUMN.PACKAGE' | translate}}</b>
                                        </div>
                                        <div class="col-sm-3 align-self-center">
                                            <b>{{'PRODUCT.COLUMN.SUPPLIER' | translate}}</b>
                                        </div>
                                        <div class="col-sm-3 align-self-center">
                                            <b>{{'PRODUCT.COLUMN.CATALOG NR' | translate}}</b>
                                        </div>
                                    </div>

                                    <div class="row" *ngFor="let product of productsList">
                                        <!--FOR-->
                                        <div class="row">
                                            <div class="col-sm-2 align-self-center">{{product.data.name}}</div>
                                            <div class="col-sm-2 align-self-center">{{product.data.package}}</div>
                                            <div class="col-sm-3 align-self-center">{{product.annotation.suppliersTxt}}</div>
                                            <div class="col-sm-3 align-self-center">{{product.annotation.catNrTxt}}</div>
                                            <div class="col-sm-1 align-self-center" *ngIf="product.data.items.length > 0">
                                                <button type="button" class="btn btn-link" (click)="product.isClosed=!product.isClosed">{{'GENERAL.TOGGLE DETAILS' | translate}}</button>
                                            </div>
                                        </div>

                                        <div class="row" [ngbCollapse]="!product.isClosed">
                                            <div class="col-sm-12 col-md-12">
                                                <div class="card">
                                                    <div class="row">
                                                        <div class="col-sm-1 align-self-center">{{'PRODUCT.COLUMN.WHEN' | translate}}</div>
                                                        <div class="col-sm-2 align-self-center">{{'PRODUCT.COLUMN.WHO' | translate}}</div>
                                                        <div class="col-sm-2 align-self-center">{{'PRODUCT.COLUMN.SUPPLIER' | translate}}</div>
                                                        <div class="col-sm-2 align-self-center">{{'PRODUCT.COLUMN.CATALOG NR' | translate}}</div>
                                                        <div class="col-sm-1 align-self-center">{{'PRODUCT.COLUMN.PRICE' | translate}}</div>
                                                        <div class="col-sm-2 align-self-center">{{'PRODUCT.COLUMN.JUSTIFICATION' | translate}}</div>
                                                    </div>
                                                    <div class="card">
                                                        <div class="row" *ngFor="let item of product.annotation.items; let itemPos = index">
                                                            <!--FOR-->
                                                            <div class="row">
                                                                <div class="col-sm-1 align-self-center">
                                                                    <gg-date-pointer [date]="item.data.date"></gg-date-pointer>
                                                                </div>
                                                                <div class="col-sm-2 align-self-center">{{item.annotation.user}}</div>
                                                                <div class="col-sm-2 align-self-center"><gg-editor [readOnly]="!isUser(item)" [content]="item.data.supplier" [showControls]="true" (editSaved)="supplierChanged($event, product, itemPos)"></gg-editor></div>
                                                                <div class="col-sm-2 align-self-center"><gg-editor [readOnly]="!isUser(item)" [content]="item.data.catalogNr" [showControls]="true" (editSaved)="catalogNrChanged($event, product, itemPos)"></gg-editor></div>
                                                                <div class="col-sm-1 align-self-center"><gg-editor [readOnly]="!isUser(item)" [content]="item.data.price" [showControls]="true" [isMonetary]="true" (editSaved)="priceChanged($event, product, itemPos)"></gg-editor></div>
                                                                <div class="col-sm-2 align-self-center"><gg-editor [readOnly]="!isUser(item)" [content]="item.data.justification" [showControls]="true" (editSaved)="justificationChanged($event, product, itemPos)"></gg-editor></div>
                                                                <div class="col-sm-1 align-self-center" *ngIf="(item.data.documents || []).length > 0">
                                                                    <button type="button" class="btn btn-link" (click)="item.annotation.isClosed=!item.annotation.isClosed">{{'PUBLIC.MARKET.ACTION.SHOW/HIDE DOCS' | translate}}</button>
                                                                </div>
                                                            </div>
                                                            <div class="row" [ngbCollapse]="!item.annotation.isClosed" *ngIf="(item.data.documents || []).length > 0">
                                                                <div class="card">
                                                                    <div class="card-body">
                                                                        <ngb-tabset>
                                                                            <ngb-tab title="{{'PUBLIC.MARKET.MENU.CAROUSEL' | translate}}">
                                                                                <ng-template ngbTabContent>
                                                                                    <div class="card">
                                                                                        <div class="card-body">
                                                                                            <ngb-carousel>
                                                                                                <div *ngFor="let document of (item.data.documents || [])">
                                                                                                    <ng-template ngbSlide>
                                                                                                        <img [src]="dataStore.getPictureUrl(document.filename)">
                                                                                                        <div class="carousel-caption">
                                                                                                        </div>
                                                                                                    </ng-template>
                                                                                                </div>
                                                                                            </ngb-carousel>
                                                                                        </div>
                                                                                    </div>
                                                                                </ng-template>
                                                                            </ngb-tab>
                                                                            <ngb-tab title="{{'PUBLIC.MARKET.MENU.DELETE DOC' | translate}}">
                                                                                <ng-template ngbTabContent>
                                                                                    <div class="card">
                                                                                        <div class="card-body">
                                                                                            <div class="row" *ngFor="let document of (item.data.documents || []); let docPos = index">
                                                                                                <!--FOR-->
                                                                                                <div class="col-sm-3 align-self-center">
                                                                                                    <img style="max-width:50%;max-height:50%" [src]="dataStore.getPictureUrl(document.filename)">
                                                                                                </div>
                                                                                                <div class="col-sm-2 align-self-center" *ngIf="isUser(item)">
                                                                                                    <gg-checkbox-delete [typeObjectKey]="'PUBLIC.MARKET.DOCUMENT'" (doDelete)="deleteDocument(product, itemPos, docPos)"></gg-checkbox-delete>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </ng-template>
                                                                            </ngb-tab>
                                                                            <ngb-tab title="{{'PUBLIC.MARKET.MENU.ADD DOC' | translate}}"  *ngIf="isUser(item)">
                                                                                <ng-template ngbTabContent>
                                                                                    <div class="card">
                                                                                        <div class="card-body">
                                                                                            <image-upload [url]="dataStore.getUploadUrl()" [max]="1" (uploadFinished)="onUploadFinished(product, itemPos,$event)"
                                                                                                [buttonCaption]="'PUBLIC.MARKET.SELECT IMAGES' | translate" [dropBoxMessage]="'PUBLIC.MARKET.DROP YOUR IMAGES HERE' | translate" [clearButtonCaption]="'PUBLIC.MARKET.CLEAR' | translate">
                                                                                            </image-upload>
                                                                                        </div>
                                                                                    </div>
                                                                                </ng-template>
                                                                            </ngb-tab>
                                                                        </ngb-tabset>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </gg-search-box>
                    </div>
                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab title="Enter new product" id="tabEnterNewProduct">
            <ng-template ngbTabContent>
                <gg-enter-market-product></gg-enter-market-product>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>