<div class="comment__l-meta">
  <div class="comment__user-picture">
    <img src="../../images/user.png">
  </div>
  <div class="comment__user-name">{{user.fullName}}</div>
  <div class="comment__time"><gg-date-pointer [date]="time"></gg-date-pointer></div>
</div>
<div class="comment__l-main">
  <div class="comment__message">
    <gg-editor [content]="content"
                [editMode]="false" [showControls]="true"
                (editSaved)="onEditSaved($event)">
    </gg-editor>
  </div>
</div>
